node-red code.txt
[{"id":"8886b422.0bd738","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"66e6ce19.241c6","x":280,"y":100,"wires":[["ecd99634.e97ca8"]]},{"id":"953fe853.1767c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"mqtt thingspeak out","topic":"","qos":"","retain":"","broker":"7153c242.194b6c","x":1159,"y":227,"wires":[]},{"id":"ecd99634.e97ca8","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":100,"wires":[["6b164c9d.d68674"]]},{"id":"e6aa98c4.9860a8","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":799,"y":167,"wires":[["953fe853.1767c8"]]},{"id":"6b164c9d.d68674","type":"switch","z":"bca64c3b.0e4c","name":"filter continuous update data","property":"shouldBeThrottled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":220,"wires":[["e6aa98c4.9860a8"],["953fe853.1767c8"]]},{"id":"b97b9e0d.e9a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":1180,"wires":[]},{"id":"991d953c.6bfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":880,"y":1260,"wires":[]},{"id":"50874117.1c25","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":880,"y":1220,"wires":[]},{"id":"d6243fa5.96dd3","type":"function","z":"bca64c3b.0e4c","name":"LightControl","func":"msg.brightness = context.global.OUDOORBRIGHTNESS;\nif(msg.brightness < 1.8){\n    msg.payload = 8;\n}else{\n    msg.payload = 0;\n}\nif(msg.hour >22 || msg.hour<5){\n    msg.payload = 3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":1300,"wires":[["b97b9e0d.e9a0c","50874117.1c25","991d953c.6bfb98","e23ed32.03b6f3"]]},{"id":"e23ed32.03b6f3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":880,"y":1300,"wires":[]},{"id":"c2a7fc0e.b2c67","type":"comment","z":"bca64c3b.0e4c","name":"OUT Door Light Controller Demo","info":"","x":171,"y":1093,"wires":[]},{"id":"4b7a6565.e46ecc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":229,"y":387,"wires":[["6bebbe99.60891"]]},{"id":"e736fa87.8959e8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":540,"wires":[["674e7044.a7374"]]},{"id":"38ee17fa.ce22a8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":260,"y":800,"wires":[["928227ed.102348"]]},{"id":"674e7044.a7374","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":700,"wires":[["928227ed.102348"],["38ee17fa.ce22a8"]]},{"id":"597ac6e7.798f58","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":540,"y":560,"wires":[["85c5bf9b.60ad5"],["bdcc9f95.a8607"],["d799b533.465368"],["1b3cb81d.93cc38"],["e2877e52.7e83b"],["3eb5ae2d.98ad32"],["41892989.da6bc8"],["5224e621.9efe58"],["693bfc7f.c526f4"],["f93d282f.cab398"],["6248ae6f.00ae3"],["be35175c.af9608"],["c239114c.dbf9e"],["35393e07.6eda62"],["30414441.9939ac"]]},{"id":"30414441.9939ac","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":830,"y":900,"wires":[]},{"id":"17bdcbea.e7aa84","type":"comment","z":"bca64c3b.0e4c","name":"IN Door Light Controller Demo","info":"","x":120,"y":340,"wires":[]},{"id":"43e9c6e5.ecce98","type":"mqtt in","z":"bca64c3b.0e4c","name":"Brightness_Capteur","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":210,"y":1420,"wires":[["a802ad.1d8b8d5"]]},{"id":"4f6e306c.6c226","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":980,"wires":[]},{"id":"a802ad.1d8b8d5","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":230,"y":1480,"wires":[["d9197eb0.85a2c"]]},{"id":"2dcdc346.3f9dfc","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1580,"wires":[["a7bc68ec.df0f18","60fd8a6c.f4fce4"]]},{"id":"b057f74b.d60808","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1420,"wires":[["e2f39a17.531ba8","da1b741f.e5e998"]]},{"id":"60fd8a6c.f4fce4","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1580,"wires":[["ffb968c6.3a7528"]]},{"id":"a7bc68ec.df0f18","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":780,"y":1540,"wires":[["fb5178df.c07218"]]},{"id":"da1b741f.e5e998","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1420,"wires":[["fb5178df.c07218"]]},{"id":"e2f39a17.531ba8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":780,"y":1460,"wires":[["ffb968c6.3a7528"]]},{"id":"c345706b.1ad3a","type":"mqtt in","z":"bca64c3b.0e4c","name":"Openness_Capteur","topic":"/home/J/Input/float/Roller_Shades_(Openness)","qos":"2","broker":"e6cc5916.4480c8","x":230,"y":4960,"wires":[["977337a0.fe68c8"]]},{"id":"977337a0.fe68c8","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":4960,"wires":[["2bd148e8.f7d678"]]},{"id":"2bd148e8.f7d678","type":"function","z":"bca64c3b.0e4c","name":"getOpenness","func":"if(context.global.OpennessGLOBAL === undefined){\n    context.global.set(\"OpennessGLOBAL\");\n}\ncontext.global.OpennessGLOBAL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":600,"y":4960,"wires":[]},{"id":"d9197eb0.85a2c","type":"function","z":"bca64c3b.0e4c","name":"modeChoose","func":"if(msg.payload < 4){\n    msg.payload = true;//close\n}else{\n    msg.payload = false;//open\n}\n// msg.s = global.get(\"OpennessGLOBAL\");\n// if(msg.payload){\n//     if(global.get(\"OpennessGLOBAL\") > 0){\n//         return msg;\n//     }\n// }else{\n//     if(global.get(\"OpennessGLOBAL\") < 10){\n//         return msg;\n//     }\n// }\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":1540,"wires":[["9ad9201a.15832"]]},{"id":"62b1684a.479258","type":"switch","z":"bca64c3b.0e4c","name":"choseUPDOWN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":1500,"wires":[["b057f74b.d60808"],["2dcdc346.3f9dfc"]]},{"id":"fb5178df.c07218","type":"function","z":"bca64c3b.0e4c","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1420,"wires":[["4f6e306c.6c226","27b0e718.852568","780b0c49.6c2004","c61ce339.b5e02","f906698.bc63498","e75e8aa1.bdfb98","15e8cc7c.6b5344","a5650383.634c6","c2e9fe96.991b5","a916fb6e.0ac3e8","9a67c72.534ce38","2db6bca2.59a074","6775ea7d.3c94c4"]]},{"id":"ffb968c6.3a7528","type":"function","z":"bca64c3b.0e4c","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1580,"wires":[["2db1ec9.e14ec14","831d7be9.fe1ba8","42ce3437.ce0f9c","e65fb6f4.a84758","59761d80.70add4","edf8af01.ac7fc","eca1f25c.3b4d4","507e3c44.c872a4","187c102f.073f1","7eb4bc13.f20294","7694c44.146f53c","8ac6a6a4.0b2d28","94e09e23.08506"]]},{"id":"27b0e718.852568","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1020,"wires":[]},{"id":"780b0c49.6c2004","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1060,"wires":[]},{"id":"2db1ec9.e14ec14","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1540,"wires":[]},{"id":"831d7be9.fe1ba8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1580,"wires":[]},{"id":"42ce3437.ce0f9c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1620,"wires":[]},{"id":"c61ce339.b5e02","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1100,"wires":[]},{"id":"e65fb6f4.a84758","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1660,"wires":[]},{"id":"da35981b.bee988","type":"comment","z":"bca64c3b.0e4c","name":"Volet automatique Demo","info":"","x":130,"y":1360,"wires":[]},{"id":"de1331af.19df7","type":"comment","z":"bca64c3b.0e4c","name":"Remote light","info":"","x":110,"y":2980,"wires":[]},{"id":"346ac213.382b0e","type":"comment","z":"bca64c3b.0e4c","name":"Openness detect Global","info":"","x":100,"y":4900,"wires":[]},{"id":"690e863e.7c4788","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":75,"y":1160,"wires":[["d7baa44f.d15938"]]},{"id":"de154b48.e4f118","type":"mqtt in","z":"bca64c3b.0e4c","name":"TimeLocal","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"e6cc5916.4480c8","x":190,"y":4800,"wires":[["5b599703.728638"]]},{"id":"5b599703.728638","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":4800,"wires":[["4a97e153.ba593"]]},{"id":"4a97e153.ba593","type":"function","z":"bca64c3b.0e4c","name":"ToTime","func":"var time = msg.payload.split(\" \");\nvar timeSplit = time[1];\nvar s = timeSplit.split(\":\");\nmsg.hour = s[0];\nmsg.minute = s[1];\nmsg.second = s[2];\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":4800,"wires":[["641feadd.92cb54"]]},{"id":"641feadd.92cb54","type":"function","z":"bca64c3b.0e4c","name":"timeTransfer","func":"\n\ncontext.global.time = 3600*msg.hour + 60*msg.minute + msg.second;\ncontext.global.hour = msg.hour;\ncontext.global.minute = msg.minute;\ncontext.global.second = msg.second;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":4800,"wires":[["7afd1fbc.0beb"]]},{"id":"59ce6b82.093514","type":"comment","z":"bca64c3b.0e4c","name":"Local_TIME","info":"","x":80,"y":4740,"wires":[]},{"id":"7afd1fbc.0beb","type":"link out","z":"bca64c3b.0e4c","name":"TIME","links":["690e863e.7c4788","bad62d74.07d9b","b9ba313c.37601","5b385c8f.92c5b4","fbcabed1.c0695","fc500d63.dbc72","8e7838cf.99e638"],"x":775,"y":4800,"wires":[]},{"id":"58e844a2.262cbc","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":109,"y":47,"wires":[[]]},{"id":"d7baa44f.d15938","type":"function","z":"bca64c3b.0e4c","name":"TimeSetter","func":"msg.hour = context.global.hour;\nreturn msg;\n","outputs":1,"noerr":0,"x":200,"y":1160,"wires":[["65806d8b.cb1944"]]},{"id":"806ca5b1.64ce88","type":"ui_dropdown","z":"bca64c3b.0e4c","name":"Room","label":"","place":"","group":"8afd9e0b.b8999","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"Entrance","value":"Entrance","type":"str"},{"label":"OutSide","value":"OutSide","type":"str"}],"payload":"","topic":"","x":150,"y":3080,"wires":[["4035179a.073438"]]},{"id":"1a657134.af870f","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"},{"t":"eq","v":"OutSide","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":700,"y":3060,"wires":[["784cef3e.5b2e"],["3999ee3.765a612"],["2bd71789.e0fdc8"],["a82e76c2.473bf8"],["59b9a149.32db7"],["c9508676.c6d838"],["d4f3c555.e49308"],["e5eaf30.a17a31"],["96a3e2e2.38b2f"],["292adbea.1693a4"],["ca83135f.13072"],["386f9135.e3be2e"],["ca386b35.edf818"],["647a236c.f474fc"],["8164a9ff.6f9d88"],["28924bbb.c1d234","8bdfb0fe.d75cf","33e2a87c.0ad468","b4f5e328.45dc2"]]},{"id":"784cef3e.5b2e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":2760,"wires":[]},{"id":"2bd71789.e0fdc8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":2840,"wires":[]},{"id":"59b9a149.32db7","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":2920,"wires":[]},{"id":"d4f3c555.e49308","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3000,"wires":[]},{"id":"e5eaf30.a17a31","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3040,"wires":[]},{"id":"292adbea.1693a4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3120,"wires":[]},{"id":"ca83135f.13072","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3160,"wires":[]},{"id":"386f9135.e3be2e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3200,"wires":[]},{"id":"ca386b35.edf818","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1250,"y":3240,"wires":[]},{"id":"8164a9ff.6f9d88","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1160,"y":3320,"wires":[]},{"id":"3999ee3.765a612","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2800,"wires":[["89b86611.367558","9614041d.65c5b8"]]},{"id":"89b86611.367558","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2780,"wires":[]},{"id":"9614041d.65c5b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2820,"wires":[]},{"id":"a82e76c2.473bf8","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2880,"wires":[["244bf3bc.9d854c","25790ccf.fd5284"]]},{"id":"c9508676.c6d838","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":2960,"wires":[["c5d1d6f3.377538","64a405b7.17279c"]]},{"id":"96a3e2e2.38b2f","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":3080,"wires":[["3541cc1.6368034","d452ace7.ba4a"]]},{"id":"647a236c.f474fc","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1200,"y":3280,"wires":[["f3e67ebe.6eee","e2f1027b.abd7c","b215b875.fd75a8"]]},{"id":"25790ccf.fd5284","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2900,"wires":[]},{"id":"244bf3bc.9d854c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2860,"wires":[]},{"id":"64a405b7.17279c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2980,"wires":[]},{"id":"c5d1d6f3.377538","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":2940,"wires":[]},{"id":"3541cc1.6368034","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1710,"y":3047,"wires":[]},{"id":"d452ace7.ba4a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1710,"y":3107,"wires":[]},{"id":"f3e67ebe.6eee","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":3233,"wires":[]},{"id":"e2f1027b.abd7c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":3273,"wires":[]},{"id":"b215b875.fd75a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1700,"y":3313,"wires":[]},{"id":"4035179a.073438","type":"function","z":"bca64c3b.0e4c","name":"set room","func":"if(context.global.Lroom === undefined){\n    context.global.set(\"Lroom\");\n}\ncontext.global.Lroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":3080,"wires":[["28d83641.a198da","4b0931a6.60efc"]]},{"id":"4b0931a6.60efc","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":470,"y":3140,"wires":[["f4d2bb0c.040968"]]},{"id":"28d83641.a198da","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":470,"y":3020,"wires":[["f4d2bb0c.040968"]]},{"id":"f906698.bc63498","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1160,"wires":[]},{"id":"59761d80.70add4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1720,"wires":[]},{"id":"e75e8aa1.bdfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1200,"wires":[]},{"id":"edf8af01.ac7fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1760,"wires":[]},{"id":"15e8cc7c.6b5344","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1240,"wires":[]},{"id":"eca1f25c.3b4d4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1800,"wires":[]},{"id":"a5650383.634c6","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1280,"wires":[]},{"id":"507e3c44.c872a4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1840,"wires":[]},{"id":"c2e9fe96.991b5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1320,"wires":[]},{"id":"187c102f.073f1","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":1880,"wires":[]},{"id":"a916fb6e.0ac3e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1360,"wires":[]},{"id":"7eb4bc13.f20294","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1920,"wires":[]},{"id":"9a67c72.534ce38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1400,"wires":[]},{"id":"7694c44.146f53c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1960,"wires":[]},{"id":"2db6bca2.59a074","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1440,"wires":[]},{"id":"6775ea7d.3c94c4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1370,"y":1480,"wires":[]},{"id":"8ac6a6a4.0b2d28","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":2000,"wires":[]},{"id":"94e09e23.08506","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1380,"y":2040,"wires":[]},{"id":"27ff3ef2.18ea42","type":"ui_dropdown","z":"bca64c3b.0e4c","name":"Room","label":"","place":"","group":"1a479358.3ef61d","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"OutSide","value":"O","type":"str"}],"payload":"","topic":"","x":100,"y":3760,"wires":[["ff7d52fd.b3eed"]]},{"id":"ff7d52fd.b3eed","type":"function","z":"bca64c3b.0e4c","name":"set Vroom","func":"if(context.global.Vroom === undefined){\n    context.global.set(\"Vroom\");\n}\ncontext.global.Vroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":3760,"wires":[["9082df01.26ddc","f97a08f.79b13f8"]]},{"id":"f97a08f.79b13f8","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"1a479358.3ef61d","order":0,"width":"1","height":"1","passthru":false,"label":"UP","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":440,"y":3800,"wires":[["7306beeb.58d15"]]},{"id":"9082df01.26ddc","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"1a479358.3ef61d","order":0,"width":"1","height":"1","passthru":false,"label":"DOWN","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":450,"y":3720,"wires":[["7306beeb.58d15"]]},{"id":"3e0fdbb8.8665f4","type":"comment","z":"bca64c3b.0e4c","name":"Remote volet","info":"","x":101,"y":3653,"wires":[]},{"id":"b6f4b84f.ca54d8","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3820,"wires":[["3d257908.ff7776","d91e2d78.b2538"]]},{"id":"178d7d99.23f572","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":3700,"wires":[["adb8749.3345488","e5e76b3.978c598"]]},{"id":"d91e2d78.b2538","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":3840,"wires":[["1618476c.c15619"]]},{"id":"3d257908.ff7776","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":1000,"y":3800,"wires":[["c2ea8d91.92111"]]},{"id":"e5e76b3.978c598","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":3680,"wires":[["c2ea8d91.92111"]]},{"id":"adb8749.3345488","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":1000,"y":3720,"wires":[["1618476c.c15619"]]},{"id":"7306beeb.58d15","type":"switch","z":"bca64c3b.0e4c","name":"choseMode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":3760,"wires":[["178d7d99.23f572"],["b6f4b84f.ca54d8"]]},{"id":"c2ea8d91.92111","type":"function","z":"bca64c3b.0e4c","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":3680,"wires":[["cc2647ad.0cccf8"]]},{"id":"1618476c.c15619","type":"function","z":"bca64c3b.0e4c","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":3840,"wires":[["31ce0c5d.34c524"]]},{"id":"28924bbb.c1d234","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":3440,"wires":[]},{"id":"33e2a87c.0ad468","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1080,"y":3520,"wires":[]},{"id":"8bdfb0fe.d75cf","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1080,"y":3480,"wires":[]},{"id":"b4f5e328.45dc2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1080,"y":3560,"wires":[]},{"id":"cc2647ad.0cccf8","type":"switch","z":"bca64c3b.0e4c","name":"Room","property":"Vroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1380,"y":3600,"wires":[["ee8c653a.2cdc38","8e91ec5c.f5f45","412a46f5.2ed648","a135916d.b8426"],["11f04381.dc7a0c"],["653d8021.c4763"],["e2034c98.b4b94"],["77c27fed.f94c4"],["57347c56.e18c94"],["a4fc3cd0.3e972"],["9f60c498.4307b8"],["a5dc909d.45afb"],["251fc23f.253afe"]]},{"id":"ee8c653a.2cdc38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3380,"wires":[]},{"id":"8e91ec5c.f5f45","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3420,"wires":[]},{"id":"412a46f5.2ed648","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3460,"wires":[]},{"id":"a135916d.b8426","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3500,"wires":[]},{"id":"11f04381.dc7a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3540,"wires":[]},{"id":"653d8021.c4763","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3580,"wires":[]},{"id":"e2034c98.b4b94","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3620,"wires":[]},{"id":"77c27fed.f94c4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3660,"wires":[]},{"id":"57347c56.e18c94","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3700,"wires":[]},{"id":"a4fc3cd0.3e972","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3740,"wires":[]},{"id":"9f60c498.4307b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3780,"wires":[]},{"id":"a5dc909d.45afb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3820,"wires":[]},{"id":"251fc23f.253afe","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1750,"y":3860,"wires":[]},{"id":"62a5cf77.c0b9e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1780,"y":3920,"wires":[]},{"id":"b87f44dd.98f938","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1780,"y":3960,"wires":[]},{"id":"c8ed3b1d.606138","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1780,"y":4000,"wires":[]},{"id":"15e1b811.875668","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1780,"y":4040,"wires":[]},{"id":"fec51ca2.fb1a9","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4100,"wires":[]},{"id":"7f0fd0cf.2bcce","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4140,"wires":[]},{"id":"5aa49041.e3592","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4180,"wires":[]},{"id":"72094357.9010ec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4220,"wires":[]},{"id":"619477a6.5f6158","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4260,"wires":[]},{"id":"d0fb14d0.48dde8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4300,"wires":[]},{"id":"ca188f3a.87afb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4340,"wires":[]},{"id":"3bb6c16.08a363e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4380,"wires":[]},{"id":"1072885.736bf78","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1770,"y":4420,"wires":[]},{"id":"31ce0c5d.34c524","type":"switch","z":"bca64c3b.0e4c","name":"Room","property":"Vroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1389,"y":4087,"wires":[["62a5cf77.c0b9e","b87f44dd.98f938","c8ed3b1d.606138","15e1b811.875668"],["fec51ca2.fb1a9"],["7f0fd0cf.2bcce"],["5aa49041.e3592"],["72094357.9010ec"],["619477a6.5f6158"],["d0fb14d0.48dde8"],["ca188f3a.87afb"],["3bb6c16.08a363e"],["1072885.736bf78"]]},{"id":"cc3460b7.e917d","type":"comment","z":"bca64c3b.0e4c","name":"Remote Auto-Manu-Switch","info":"","x":140,"y":3260,"wires":[]},{"id":"62e806a6.25d018","type":"ui_switch","z":"bca64c3b.0e4c","name":"Manu-mode","label":"Manu mode","group":"e451255c.558d48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":3320,"wires":[["bbe453d0.cb4d7"]]},{"id":"bbe453d0.cb4d7","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.Manu === undefined){\n    context.global.set(\"Manu\");\n}\ncontext.global.Manu = msg.payload;\n\n","outputs":0,"noerr":0,"x":410,"y":3320,"wires":[]},{"id":"65806d8b.cb1944","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":130,"y":1240,"wires":[["d6243fa5.96dd3"]]},{"id":"b2e393bd.34667","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":210,"y":3400,"wires":[[]]},{"id":"9ad9201a.15832","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":230,"y":1640,"wires":[["62b1684a.479258"]]},{"id":"b2f0dc7c.37ec","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":270,"y":500,"wires":[["e736fa87.8959e8"]]},{"id":"8d4616f1.e98778","type":"comment","z":"bca64c3b.0e4c","name":"----------------------------------------------------------------------------------------------------------------------------------REMOTE---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":1090,"y":2660,"wires":[]},{"id":"fa6967b2.37a4e8","type":"comment","z":"bca64c3b.0e4c","name":"-------------------------------------------------------------------------------------------------------------------Global Value------------------------------------------------------------------------","info":"","x":640,"y":4700,"wires":[]},{"id":"a6e926e4.65cec8","type":"comment","z":"bca64c3b.0e4c","name":"Garage automatique Demo","info":"","x":140,"y":1760,"wires":[]},{"id":"f8a703a4.6f3a1","type":"comment","z":"bca64c3b.0e4c","name":"Remote Lock ","info":"","x":100,"y":3880,"wires":[]},{"id":"6799495e.0280f8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_1","qos":"2","broker":"a2c91eda.08e26","x":200,"y":4100,"wires":[["3e15bf20.b4adb"]]},{"id":"2c9dcf9.de37e3","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Leave Home Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":3940,"wires":[["56b492b.37ce06c"]]},{"id":"56b492b.37ce06c","type":"function","z":"bca64c3b.0e4c","name":"SetLeaveHomeLockMode","func":"if(context.global.LEAVEHOMELOCK === undefined){\n    context.global.set(\"LEAVEHOMELOCK\");\n}\ncontext.global.LEAVEHOMELOCK = msg.payload;\nif(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n","outputs":0,"noerr":0,"x":440,"y":3940,"wires":[]},{"id":"950ee4ef.e1b4d8","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Night Sleep Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":4020,"wires":[["35fba693.6b350a"]]},{"id":"35fba693.6b350a","type":"function","z":"bca64c3b.0e4c","name":"SetNightSleepLockMode","func":"\nif(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n","outputs":0,"noerr":0,"x":410,"y":4020,"wires":[]},{"id":"3e15bf20.b4adb","type":"function","z":"bca64c3b.0e4c","name":"if lock sleep mode?","func":"if(global.get(\"NIGHTSLEEPLOCK\")){\n    return [msg,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":560,"y":4140,"wires":[["6e3ce8f9.e2dbd8"],["3c21839d.20fa6c"]]},{"id":"51f96f96.ef0d8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_2","qos":"2","broker":"a2c91eda.08e26","x":200,"y":4140,"wires":[["3e15bf20.b4adb"]]},{"id":"a8569b15.3e6768","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector","qos":"2","broker":"a2c91eda.08e26","x":210,"y":4180,"wires":[["3e15bf20.b4adb"]]},{"id":"d9555816.065048","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":210,"y":4380,"wires":[["6fa73490.c3a33c"]]},{"id":"6fa73490.c3a33c","type":"function","z":"bca64c3b.0e4c","name":"setmode","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":300,"y":4420,"wires":[["bf611ff1.d4bbf"]]},{"id":"bf611ff1.d4bbf","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":4480,"wires":[["1d4d56bd.117c19"],[]]},{"id":"ac67df48.a3b99","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA = {};\nmsgA.topic = 'A';\nmsgA.payload = 0;\n\nmsgB = {};\nmsgB.topic = 'B';\nmsgB.payload = 0;\n\nmsgD = {};\nmsgD.topic = 'D';\nmsgD.payload = 0;\n\nmsgE1 = {};\nmsgE1.topic = 'E';\nmsgE1.payload = 0;\n\n\nmsgE2 = {};\nmsgE2.topic = 'E';\nmsgE2.payload = 0;\n\n\nmsgF = {};\nmsgF.topic = 'F';\nmsgF.payload = 0;\n\n\nmsgG = {};\nmsgG.topic = 'G';\nmsgG.payload = 0;\n\nmsgH = {};\nmsgH.topic = 'H';\nmsgH.payload = 0;\n\nmsgI = {};\nmsgI.topic = 'I';\nmsgI.payload = 0;\n\nmsgJ = {};\nmsgJ.topic = 'J';\nmsgJ.payload = 0;\n\nmsgK = {};\nmsgK.topic = 'K';\nmsgK.payload = 0;\n\nmsgL = {};\nmsgL.topic = 'L';\nmsgL.payload = 0;\n\nmsgM = {};\nmsgM.topic = 'M';\nmsgM.payload = 0;\n\nmsgN = {};\nmsgN.topic = 'N';\nmsgN.payload = 0;\nvar arr = [msgA,msgB,msgD,msgE1,msgE2,msgF,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\narr.forEach(function(name){\n    if(name.topic == msg.room){\n        if(msg.payload){\n            name.payload = 1;\n        }else{\n            name.payload = 0;\n        }\n    }\n})\n\nreturn arr;\n","outputs":14,"noerr":0,"x":520,"y":4460,"wires":[["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"]]},{"id":"29ae668c.a102aa","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Mouvement Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":4380,"wires":[[],[]]},{"id":"2d6f4c06.78ae04","type":"mqtt in","z":"bca64c3b.0e4c","name":"OUDOORBRIGHTNESS","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":970,"y":4840,"wires":[["4e1e71af.579af"]]},{"id":"a9a22f27.070dc","type":"comment","z":"bca64c3b.0e4c","name":"Out_Door_Brightness","info":"","x":930,"y":4760,"wires":[]},{"id":"4e1e71af.579af","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1190,"y":4840,"wires":[["50a16087.6844e"]]},{"id":"50a16087.6844e","type":"function","z":"bca64c3b.0e4c","name":"getBrightness","func":"if(context.global.OUDOORBRIGHTNESS === undefined){\n    context.global.set(\"OUDOORBRIGHTNESS\");\n}\ncontext.global.OUDOORBRIGHTNESS = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1370,"y":4840,"wires":[]},{"id":"6bebbe99.60891","type":"function","z":"bca64c3b.0e4c","name":"if bright enough?","func":"if(global.get(\"OUDOORBRIGHTNESS\")<7){\n    return msg;\n}","outputs":1,"noerr":0,"x":271,"y":453,"wires":[["b2f0dc7c.37ec"]]},{"id":"643a4247.e240ac","type":"comment","z":"bca64c3b.0e4c","name":"Garage Lock","info":"","x":2180,"y":2800,"wires":[]},{"id":"b1040ea7.f495c","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Garage","label":"Lock Garage","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2260,"y":2840,"wires":[["b4f1c358.8a235"]]},{"id":"b4f1c358.8a235","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.GARAGELOCK === undefined){\n    context.global.set(\"GARAGELOCK\");\n}\ncontext.global.GARAGELOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":2460,"y":2840,"wires":[]},{"id":"2b01400c.6fe2c","type":"comment","z":"bca64c3b.0e4c","name":"Garage Remote","info":"","x":2180,"y":2960,"wires":[]},{"id":"952755.04cd48a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2900,"y":3140,"wires":[]},{"id":"739a15e8.3aa03c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2900,"y":3100,"wires":[]},{"id":"50f8e881.da5e28","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2250,"y":3100,"wires":[["8d010a07.475578"]]},{"id":"3aa6ca1a.341276","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2440,"y":3140,"wires":[["952755.04cd48a8"]]},{"id":"2f971b30.aed994","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2310,"y":3200,"wires":[["750762f8.c0e15c"]]},{"id":"4d7e8b48.f12e64","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2310,"y":3040,"wires":[["ebf95e39.52bc3"]]},{"id":"ebf95e39.52bc3","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":3040,"wires":[["739a15e8.3aa03c"]]},{"id":"750762f8.c0e15c","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2580,"y":3200,"wires":[["952755.04cd48a8"]]},{"id":"4caa036b.6e59ac","type":"comment","z":"bca64c3b.0e4c","name":"Portail Remote","info":"","x":2180,"y":3280,"wires":[]},{"id":"94a173f8.7c7a2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2890,"y":3500,"wires":[]},{"id":"c0b04c56.f911a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2890,"y":3460,"wires":[]},{"id":"f28e8b63.998a18","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2230,"y":3460,"wires":[["22c8b373.d3b02c"]]},{"id":"eb51fc83.02c96","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2420,"y":3500,"wires":[["94a173f8.7c7a2"]]},{"id":"4b175992.8056c8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2310,"y":3560,"wires":[["cdebea99.af7028"]]},{"id":"53ca9256.59841c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2310,"y":3400,"wires":[["cfcb73a6.f1ab9"]]},{"id":"cfcb73a6.f1ab9","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":3400,"wires":[["c0b04c56.f911a"]]},{"id":"cdebea99.af7028","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2570,"y":3560,"wires":[["94a173f8.7c7a2"]]},{"id":"bca4e3a3.c3384","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Infrared)","qos":"2","broker":"e6cc5916.4480c8","x":260,"y":1860,"wires":[["66b55865.b85578"]]},{"id":"d65985ea.c2b718","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":1960,"wires":[["9393361d.e0f758","41bd1ede.e4b92"]]},{"id":"8d2ddd0a.49846","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":770,"y":2060,"wires":[]},{"id":"6cb16f9b.0b3df","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":770,"y":2020,"wires":[]},{"id":"41bd1ede.e4b92","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":310,"y":2060,"wires":[["17b25b2f.f94bf5"]]},{"id":"17b25b2f.f94bf5","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":450,"y":2060,"wires":[["8d2ddd0a.49846"]]},{"id":"9393361d.e0f758","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":590,"y":1940,"wires":[["6cb16f9b.0b3df"]]},{"id":"2c2082ac.a7742e","type":"comment","z":"bca64c3b.0e4c","name":"Portail automatique Demo","info":"","x":130,"y":2140,"wires":[]},{"id":"c1d4b56d.97d7c8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_3)","qos":"2","broker":"e6cc5916.4480c8","x":260,"y":2400,"wires":[["aba77ecd.ea4bf"]]},{"id":"d17dca51.bbcf98","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":680,"y":2340,"wires":[["120c84ff.71ef4b","783c38f3.ad3e28"]]},{"id":"783c38f3.ad3e28","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":590,"y":2460,"wires":[["79e9e13.0e2892"]]},{"id":"79e9e13.0e2892","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":730,"y":2460,"wires":[["1d404f2d.cf5e81"]]},{"id":"120c84ff.71ef4b","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":870,"y":2340,"wires":[["6cc6f1cf.de6d3"]]},{"id":"dc04029f.b99b6","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_2)","qos":"2","broker":"e6cc5916.4480c8","x":260,"y":2360,"wires":[["aba77ecd.ea4bf"]]},{"id":"5e4d72e2.dc162c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_1)","qos":"2","broker":"e6cc5916.4480c8","x":260,"y":2320,"wires":[["aba77ecd.ea4bf"]]},{"id":"6cc6f1cf.de6d3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1090,"y":2420,"wires":[]},{"id":"1d404f2d.cf5e81","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1090,"y":2460,"wires":[]},{"id":"8d010a07.475578","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2490,"y":3100,"wires":[["739a15e8.3aa03c"]]},{"id":"8216bace.7c53f8","type":"comment","z":"bca64c3b.0e4c","name":"Portail Lock","info":"","x":2180,"y":2880,"wires":[]},{"id":"30adcef2.baa3f2","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Portail","label":"Lock Portail","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2260,"y":2920,"wires":[["49ee2321.ce92dc"]]},{"id":"49ee2321.ce92dc","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.PORTAILLOCK === undefined){\n    context.global.set(\"PORTAILLOCK\");\n}\ncontext.global.PORTAILLOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":2470,"y":2920,"wires":[]},{"id":"22c8b373.d3b02c","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2480,"y":3460,"wires":[["c0b04c56.f911a"]]},{"id":"66b55865.b85578","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":1880,"wires":[["d65985ea.c2b718"]]},{"id":"aba77ecd.ea4bf","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":670,"y":2280,"wires":[["d17dca51.bbcf98"]]},{"id":"1d4d56bd.117c19","type":"function","z":"bca64c3b.0e4c","name":"if lock leave mode?","func":"if(global.get(\"LEAVEHOMELOCK\")){\n    return [msg,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":270,"y":4540,"wires":[["ac67df48.a3b99"],["3c21839d.20fa6c"]]},{"id":"520d538b.7f8bbc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":840,"y":4300,"wires":[]},{"id":"f2cd8e83.7fc5b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":840,"y":4260,"wires":[]},{"id":"fbcabed1.c0695","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":435,"y":4300,"wires":[["c05f5102.8a"]]},{"id":"3c21839d.20fa6c","type":"function","z":"bca64c3b.0e4c","name":"Launch","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":4260,"wires":[["f2cd8e83.7fc5b","520d538b.7f8bbc"]]},{"id":"c05f5102.8a","type":"function","z":"bca64c3b.0e4c","name":"StopAlarm","func":"msg.payload = false;\nif(!global.get(\"NIGHTSLEEPLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":560,"y":4300,"wires":[["f2cd8e83.7fc5b","520d538b.7f8bbc"]]},{"id":"6e3ce8f9.e2dbd8","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA1 = {};\nmsgA1.name = 'A';\nmsgA1.payload = 0;\nmsgA1.detecteur = \"Door_Detector_1\";\nmsgA1.topic = 'A1';\n\nvar msgA2 = {};\nmsgA2.namec = 'A';\nmsgA2.payload = 0;\nmsgA2.detecteur = \"Door_Detector_2\";\nmsgA2.topic = 'A2';\n\nmsgD = {};\nmsgD.name = 'D';\nmsgD.payload = 0;\nmsgD.detecteur = \"Door_Detector\";\nmsgD.topic = 'D';\n\nmsgE1 = {};\nmsgE1.name = 'E';\nmsgE1.payload = 0;\nmsgE1.detecteur = \"Door_Detector_1\";\nmsgE1.topic = 'E1';\n\nmsgE2 = {}\nmsgE2.name = 'E';\nmsgE2.payload = 0;\nmsgE2.detecteur = \"Door_Detector_2\";\nmsgE2.topic = 'E2';\n\nmsgH1 = {};\nmsgH1.name = 'H';\nmsgH1.payload = 0;\nmsgH1.detecteur = \"Door_Detector_1\";\nmsgH1.topic = 'H1';\n\nmsgH2 = {};\nmsgH2.name = 'H';\nmsgH2.payload = 0;\nmsgH2.detecteur = \"Door_Detector_2\";\nmsgH2.topic = 'H2';\n\nmsgJ1 = {};\nmsgJ1.name = 'J';\nmsgJ1.payload = 0;\nmsgJ1.detecteur = \"Door_Detector_1\";\nmsgJ1.topic = 'J1';\n\nmsgJ2 = {};\nmsgJ2.name = 'J';\nmsgJ2.payload = 0;\nmsgJ2.detecteur = \"Door_Detector_2\";\nmsgJ2.topic = 'J2';\n\nmsgL1 = {};\nmsgL1.name = 'L';\nmsgL1.payload = 0;\nmsgL1.detecteur = \"Door_Detector_1\";\nmsgL1.topic = 'L1';\n\nmsgL2 = {};\nmsgL2.name = 'L';\nmsgL2.payload = 0;\nmsgL2.detecteur = \"Door_Detector_2\";\nmsgL2.topic = 'L2';\n\nmsgM1 = {};\nmsgM1.name = 'M';\nmsgM1.payload = 0;\nmsgM1.detecteur = \"Door_Detector_1\";\nmsgM1.topic = 'M1';\n\nmsgM2 = {};\nmsgM2.name = 'M';\nmsgM2.payload = 0;\nmsgM2.detecteur = \"Door_Detector_2\";\nmsgM2.topic = 'M2';\n\nmsgN1 = {};\nmsgN1.name = 'N';\nmsgN1.payload = 0;\nmsgN1.detecteur = \"Door_Detector_1\";\nmsgN1.topic = 'N1';\n\nmsgN2 = {};\nmsgN2.name = 'N';\nmsgN2.payload = 0;\nmsgN2.detecteur = \"Door_Detector_2\";\nmsgN2.topic = 'N2';\n\nvar arr = [msgA1,msgA2,msgD,msgE1,msgE2,msgH1,msgH2,msgJ1,msgJ2,msgL1,msgL2,msgM1,msgM2,msgN1,msgN2];\n\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\nmsg.number = split[5];\narr.forEach(function(name){\n    if((name.name == msg.room)&&(name.detecteur == msg.number)){\n        if(msg.payload == \"True\"){\n            name.payload = 0;\n        }else{\n            name.payload = 1;\n        }\n    }\n})\n\nreturn arr;\n","outputs":15,"noerr":0,"x":790,"y":4080,"wires":[["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"],["faf106ab.f68b78"]]},{"id":"faf106ab.f68b78","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Port  Important Etat  Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1070,"y":4080,"wires":[[],[]]},{"id":"613969de.92d108","type":"comment","z":"bca64c3b.0e4c","name":"Light economic mode","info":"","x":2200,"y":2700,"wires":[]},{"id":"732a9d3f.e156a4","type":"ui_switch","z":"bca64c3b.0e4c","name":"Economic Light","label":"Economic Light","group":"8afd9e0b.b8999","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2280,"y":2760,"wires":[["5f0f5595.40cbfc"]]},{"id":"5f0f5595.40cbfc","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.LIGHTECO === undefined){\n    context.global.set(\"LIGHTECO\");\n}\ncontext.global.LIGHTECO = msg.payload;\n\n","outputs":0,"noerr":0,"x":2470,"y":2760,"wires":[]},{"id":"85c5bf9b.60ad5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":320,"wires":[]},{"id":"d799b533.465368","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":400,"wires":[]},{"id":"e2877e52.7e83b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":480,"wires":[]},{"id":"41892989.da6bc8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":560,"wires":[]},{"id":"5224e621.9efe58","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":600,"wires":[]},{"id":"f93d282f.cab398","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":680,"wires":[]},{"id":"6248ae6f.00ae3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":720,"wires":[]},{"id":"be35175c.af9608","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":760,"wires":[]},{"id":"c239114c.dbf9e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":890,"y":800,"wires":[]},{"id":"bdcc9f95.a8607","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":360,"wires":[["a34e08b9.f38f08","aeeb2898.a9f6b8"]]},{"id":"a34e08b9.f38f08","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":340,"wires":[]},{"id":"aeeb2898.a9f6b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":380,"wires":[]},{"id":"1b3cb81d.93cc38","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":440,"wires":[["fdd7ae69.44381","746d1f6a.0e54b"]]},{"id":"3eb5ae2d.98ad32","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":520,"wires":[["f64f8bfc.ca13d8","f29e6fb1.98855"]]},{"id":"693bfc7f.c526f4","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":640,"wires":[["6815a328.345cac","c81008da.5319c8"]]},{"id":"35393e07.6eda62","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":860,"wires":[["20e7037e.26402c","885db01c.ce4fc","a5acad71.6478f"]]},{"id":"746d1f6a.0e54b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":460,"wires":[]},{"id":"fdd7ae69.44381","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":420,"wires":[]},{"id":"f29e6fb1.98855","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":540,"wires":[]},{"id":"f64f8bfc.ca13d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":500,"wires":[]},{"id":"6815a328.345cac","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1290,"y":607,"wires":[]},{"id":"c81008da.5319c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1290,"y":667,"wires":[]},{"id":"20e7037e.26402c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1260,"y":820,"wires":[]},{"id":"885db01c.ce4fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1260,"y":860,"wires":[]},{"id":"a5acad71.6478f","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1260,"y":900,"wires":[]},{"id":"928227ed.102348","type":"function","z":"bca64c3b.0e4c","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    if(msg.open){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(msg.open){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":720,"wires":[["597ac6e7.798f58"]]},{"id":"a30ae.29f06f53","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-250","extend":false,"units":"ms","reset":"0","bytopic":"topic","name":"dyn","x":810,"y":2760,"wires":[[]]},{"id":"f4d2bb0c.040968","type":"function","z":"bca64c3b.0e4c","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    if(msg.payload === true){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(msg.payload){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":501,"y":3073,"wires":[["1a657134.af870f"]]},{"id":"4f3e92e4.9220ec","type":"function","z":"bca64c3b.0e4c","name":"","func":"if(!global.get(\"LIGHTECO\")){\n    if(msg.payload === true){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(msg.payload){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2720,"wires":[[]]},{"id":"2c28108e.b135c","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":2980,"wires":[["739a15e8.3aa03c"]]},{"id":"a50cbccc.9d0bb","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2620,"y":3260,"wires":[["952755.04cd48a8"]]},{"id":"b11c5407.3a7718","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":3640,"wires":[["94a173f8.7c7a2"]]},{"id":"379d119c.4db2be","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2550,"y":3360,"wires":[["c0b04c56.f911a"]]},{"id":"eed6f280.56e37","type":"ui_numeric","z":"bca64c3b.0e4c","name":"TemperatureSet","label":"numeric","group":"7b25e5e1.b2319c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"30","step":1,"x":2260,"y":3840,"wires":[["7421076d.9c4438"]]},{"id":"99119171.99416","type":"comment","z":"bca64c3b.0e4c","name":"Air conditioner","info":"","x":2180,"y":3800,"wires":[]},{"id":"8b443059.46f9f","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":3900,"wires":[]},{"id":"b337f228.694e9","type":"openhab2-in","z":"bca64c3b.0e4c","name":"++--","controller":"f4ba90de.b9ed7","itemname":"UBIWIZZ_B_2","x":2350,"y":3640,"wires":[["b11c5407.3a7718"],[]]},{"id":"bdecfaaa.7df208","type":"openhab2-in","z":"bca64c3b.0e4c","name":"++--","controller":"f4ba90de.b9ed7","itemname":"UBIWIZZ_B_1","x":2370,"y":3360,"wires":[["379d119c.4db2be"],[]]},{"id":"8fce06cb.535bb8","type":"openhab2-in","z":"bca64c3b.0e4c","name":"++--","controller":"f4ba90de.b9ed7","itemname":"UBIWIZZ_A_1","x":2430,"y":3260,"wires":[["a50cbccc.9d0bb"],[]]},{"id":"2fd4a540.8a328a","type":"openhab2-in","z":"bca64c3b.0e4c","name":"++--","controller":"f4ba90de.b9ed7","itemname":"UBIWIZZ_A_2","x":2450,"y":2980,"wires":[["2c28108e.b135c"],[]]},{"id":"130a0e80.1bf6f2","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_A_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4460,"wires":[["956e1e7f.7f9a"]]},{"id":"a523986f.219e38","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_B_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4500,"wires":[["2f1ad50b.dac94a"]]},{"id":"18315f14.dd6fa1","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_C_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4540,"wires":[["b600380a.4989b8"]]},{"id":"e0d3b1c7.a8b67","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_D_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4580,"wires":[["ab5ebc6e.c617d"]]},{"id":"428af10f.c2771","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_E_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4620,"wires":[["e59a30e3.7448f"]]},{"id":"cb76ad2e.c0062","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_F_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4660,"wires":[["b1c95ee1.91058"]]},{"id":"d9faaf98.01ae7","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_G_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4700,"wires":[["10097daa.f2d0b2"]]},{"id":"16a256e4.548969","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_H_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4740,"wires":[["26e5e2a5.baf80e"]]},{"id":"ef5950c8.e7bbf","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_I_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4780,"wires":[["4d378112.0553a"]]},{"id":"50077ecb.9762c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_J_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4820,"wires":[["d3e6c5da.8466f8"]]},{"id":"c50a50c0.75eb3","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_K_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4860,"wires":[["4f135fb0.8697"]]},{"id":"ae4087a6.a0b678","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_L_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4900,"wires":[["8da2ac20.6247a"]]},{"id":"ad9fd90b.81e498","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_M_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4940,"wires":[["b1d18b5f.6dfd88"]]},{"id":"7f73e301.05263c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":4980,"wires":[["480b0e71.87816"]]},{"id":"956e1e7f.7f9a","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4460,"wires":[["823836d.47780c8"]]},{"id":"2f1ad50b.dac94a","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4500,"wires":[["fa8a9274.6bb54"]]},{"id":"b600380a.4989b8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4540,"wires":[["7240ae39.e395b"]]},{"id":"ab5ebc6e.c617d","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4580,"wires":[["e0ba0dc9.23048"]]},{"id":"e59a30e3.7448f","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4620,"wires":[["8b5d2d0b.0de91"]]},{"id":"b1c95ee1.91058","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4660,"wires":[["2f7588fc.da5fd8"]]},{"id":"10097daa.f2d0b2","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4700,"wires":[["4b051d6d.832c54"]]},{"id":"26e5e2a5.baf80e","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4740,"wires":[["7ca47cba.53ab44"]]},{"id":"4d378112.0553a","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4780,"wires":[["54ad2db3.2b4a74"]]},{"id":"d3e6c5da.8466f8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4820,"wires":[["219e602e.8a1e6"]]},{"id":"4f135fb0.8697","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4860,"wires":[["84b1ba90.88fe58"]]},{"id":"8da2ac20.6247a","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4900,"wires":[["ae128f85.2ff2b"]]},{"id":"b1d18b5f.6dfd88","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4940,"wires":[["9a353ed7.bec16"]]},{"id":"480b0e71.87816","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2770,"y":4980,"wires":[["8cb8694e.34da18"]]},{"id":"823836d.47780c8","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TA === undefined){\n    context.global.set(\"TA\");\n}\ncontext.global.TA = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4460,"wires":[]},{"id":"fa8a9274.6bb54","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TB === undefined){\n    context.global.set(\"TB\");\n}\ncontext.global.TB = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4500,"wires":[]},{"id":"7240ae39.e395b","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TC === undefined){\n    context.global.set(\"TC\");\n}\ncontext.global.TC = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4540,"wires":[]},{"id":"e0ba0dc9.23048","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TD === undefined){\n    context.global.set(\"TD\");\n}\ncontext.global.TD = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4580,"wires":[]},{"id":"8b5d2d0b.0de91","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TE === undefined){\n    context.global.set(\"TE\");\n}\ncontext.global.TE = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4620,"wires":[]},{"id":"2f7588fc.da5fd8","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TF === undefined){\n    context.global.set(\"TF\");\n}\ncontext.global.TF = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4660,"wires":[]},{"id":"4b051d6d.832c54","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TG === undefined){\n    context.global.set(\"TG\");\n}\ncontext.global.TG = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4700,"wires":[]},{"id":"7ca47cba.53ab44","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TH === undefined){\n    context.global.set(\"TH\");\n}\ncontext.global.TH = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4740,"wires":[]},{"id":"54ad2db3.2b4a74","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TI === undefined){\n    context.global.set(\"TI\");\n}\ncontext.global.TI = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4780,"wires":[]},{"id":"219e602e.8a1e6","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TJ === undefined){\n    context.global.set(\"TJ\");\n}\ncontext.global.TJ = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4820,"wires":[]},{"id":"84b1ba90.88fe58","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TK === undefined){\n    context.global.set(\"TK\");\n}\ncontext.global.TK = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4860,"wires":[]},{"id":"ae128f85.2ff2b","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TL === undefined){\n    context.global.set(\"TL\");\n}\ncontext.global.TL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4900,"wires":[]},{"id":"9a353ed7.bec16","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TM === undefined){\n    context.global.set(\"TM\");\n}\ncontext.global.TM = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4940,"wires":[]},{"id":"8cb8694e.34da18","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TN === undefined){\n    context.global.set(\"TN\");\n}\ncontext.global.TN = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3000,"y":4980,"wires":[]},{"id":"3f2f336e.036a3c","type":"comment","z":"bca64c3b.0e4c","name":"Temperature Setter","info":"","x":2210,"y":4400,"wires":[]},{"id":"7421076d.9c4438","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TTar === undefined){\n    context.global.set(\"TTar\");\n}\nmsg.c = msg.payload;\ncontext.global.TTar = msg.c;","outputs":0,"noerr":0,"x":2480,"y":3840,"wires":[]},{"id":"db6a9136.0aff","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":3940,"wires":[]},{"id":"ba413542.7da558","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":3980,"wires":[]},{"id":"abf0de50.96ae1","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Heater_2","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3180,"y":4020,"wires":[]},{"id":"6d45a4e9.95ed4c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Heater_1","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3180,"y":4060,"wires":[]},{"id":"317b8cdb.410d04","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4100,"wires":[]},{"id":"cbbc48b7.d76608","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4140,"wires":[]},{"id":"556e8297.74e15c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4180,"wires":[]},{"id":"d1241b92.ea4018","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4220,"wires":[]},{"id":"c935ef23.998e7","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4260,"wires":[]},{"id":"d20cfe16.0b6c3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4300,"wires":[]},{"id":"da8c8918.bc4208","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3170,"y":4340,"wires":[]},{"id":"19607feb.ea0f1","type":"function","z":"bca64c3b.0e4c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2950,"y":4040,"wires":[["abf0de50.96ae1","6d45a4e9.95ed4c"]]},{"id":"8e7838cf.99e638","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":2555,"y":4100,"wires":[["2260bd9b.d1f942","db90760b.3decf8","7a512f67.b5179","e2d7845d.a36d68","b2d58169.1ad52","bdfb4fd9.c218c","6233745a.b4586c","2e3b12f3.70d7ce","353d3311.febe6c","d38a9d6a.1b5da","2a670223.17e71e"]]},{"id":"2260bd9b.d1f942","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TA\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":3920,"wires":[["8b443059.46f9f"]]},{"id":"db90760b.3decf8","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TD\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":3960,"wires":[["db6a9136.0aff"]]},{"id":"7a512f67.b5179","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TE\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4000,"wires":[["ba413542.7da558"]]},{"id":"e2d7845d.a36d68","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TG\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4040,"wires":[["19607feb.ea0f1"]]},{"id":"b2d58169.1ad52","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TH\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4080,"wires":[["317b8cdb.410d04"]]},{"id":"bdfb4fd9.c218c","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TI\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4120,"wires":[["cbbc48b7.d76608"]]},{"id":"6233745a.b4586c","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TJ\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4160,"wires":[["556e8297.74e15c"]]},{"id":"2e3b12f3.70d7ce","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TK\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4200,"wires":[["d1241b92.ea4018"]]},{"id":"353d3311.febe6c","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TL\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4240,"wires":[["c935ef23.998e7"]]},{"id":"d38a9d6a.1b5da","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TM\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4280,"wires":[["d20cfe16.0b6c3"]]},{"id":"2a670223.17e71e","type":"function","z":"bca64c3b.0e4c","name":"","func":"msg.a= global.get(\"TN\");\nmsg.b=global.get(\"TTar\")+273;\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2790,"y":4320,"wires":[["da8c8918.bc4208"]]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7153c242.194b6c","type":"mqtt-broker","z":"","broker":"sparks-vm24.i3s.unice.fr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8afd9e0b.b8999","type":"ui_group","z":"","name":"Lumiere","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"1a479358.3ef61d","type":"ui_group","z":"","name":"Volet","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"e451255c.558d48","type":"ui_group","z":"","name":"Mode Switch","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"cd1c51a0.0190b","type":"ui_group","z":"","name":"Securite","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3d4cb1fb.37d88e","type":"ui_group","z":"","name":"Room etat","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3b03d596.d6bb0a","type":"ui_group","z":"","name":"Garage","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"49e5d472.08d61c","type":"ui_group","z":"","name":"Portail","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"7b25e5e1.b2319c","type":"ui_group","z":"","name":"Temperature","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"f4ba90de.b9ed7","type":"openhab2-controller","z":"","name":"openhab-demo","protocol":"http","host":"169.254.250.112","port":"8080","path":"","username":"","password":""},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]