ReadMoi.txt
[{"id":"e959a7cd.e9afc8","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":149,"y":67,"wires":[[]]},{"id":"8886b422.0bd738","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"66e6ce19.241c6","x":260,"y":140,"wires":[["ecd99634.e97ca8"]]},{"id":"953fe853.1767c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"mqtt thingspeak out","topic":"","qos":"","retain":"","broker":"7153c242.194b6c","x":890,"y":280,"wires":[]},{"id":"ecd99634.e97ca8","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["6b164c9d.d68674"]]},{"id":"e6aa98c4.9860a8","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":220,"wires":[["953fe853.1767c8"]]},{"id":"6b164c9d.d68674","type":"switch","z":"bca64c3b.0e4c","name":"filter continuous update data","property":"shouldBeThrottled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":260,"wires":[["e6aa98c4.9860a8"],["953fe853.1767c8"]]},{"id":"1b30d24f.802d3e","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":250,"y":560,"wires":[["d6ceaddf.3f42a","1f820519.2947bb","5ab141ce.1516f","a2aceaa0.b1c738"]]},{"id":"d6ceaddf.3f42a","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["11aab08e.5fc51f"]]},{"id":"11aab08e.5fc51f","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":500,"wires":[["fc96d961.c1d0c8"]]},{"id":"a08267ef.8f77e8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":1020,"wires":[["d5dff1e5.7bccb"]]},{"id":"9453849e.5f69f8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1020,"wires":[]},{"id":"788050f1.c2d1f","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1220,"y":1080,"wires":[["9453849e.5f69f8"]]},{"id":"d5dff1e5.7bccb","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1040,"wires":[["fda44b49.4d10b8"]]},{"id":"fda44b49.4d10b8","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1040,"y":1040,"wires":[["9453849e.5f69f8"],["788050f1.c2d1f"]]},{"id":"20af4e15.65e182","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":1140,"wires":[["efabcd60.37eec","6ac2e25d.ea9e7c"]]},{"id":"b58e1762.6cb8c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1410,"y":1160,"wires":[]},{"id":"74c2f239.ae64dc","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":1200,"wires":[["b58e1762.6cb8c8"]]},{"id":"efabcd60.37eec","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1140,"wires":[["bb049388.345dc"]]},{"id":"bb049388.345dc","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":1140,"wires":[["b58e1762.6cb8c8"],["74c2f239.ae64dc"]]},{"id":"6ae672c0.3addec","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":1380,"wires":[["ac02b164.a61b8"]]},{"id":"e46897e4.cd0ee8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":1380,"wires":[]},{"id":"bff7224d.360b2","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1440,"wires":[["e46897e4.cd0ee8"]]},{"id":"ac02b164.a61b8","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1400,"wires":[["c3c02fba.8bedf"]]},{"id":"c3c02fba.8bedf","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1400,"wires":[["e46897e4.cd0ee8"],["bff7224d.360b2"]]},{"id":"d9233789.a226e8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":1500,"wires":[["cbf85c2b.bcf0f","8bf4ec64.697e8"]]},{"id":"e6267da1.5c1a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1500,"wires":[]},{"id":"578f188d.4580d8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1560,"wires":[["e6267da1.5c1a"]]},{"id":"cbf85c2b.bcf0f","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1520,"wires":[["9f5ed6.c5e15128"]]},{"id":"9f5ed6.c5e15128","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1520,"wires":[["e6267da1.5c1a"],["578f188d.4580d8"]]},{"id":"f7f07c6e.bc98e","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":1700,"wires":[["df5b3bec.a0f708"]]},{"id":"fe68f548.cd64d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":1700,"wires":[]},{"id":"e6828237.5ceaf","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1760,"wires":[["fe68f548.cd64d8"]]},{"id":"df5b3bec.a0f708","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1720,"wires":[["1771b740.7aeda9"]]},{"id":"1771b740.7aeda9","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1720,"wires":[["fe68f548.cd64d8"],["e6828237.5ceaf"]]},{"id":"4fe02477.0bbedc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":1800,"wires":[["10478b90.f22224","1e414eae.95fc31"]]},{"id":"200243f1.39cb3c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1800,"wires":[]},{"id":"e787f04b.7b02d","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1860,"wires":[["200243f1.39cb3c"]]},{"id":"10478b90.f22224","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1820,"wires":[["c763b4b7.8a98a8"]]},{"id":"c763b4b7.8a98a8","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1820,"wires":[["200243f1.39cb3c"],["e787f04b.7b02d"]]},{"id":"f48e587b.c9a768","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":1980,"wires":[["48560ad.45c5ff4"]]},{"id":"ad3a7b06.20da28","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":1980,"wires":[]},{"id":"ccdf2e97.e8b2d","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2040,"wires":[["ad3a7b06.20da28"]]},{"id":"48560ad.45c5ff4","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2000,"wires":[["7846477b.959e38"]]},{"id":"7846477b.959e38","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2000,"wires":[["ad3a7b06.20da28"],["ccdf2e97.e8b2d"]]},{"id":"8a19c02f.3b186","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":2080,"wires":[["ec8b529e.76b96"]]},{"id":"e73f8869.3985d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":2080,"wires":[]},{"id":"a1185d81.24fd1","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2140,"wires":[["e73f8869.3985d8"]]},{"id":"ec8b529e.76b96","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2100,"wires":[["23aa6ca9.ebfb04"]]},{"id":"23aa6ca9.ebfb04","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2100,"wires":[["e73f8869.3985d8"],["a1185d81.24fd1"]]},{"id":"42f907b2.930058","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":2180,"wires":[["706000f2.31427","e4cb6cc5.56df3"]]},{"id":"6c2bf764.16f3d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2180,"wires":[]},{"id":"60e5fa5a.953534","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2240,"wires":[["6c2bf764.16f3d8"]]},{"id":"706000f2.31427","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2200,"wires":[["1dd65027.0810e"]]},{"id":"1dd65027.0810e","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2200,"wires":[["6c2bf764.16f3d8"],["60e5fa5a.953534"]]},{"id":"166d698e.a50e86","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1410,"y":1280,"wires":[]},{"id":"8cafd34d.87588","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":1320,"wires":[["166d698e.a50e86"]]},{"id":"6ac2e25d.ea9e7c","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":800,"y":1260,"wires":[["8644d34d.6e433"]]},{"id":"8644d34d.6e433","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1000,"y":1260,"wires":[["166d698e.a50e86"],["8cafd34d.87588"]]},{"id":"663b0ca7.137564","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1600,"wires":[]},{"id":"1fe09f78.285151","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1660,"wires":[["663b0ca7.137564"]]},{"id":"8bf4ec64.697e8","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1620,"wires":[["e3f99cf2.54e1b"]]},{"id":"e3f99cf2.54e1b","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1620,"wires":[["663b0ca7.137564"],["1fe09f78.285151"]]},{"id":"14a8c35e.2936ad","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1880,"wires":[]},{"id":"cd5c5ca3.a59de","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":1940,"wires":[["14a8c35e.2936ad"]]},{"id":"1e414eae.95fc31","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":1900,"wires":[["7126a645.d05c08"]]},{"id":"7126a645.d05c08","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":1900,"wires":[["14a8c35e.2936ad"],["cd5c5ca3.a59de"]]},{"id":"f9141cf8.29cb8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2280,"wires":[]},{"id":"7d3d083d.d63ee8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2340,"wires":[["f9141cf8.29cb8"]]},{"id":"e4cb6cc5.56df3","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2300,"wires":[["139f082e.be8458"]]},{"id":"139f082e.be8458","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2300,"wires":[["f9141cf8.29cb8"],["7d3d083d.d63ee8"]]},{"id":"ab6c95ca.f4b048","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":2380,"wires":[["a5fb1767.fec838"]]},{"id":"796a776f.e9efb8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":2380,"wires":[]},{"id":"47ea86ec.bec268","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2440,"wires":[["796a776f.e9efb8"]]},{"id":"a5fb1767.fec838","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2400,"wires":[["84af4750.4537a8"]]},{"id":"84af4750.4537a8","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2400,"wires":[["796a776f.e9efb8"],["47ea86ec.bec268"]]},{"id":"489607ed.097468","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":2480,"wires":[["960c5c4b.74cb1"]]},{"id":"ac59f3f8.b25c9","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":2480,"wires":[]},{"id":"16d616b0.d13509","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2540,"wires":[["ac59f3f8.b25c9"]]},{"id":"960c5c4b.74cb1","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2500,"wires":[["74beffed.24a6b"]]},{"id":"74beffed.24a6b","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2500,"wires":[["ac59f3f8.b25c9"],["16d616b0.d13509"]]},{"id":"50cbb47f.6b397c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":300,"y":2600,"wires":[["92fb4b53.fb6518"]]},{"id":"54c8cb9a.8604e4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":2600,"wires":[]},{"id":"1d081fe5.c00c4","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2660,"wires":[["54c8cb9a.8604e4"]]},{"id":"92fb4b53.fb6518","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2620,"wires":[["d1228131.36269"]]},{"id":"d1228131.36269","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2620,"wires":[["54c8cb9a.8604e4"],["1d081fe5.c00c4"]]},{"id":"e07a3ecb.1d5b7","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":2720,"wires":[["54abe36d.11363c"]]},{"id":"ad81073b.dbc758","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1430,"y":2720,"wires":[]},{"id":"49c254fb.2d2e6c","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2780,"wires":[["ad81073b.dbc758"]]},{"id":"54abe36d.11363c","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2740,"wires":[["34efc291.a4944e"]]},{"id":"34efc291.a4944e","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2740,"wires":[["ad81073b.dbc758"],["49c254fb.2d2e6c"]]},{"id":"c104311c.f8dd4","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":2840,"wires":[["d7fdc790.d02198","99713686.8e17c8","440106d8.e73dc8"]]},{"id":"fd27f116.93567","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2840,"wires":[]},{"id":"a0a04d28.a460f","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":2900,"wires":[["fd27f116.93567"]]},{"id":"d7fdc790.d02198","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2860,"wires":[["dd79a350.7f075"]]},{"id":"dd79a350.7f075","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2860,"wires":[["fd27f116.93567"],["a0a04d28.a460f"]]},{"id":"cbee4c00.65e8d","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2960,"wires":[]},{"id":"25369d8a.7e1012","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":3020,"wires":[["cbee4c00.65e8d"]]},{"id":"99713686.8e17c8","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":2980,"wires":[["fb38e84b.fd98f8"]]},{"id":"fb38e84b.fd98f8","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":2980,"wires":[["cbee4c00.65e8d"],["25369d8a.7e1012"]]},{"id":"f94b5816.22bcf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_3","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":3060,"wires":[]},{"id":"a8d45557.179c18","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":3120,"wires":[["f94b5816.22bcf8"]]},{"id":"440106d8.e73dc8","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3080,"wires":[["19440702.9c88d9"]]},{"id":"19440702.9c88d9","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":3080,"wires":[["f94b5816.22bcf8"],["a8d45557.179c18"]]},{"id":"24240535.0802fa","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":310,"y":3200,"wires":[["1a914739.052039"]]},{"id":"fe8c131c.a295","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Entrance","qos":"","retain":"","broker":"a2c91eda.08e26","x":1460,"y":3200,"wires":[]},{"id":"73d31ef3.8e816","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":3260,"wires":[["fe8c131c.a295"]]},{"id":"1a914739.052039","type":"function","z":"bca64c3b.0e4c","name":"LightController","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":3220,"wires":[["3fe51aa6.3bd2b6"]]},{"id":"3fe51aa6.3bd2b6","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":3220,"wires":[["fe8c131c.a295"],["73d31ef3.8e816"]]},{"id":"fc96d961.c1d0c8","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":500,"wires":[["b97b9e0d.e9a0c"]]},{"id":"b97b9e0d.e9a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Pool","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":500,"wires":[]},{"id":"991d953c.6bfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":560,"wires":[]},{"id":"50874117.1c25","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":620,"wires":[]},{"id":"1f820519.2947bb","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["978cbb3e.164408"]]},{"id":"70726a3a.b1c0f4","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":560,"wires":[["991d953c.6bfb98"]]},{"id":"5ab141ce.1516f","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["6c4f8e90.359bb"]]},{"id":"73f1df23.0b5cc","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":620,"wires":[["50874117.1c25"]]},{"id":"a2aceaa0.b1c738","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["8a31c3fe.61748"]]},{"id":"d6243fa5.96dd3","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":680,"wires":[["e23ed32.03b6f3"]]},{"id":"e23ed32.03b6f3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Garden","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":680,"wires":[]},{"id":"978cbb3e.164408","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":560,"wires":[["70726a3a.b1c0f4"]]},{"id":"6c4f8e90.359bb","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":620,"wires":[["73f1df23.0b5cc"]]},{"id":"8a31c3fe.61748","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":680,"wires":[["d6243fa5.96dd3"]]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7153c242.194b6c","type":"mqtt-broker","z":"","broker":"sparks-vm24.i3s.unice.fr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]