README.md
[{"id":"e959a7cd.e9afc8","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":180,"y":20,"wires":[[]]},{"id":"8886b422.0bd738","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"66e6ce19.241c6","x":291,"y":93,"wires":[["ecd99634.e97ca8"]]},{"id":"953fe853.1767c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"mqtt thingspeak out","topic":"","qos":"","retain":"","broker":"7153c242.194b6c","x":940,"y":220,"wires":[]},{"id":"ecd99634.e97ca8","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":671,"y":93,"wires":[["6b164c9d.d68674"]]},{"id":"e6aa98c4.9860a8","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":671,"y":173,"wires":[["953fe853.1767c8"]]},{"id":"6b164c9d.d68674","type":"switch","z":"bca64c3b.0e4c","name":"filter continuous update data","property":"shouldBeThrottled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":391,"y":213,"wires":[["e6aa98c4.9860a8"],["953fe853.1767c8"]]},{"id":"1b30d24f.802d3e","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":270,"y":500,"wires":[["8a31c3fe.61748"]]},{"id":"b97b9e0d.e9a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Pool","qos":"","retain":"","broker":"a2c91eda.08e26","x":1000,"y":420,"wires":[]},{"id":"991d953c.6bfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1010,"y":480,"wires":[]},{"id":"50874117.1c25","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1010,"y":540,"wires":[]},{"id":"d6243fa5.96dd3","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":500,"wires":[["e23ed32.03b6f3","50874117.1c25","991d953c.6bfb98","b97b9e0d.e9a0c"]]},{"id":"e23ed32.03b6f3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Garden","qos":"","retain":"","broker":"a2c91eda.08e26","x":1010,"y":600,"wires":[]},{"id":"8a31c3fe.61748","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":490,"y":580,"wires":[["d6243fa5.96dd3"]]},{"id":"c2a7fc0e.b2c67","type":"comment","z":"bca64c3b.0e4c","name":"OUT Door Light Controller","info":"","x":201,"y":453,"wires":[]},{"id":"4b7a6565.e46ecc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":240,"y":840,"wires":[["e736fa87.8959e8"]]},{"id":"e736fa87.8959e8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":900,"wires":[["674e7044.a7374"]]},{"id":"38ee17fa.ce22a8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":1020,"wires":[["597ac6e7.798f58"]]},{"id":"674e7044.a7374","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":280,"y":960,"wires":[["597ac6e7.798f58"],["38ee17fa.ce22a8"]]},{"id":"597ac6e7.798f58","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":511,"y":973,"wires":[["4b985b7e.501764"],["ca5edb16.813e48"],["230b9546.4cd0aa"],["bd9f1df9.a0b99"],["8e27175d.ffbcf8"],["33519017.0b2a1"],["577afc74.bb7474"],["d614740d.6f02c8"],["e02e58f0.b3aac8"],["48a4d655.d8b4c8"],["845a0dc9.06e79"],["7e8aad73.f29604"],["55d19351.92a6fc"],["f46c36c4.a6ab78"],["30414441.9939ac"]]},{"id":"4b985b7e.501764","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":753,"wires":[]},{"id":"230b9546.4cd0aa","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":833,"wires":[]},{"id":"8e27175d.ffbcf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":913,"wires":[]},{"id":"577afc74.bb7474","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":993,"wires":[]},{"id":"d614740d.6f02c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":1033,"wires":[]},{"id":"48a4d655.d8b4c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":1113,"wires":[]},{"id":"845a0dc9.06e79","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":1153,"wires":[]},{"id":"7e8aad73.f29604","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":1193,"wires":[]},{"id":"55d19351.92a6fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":811,"y":1233,"wires":[]},{"id":"30414441.9939ac","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/bool/Lights_Entrance","qos":"","retain":"","broker":"a2c91eda.08e26","x":781,"y":1353,"wires":[]},{"id":"ca5edb16.813e48","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":793,"wires":[["e6b93d65.c1499","efadabad.7487e8"]]},{"id":"e6b93d65.c1499","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":773,"wires":[]},{"id":"efadabad.7487e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":813,"wires":[]},{"id":"bd9f1df9.a0b99","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":873,"wires":[["7c0f8e4f.f8ef4","79bb58.f0b064a8"]]},{"id":"33519017.0b2a1","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":953,"wires":[["825825e0.9b2c58","238534f9.499cec"]]},{"id":"e02e58f0.b3aac8","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":791,"y":1073,"wires":[["1ccad752.055b39","12150512.11a70b"]]},{"id":"f46c36c4.a6ab78","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":801,"y":1293,"wires":[["1c5f3b43.a490d5","feeb1aaf.171cf8","6ed0f8da.9bb918"]]},{"id":"79bb58.f0b064a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":893,"wires":[]},{"id":"7c0f8e4f.f8ef4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":853,"wires":[]},{"id":"238534f9.499cec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":973,"wires":[]},{"id":"825825e0.9b2c58","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":933,"wires":[]},{"id":"1ccad752.055b39","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":1033,"wires":[]},{"id":"12150512.11a70b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":1113,"wires":[]},{"id":"1c5f3b43.a490d5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":1253,"wires":[]},{"id":"feeb1aaf.171cf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":1293,"wires":[]},{"id":"6ed0f8da.9bb918","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_3","qos":"","retain":"","broker":"a2c91eda.08e26","x":1101,"y":1333,"wires":[]},{"id":"17bdcbea.e7aa84","type":"comment","z":"bca64c3b.0e4c","name":"IN Door Light Controller","info":"","x":202,"y":760,"wires":[]},{"id":"43e9c6e5.ecce98","type":"mqtt in","z":"bca64c3b.0e4c","name":"Brightness_Capteur","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":190,"y":1500,"wires":[["a802ad.1d8b8d5"]]},{"id":"4f6e306c.6c226","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1410,"y":1420,"wires":[]},{"id":"a802ad.1d8b8d5","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":230,"y":1560,"wires":[["d9197eb0.85a2c"]]},{"id":"2dcdc346.3f9dfc","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1620,"wires":[["a7bc68ec.df0f18","60fd8a6c.f4fce4"]]},{"id":"b057f74b.d60808","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":1500,"wires":[["e2f39a17.531ba8","da1b741f.e5e998"]]},{"id":"60fd8a6c.f4fce4","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1640,"wires":[["ffb968c6.3a7528"]]},{"id":"a7bc68ec.df0f18","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"4","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":830,"y":1600,"wires":[["fb5178df.c07218"]]},{"id":"da1b741f.e5e998","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":1480,"wires":[["fb5178df.c07218"]]},{"id":"e2f39a17.531ba8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"4","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":830,"y":1520,"wires":[["ffb968c6.3a7528"]]},{"id":"c345706b.1ad3a","type":"mqtt in","z":"bca64c3b.0e4c","name":"Openness_Capteur","topic":"/home/J/Input/float/Roller_Shades_(Openness)","qos":"2","broker":"e6cc5916.4480c8","x":130,"y":1760,"wires":[["977337a0.fe68c8"]]},{"id":"977337a0.fe68c8","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":290,"y":1760,"wires":[["2bd148e8.f7d678"]]},{"id":"2bd148e8.f7d678","type":"function","z":"bca64c3b.0e4c","name":"getOpenness","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.payload = topicSplit[5];\nmsg.open = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":1760,"wires":[[]]},{"id":"d9197eb0.85a2c","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 4){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":1620,"wires":[["62b1684a.479258"]]},{"id":"62b1684a.479258","type":"switch","z":"bca64c3b.0e4c","name":"choseMode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":1560,"wires":[["b057f74b.d60808"],["2dcdc346.3f9dfc"]]},{"id":"fb5178df.c07218","type":"function","z":"bca64c3b.0e4c","name":"UP_CONTROL","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1480,"wires":[["4f6e306c.6c226","27b0e718.852568","780b0c49.6c2004","c61ce339.b5e02"]]},{"id":"ffb968c6.3a7528","type":"function","z":"bca64c3b.0e4c","name":"DOWN_CONTROL","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":1640,"wires":[["2db1ec9.e14ec14","831d7be9.fe1ba8","42ce3437.ce0f9c","e65fb6f4.a84758"]]},{"id":"27b0e718.852568","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1410,"y":1460,"wires":[]},{"id":"780b0c49.6c2004","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1410,"y":1500,"wires":[]},{"id":"2db1ec9.e14ec14","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1420,"y":1580,"wires":[]},{"id":"831d7be9.fe1ba8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1420,"y":1620,"wires":[]},{"id":"42ce3437.ce0f9c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1420,"y":1660,"wires":[]},{"id":"c61ce339.b5e02","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1410,"y":1540,"wires":[]},{"id":"e65fb6f4.a84758","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1420,"y":1700,"wires":[]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7153c242.194b6c","type":"mqtt-broker","z":"","broker":"sparks-vm24.i3s.unice.fr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]