README.txt
[{"id":"8886b422.0bd738","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"66e6ce19.241c6","x":350,"y":100,"wires":[["ecd99634.e97ca8"]]},{"id":"953fe853.1767c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"mqtt thingspeak out","topic":"","qos":"","retain":"","broker":"7153c242.194b6c","x":1229,"y":227,"wires":[]},{"id":"ecd99634.e97ca8","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["6b164c9d.d68674"]]},{"id":"e6aa98c4.9860a8","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":869,"y":167,"wires":[["953fe853.1767c8"]]},{"id":"6b164c9d.d68674","type":"switch","z":"bca64c3b.0e4c","name":"filter continuous update data","property":"shouldBeThrottled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["e6aa98c4.9860a8"],["953fe853.1767c8"]]},{"id":"1b30d24f.802d3e","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":370,"y":1180,"wires":[["8a31c3fe.61748"]]},{"id":"b97b9e0d.e9a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":900,"y":1180,"wires":[]},{"id":"991d953c.6bfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1260,"wires":[]},{"id":"50874117.1c25","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1220,"wires":[]},{"id":"d6243fa5.96dd3","type":"function","z":"bca64c3b.0e4c","name":"LightControl","func":"if(msg.brightness !== undefined){\n    if(msg.brightness < 1.8){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\nif(msg.hour !== undefined){\n    msg.payload = 3;\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":1300,"wires":[["b97b9e0d.e9a0c","50874117.1c25","991d953c.6bfb98","e23ed32.03b6f3"]]},{"id":"e23ed32.03b6f3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1300,"wires":[]},{"id":"8a31c3fe.61748","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":180,"y":1240,"wires":[["420262e.e2cf39c"]]},{"id":"c2a7fc0e.b2c67","type":"comment","z":"bca64c3b.0e4c","name":"OUT Door Light Controller Demo","info":"","x":241,"y":1093,"wires":[]},{"id":"4b7a6565.e46ecc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":299,"y":387,"wires":[["6bebbe99.60891"]]},{"id":"e736fa87.8959e8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":540,"wires":[["674e7044.a7374"]]},{"id":"38ee17fa.ce22a8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":350,"y":640,"wires":[["597ac6e7.798f58"]]},{"id":"674e7044.a7374","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":580,"wires":[["597ac6e7.798f58"],["38ee17fa.ce22a8"]]},{"id":"597ac6e7.798f58","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":570,"y":560,"wires":[["4b985b7e.501764"],["ca5edb16.813e48"],["230b9546.4cd0aa"],["bd9f1df9.a0b99"],["8e27175d.ffbcf8"],["33519017.0b2a1"],["577afc74.bb7474"],["d614740d.6f02c8"],["e02e58f0.b3aac8"],["48a4d655.d8b4c8"],["845a0dc9.06e79"],["7e8aad73.f29604"],["55d19351.92a6fc"],["f46c36c4.a6ab78"],["30414441.9939ac"]]},{"id":"4b985b7e.501764","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":340,"wires":[]},{"id":"230b9546.4cd0aa","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":420,"wires":[]},{"id":"8e27175d.ffbcf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":500,"wires":[]},{"id":"577afc74.bb7474","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":580,"wires":[]},{"id":"d614740d.6f02c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":620,"wires":[]},{"id":"48a4d655.d8b4c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":700,"wires":[]},{"id":"845a0dc9.06e79","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":740,"wires":[]},{"id":"7e8aad73.f29604","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":780,"wires":[]},{"id":"55d19351.92a6fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":870,"y":820,"wires":[]},{"id":"30414441.9939ac","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/bool/Lights_Entrance","qos":"","retain":"","broker":"a2c91eda.08e26","x":840,"y":940,"wires":[]},{"id":"ca5edb16.813e48","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":380,"wires":[["e6b93d65.c1499","efadabad.7487e8"]]},{"id":"e6b93d65.c1499","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":360,"wires":[]},{"id":"efadabad.7487e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":400,"wires":[]},{"id":"bd9f1df9.a0b99","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":460,"wires":[["7c0f8e4f.f8ef4","79bb58.f0b064a8"]]},{"id":"33519017.0b2a1","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":540,"wires":[["825825e0.9b2c58","238534f9.499cec"]]},{"id":"e02e58f0.b3aac8","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":660,"wires":[["1ccad752.055b39","12150512.11a70b"]]},{"id":"f46c36c4.a6ab78","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":880,"wires":[["1c5f3b43.a490d5","feeb1aaf.171cf8","6ed0f8da.9bb918"]]},{"id":"79bb58.f0b064a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":480,"wires":[]},{"id":"7c0f8e4f.f8ef4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":440,"wires":[]},{"id":"238534f9.499cec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":560,"wires":[]},{"id":"825825e0.9b2c58","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":520,"wires":[]},{"id":"1ccad752.055b39","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":627,"wires":[]},{"id":"12150512.11a70b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":687,"wires":[]},{"id":"1c5f3b43.a490d5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":840,"wires":[]},{"id":"feeb1aaf.171cf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":880,"wires":[]},{"id":"6ed0f8da.9bb918","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_3","qos":"","retain":"","broker":"a2c91eda.08e26","x":1210,"y":920,"wires":[]},{"id":"17bdcbea.e7aa84","type":"comment","z":"bca64c3b.0e4c","name":"IN Door Light Controller Demo","info":"","x":220,"y":340,"wires":[]},{"id":"43e9c6e5.ecce98","type":"mqtt in","z":"bca64c3b.0e4c","name":"Brightness_Capteur","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":280,"y":1420,"wires":[["a802ad.1d8b8d5"]]},{"id":"4f6e306c.6c226","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":980,"wires":[]},{"id":"a802ad.1d8b8d5","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":300,"y":1480,"wires":[["d9197eb0.85a2c"]]},{"id":"2dcdc346.3f9dfc","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1580,"wires":[["a7bc68ec.df0f18","60fd8a6c.f4fce4"]]},{"id":"b057f74b.d60808","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1420,"wires":[["e2f39a17.531ba8","da1b741f.e5e998"]]},{"id":"60fd8a6c.f4fce4","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1580,"wires":[["ffb968c6.3a7528"]]},{"id":"a7bc68ec.df0f18","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":850,"y":1540,"wires":[["fb5178df.c07218"]]},{"id":"da1b741f.e5e998","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":1420,"wires":[["fb5178df.c07218"]]},{"id":"e2f39a17.531ba8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":850,"y":1460,"wires":[["ffb968c6.3a7528"]]},{"id":"c345706b.1ad3a","type":"mqtt in","z":"bca64c3b.0e4c","name":"Openness_Capteur","topic":"/home/J/Input/float/Roller_Shades_(Openness)","qos":"2","broker":"e6cc5916.4480c8","x":300,"y":4960,"wires":[["977337a0.fe68c8"]]},{"id":"977337a0.fe68c8","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":500,"y":4960,"wires":[["2bd148e8.f7d678"]]},{"id":"2bd148e8.f7d678","type":"function","z":"bca64c3b.0e4c","name":"getOpenness","func":"if(context.global.OpennessGLOBAL === undefined){\n    context.global.set(\"OpennessGLOBAL\");\n}\ncontext.global.OpennessGLOBAL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":670,"y":4960,"wires":[]},{"id":"d9197eb0.85a2c","type":"function","z":"bca64c3b.0e4c","name":"modeChoose","func":"if(msg.payload < 4){\n    msg.payload = true;//close\n}else{\n    msg.payload = false;//open\n}\n// msg.s = global.get(\"OpennessGLOBAL\");\n// if(msg.payload){\n//     if(global.get(\"OpennessGLOBAL\") > 0){\n//         return msg;\n//     }\n// }else{\n//     if(global.get(\"OpennessGLOBAL\") < 10){\n//         return msg;\n//     }\n// }\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1540,"wires":[["9ad9201a.15832"]]},{"id":"62b1684a.479258","type":"switch","z":"bca64c3b.0e4c","name":"choseUPDOWN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":1500,"wires":[["b057f74b.d60808"],["2dcdc346.3f9dfc"]]},{"id":"fb5178df.c07218","type":"function","z":"bca64c3b.0e4c","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1060,"y":1420,"wires":[["4f6e306c.6c226","27b0e718.852568","780b0c49.6c2004","c61ce339.b5e02","f906698.bc63498","e75e8aa1.bdfb98","15e8cc7c.6b5344","a5650383.634c6","c2e9fe96.991b5","a916fb6e.0ac3e8","9a67c72.534ce38","2db6bca2.59a074","6775ea7d.3c94c4"]]},{"id":"ffb968c6.3a7528","type":"function","z":"bca64c3b.0e4c","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":1580,"wires":[["2db1ec9.e14ec14","831d7be9.fe1ba8","42ce3437.ce0f9c","e65fb6f4.a84758","59761d80.70add4","edf8af01.ac7fc","eca1f25c.3b4d4","507e3c44.c872a4","187c102f.073f1","7eb4bc13.f20294","7694c44.146f53c","8ac6a6a4.0b2d28","94e09e23.08506"]]},{"id":"27b0e718.852568","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1020,"wires":[]},{"id":"780b0c49.6c2004","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1060,"wires":[]},{"id":"2db1ec9.e14ec14","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1540,"wires":[]},{"id":"831d7be9.fe1ba8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1580,"wires":[]},{"id":"42ce3437.ce0f9c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1620,"wires":[]},{"id":"c61ce339.b5e02","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1100,"wires":[]},{"id":"e65fb6f4.a84758","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1660,"wires":[]},{"id":"da35981b.bee988","type":"comment","z":"bca64c3b.0e4c","name":"Volet automatique Demo","info":"","x":200,"y":1360,"wires":[]},{"id":"de1331af.19df7","type":"comment","z":"bca64c3b.0e4c","name":"Remote light","info":"","x":170,"y":2860,"wires":[]},{"id":"346ac213.382b0e","type":"comment","z":"bca64c3b.0e4c","name":"Openness detect Global","info":"","x":200,"y":4900,"wires":[]},{"id":"690e863e.7c4788","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":145,"y":1300,"wires":[["d7baa44f.d15938"]]},{"id":"de154b48.e4f118","type":"mqtt in","z":"bca64c3b.0e4c","name":"TimeLocal","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"e6cc5916.4480c8","x":260,"y":4800,"wires":[["5b599703.728638"]]},{"id":"5b599703.728638","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"26","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":4800,"wires":[["4a97e153.ba593"]]},{"id":"4a97e153.ba593","type":"function","z":"bca64c3b.0e4c","name":"ToTime","func":"var time = msg.payload.split(\" \");\nvar timeSplit = time[1];\nvar s = timeSplit.split(\":\");\nmsg.hour = s[0];\nmsg.minute = s[1];\nmsg.second = s[2];\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":4800,"wires":[["641feadd.92cb54"]]},{"id":"641feadd.92cb54","type":"function","z":"bca64c3b.0e4c","name":"timeTransfer","func":"\n\ncontext.global.time = 3600*msg.hour + 60*msg.minute + msg.second;\ncontext.global.hour = msg.hour;\ncontext.global.minute = msg.minute;\ncontext.global.second = msg.second;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4800,"wires":[["7afd1fbc.0beb"]]},{"id":"59ce6b82.093514","type":"comment","z":"bca64c3b.0e4c","name":"Local_TIME","info":"","x":150,"y":4740,"wires":[]},{"id":"7afd1fbc.0beb","type":"link out","z":"bca64c3b.0e4c","name":"TIME","links":["690e863e.7c4788","bad62d74.07d9b","b9ba313c.37601","5b385c8f.92c5b4"],"x":845,"y":4800,"wires":[]},{"id":"58e844a2.262cbc","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":179,"y":47,"wires":[[]]},{"id":"d7baa44f.d15938","type":"function","z":"bca64c3b.0e4c","name":"TimeSignalBlocker","func":"if(context.global.hour >22 || context.global.hour<7){\n    msg.hour = context.global.hour;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":280,"y":1300,"wires":[["65806d8b.cb1944"]]},{"id":"420262e.e2cf39c","type":"function","z":"bca64c3b.0e4c","name":"setBrightness","func":"msg.brightness = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1240,"wires":[["65806d8b.cb1944"]]},{"id":"806ca5b1.64ce88","type":"ui_dropdown","z":"bca64c3b.0e4c","name":"Room","label":"","place":"","group":"55c8875e.fd1cd8","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"Entrance","value":"Entrance","type":"str"},{"label":"OutSide","value":"OutSide","type":"str"}],"payload":"","topic":"","x":169,"y":3047,"wires":[["4035179a.073438"]]},{"id":"1a657134.af870f","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"},{"t":"eq","v":"OutSide","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":679,"y":3047,"wires":[["784cef3e.5b2e"],["3999ee3.765a612"],["2bd71789.e0fdc8"],["a82e76c2.473bf8"],["59b9a149.32db7"],["c9508676.c6d838"],["d4f3c555.e49308"],["e5eaf30.a17a31"],["96a3e2e2.38b2f"],["292adbea.1693a4"],["ca83135f.13072"],["386f9135.e3be2e"],["ca386b35.edf818"],["647a236c.f474fc"],["8164a9ff.6f9d88"],["28924bbb.c1d234","8bdfb0fe.d75cf","33e2a87c.0ad468","b4f5e328.45dc2"]]},{"id":"784cef3e.5b2e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":2827,"wires":[]},{"id":"2bd71789.e0fdc8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":2907,"wires":[]},{"id":"59b9a149.32db7","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":2987,"wires":[]},{"id":"d4f3c555.e49308","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3067,"wires":[]},{"id":"e5eaf30.a17a31","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3107,"wires":[]},{"id":"292adbea.1693a4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3187,"wires":[]},{"id":"ca83135f.13072","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3227,"wires":[]},{"id":"386f9135.e3be2e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3267,"wires":[]},{"id":"ca386b35.edf818","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":1039,"y":3307,"wires":[]},{"id":"8164a9ff.6f9d88","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/bool/Lights_Entrance","qos":"","retain":"","broker":"a2c91eda.08e26","x":1009,"y":3427,"wires":[]},{"id":"3999ee3.765a612","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":2867,"wires":[["89b86611.367558","9614041d.65c5b8"]]},{"id":"89b86611.367558","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":2847,"wires":[]},{"id":"9614041d.65c5b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":2887,"wires":[]},{"id":"a82e76c2.473bf8","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":2947,"wires":[["244bf3bc.9d854c","25790ccf.fd5284"]]},{"id":"c9508676.c6d838","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":3027,"wires":[["c5d1d6f3.377538","64a405b7.17279c"]]},{"id":"96a3e2e2.38b2f","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1019,"y":3147,"wires":[["3541cc1.6368034","d452ace7.ba4a"]]},{"id":"647a236c.f474fc","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1029,"y":3367,"wires":[["f3e67ebe.6eee","e2f1027b.abd7c","b215b875.fd75a8"]]},{"id":"25790ccf.fd5284","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":2967,"wires":[]},{"id":"244bf3bc.9d854c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":2927,"wires":[]},{"id":"64a405b7.17279c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3047,"wires":[]},{"id":"c5d1d6f3.377538","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3007,"wires":[]},{"id":"3541cc1.6368034","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3114,"wires":[]},{"id":"d452ace7.ba4a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3174,"wires":[]},{"id":"f3e67ebe.6eee","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3327,"wires":[]},{"id":"e2f1027b.abd7c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3367,"wires":[]},{"id":"b215b875.fd75a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_3","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":3407,"wires":[]},{"id":"4035179a.073438","type":"function","z":"bca64c3b.0e4c","name":"set room","func":"if(context.global.Lroom === undefined){\n    context.global.set(\"Lroom\");\n}\ncontext.global.Lroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":299,"y":3047,"wires":[["28d83641.a198da","4b0931a6.60efc"]]},{"id":"4b0931a6.60efc","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"55c8875e.fd1cd8","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":489,"y":3107,"wires":[["1a657134.af870f"]]},{"id":"28d83641.a198da","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"55c8875e.fd1cd8","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":489,"y":2987,"wires":[["1a657134.af870f"]]},{"id":"f906698.bc63498","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1160,"wires":[]},{"id":"59761d80.70add4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1720,"wires":[]},{"id":"e75e8aa1.bdfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1200,"wires":[]},{"id":"edf8af01.ac7fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1760,"wires":[]},{"id":"15e8cc7c.6b5344","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1240,"wires":[]},{"id":"eca1f25c.3b4d4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1800,"wires":[]},{"id":"a5650383.634c6","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1280,"wires":[]},{"id":"507e3c44.c872a4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1840,"wires":[]},{"id":"c2e9fe96.991b5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1320,"wires":[]},{"id":"187c102f.073f1","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":1880,"wires":[]},{"id":"a916fb6e.0ac3e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1360,"wires":[]},{"id":"7eb4bc13.f20294","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1920,"wires":[]},{"id":"9a67c72.534ce38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1400,"wires":[]},{"id":"7694c44.146f53c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1960,"wires":[]},{"id":"2db6bca2.59a074","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1440,"wires":[]},{"id":"6775ea7d.3c94c4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1440,"y":1480,"wires":[]},{"id":"8ac6a6a4.0b2d28","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":2000,"wires":[]},{"id":"94e09e23.08506","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1450,"y":2040,"wires":[]},{"id":"27ff3ef2.18ea42","type":"ui_dropdown","z":"bca64c3b.0e4c","name":"Room","label":"","place":"","group":"1a479358.3ef61d","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"OutSide","value":"O","type":"str"}],"payload":"","topic":"","x":170,"y":3760,"wires":[["ff7d52fd.b3eed"]]},{"id":"ff7d52fd.b3eed","type":"function","z":"bca64c3b.0e4c","name":"set Vroom","func":"if(context.global.Vroom === undefined){\n    context.global.set(\"Vroom\");\n}\ncontext.global.Vroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":3760,"wires":[["9082df01.26ddc","f97a08f.79b13f8"]]},{"id":"f97a08f.79b13f8","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"1a479358.3ef61d","order":0,"width":"1","height":"1","passthru":false,"label":"UP","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":510,"y":3800,"wires":[["7306beeb.58d15"]]},{"id":"9082df01.26ddc","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"1a479358.3ef61d","order":0,"width":"1","height":"1","passthru":false,"label":"DOWN","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":520,"y":3720,"wires":[["7306beeb.58d15"]]},{"id":"3e0fdbb8.8665f4","type":"comment","z":"bca64c3b.0e4c","name":"Remote volet","info":"","x":171,"y":3653,"wires":[]},{"id":"b6f4b84f.ca54d8","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":3820,"wires":[["3d257908.ff7776","d91e2d78.b2538"]]},{"id":"178d7d99.23f572","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":3700,"wires":[["adb8749.3345488","e5e76b3.978c598"]]},{"id":"d91e2d78.b2538","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":3840,"wires":[["1618476c.c15619"]]},{"id":"3d257908.ff7776","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":1070,"y":3800,"wires":[["c2ea8d91.92111"]]},{"id":"e5e76b3.978c598","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":3680,"wires":[["c2ea8d91.92111"]]},{"id":"adb8749.3345488","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":1070,"y":3720,"wires":[["1618476c.c15619"]]},{"id":"7306beeb.58d15","type":"switch","z":"bca64c3b.0e4c","name":"choseMode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"false","vt":"jsonata"},{"t":"eq","v":"true","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":3760,"wires":[["178d7d99.23f572"],["b6f4b84f.ca54d8"]]},{"id":"c2ea8d91.92111","type":"function","z":"bca64c3b.0e4c","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":3680,"wires":[["cc2647ad.0cccf8"]]},{"id":"1618476c.c15619","type":"function","z":"bca64c3b.0e4c","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":3840,"wires":[["31ce0c5d.34c524"]]},{"id":"28924bbb.c1d234","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1089,"y":3487,"wires":[]},{"id":"33e2a87c.0ad468","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1099,"y":3567,"wires":[]},{"id":"8bdfb0fe.d75cf","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1099,"y":3527,"wires":[]},{"id":"b4f5e328.45dc2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1099,"y":3607,"wires":[]},{"id":"cc2647ad.0cccf8","type":"switch","z":"bca64c3b.0e4c","name":"Room","property":"Vroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1450,"y":3600,"wires":[["ee8c653a.2cdc38","8e91ec5c.f5f45","412a46f5.2ed648","a135916d.b8426"],["11f04381.dc7a0c"],["653d8021.c4763"],["e2034c98.b4b94"],["77c27fed.f94c4"],["57347c56.e18c94"],["a4fc3cd0.3e972"],["9f60c498.4307b8"],["a5dc909d.45afb"],["251fc23f.253afe"]]},{"id":"ee8c653a.2cdc38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3380,"wires":[]},{"id":"8e91ec5c.f5f45","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3420,"wires":[]},{"id":"412a46f5.2ed648","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3460,"wires":[]},{"id":"a135916d.b8426","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3500,"wires":[]},{"id":"11f04381.dc7a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3540,"wires":[]},{"id":"653d8021.c4763","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3580,"wires":[]},{"id":"e2034c98.b4b94","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3620,"wires":[]},{"id":"77c27fed.f94c4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3660,"wires":[]},{"id":"57347c56.e18c94","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3700,"wires":[]},{"id":"a4fc3cd0.3e972","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3740,"wires":[]},{"id":"9f60c498.4307b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3780,"wires":[]},{"id":"a5dc909d.45afb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3820,"wires":[]},{"id":"251fc23f.253afe","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1820,"y":3860,"wires":[]},{"id":"62a5cf77.c0b9e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1850,"y":3920,"wires":[]},{"id":"b87f44dd.98f938","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1850,"y":3960,"wires":[]},{"id":"c8ed3b1d.606138","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1850,"y":4000,"wires":[]},{"id":"15e1b811.875668","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1850,"y":4040,"wires":[]},{"id":"fec51ca2.fb1a9","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4100,"wires":[]},{"id":"7f0fd0cf.2bcce","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4140,"wires":[]},{"id":"5aa49041.e3592","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4180,"wires":[]},{"id":"72094357.9010ec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4220,"wires":[]},{"id":"619477a6.5f6158","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4260,"wires":[]},{"id":"d0fb14d0.48dde8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4300,"wires":[]},{"id":"ca188f3a.87afb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4340,"wires":[]},{"id":"3bb6c16.08a363e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4380,"wires":[]},{"id":"1072885.736bf78","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1840,"y":4420,"wires":[]},{"id":"31ce0c5d.34c524","type":"switch","z":"bca64c3b.0e4c","name":"Room","property":"Vroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":1459,"y":4087,"wires":[["62a5cf77.c0b9e","b87f44dd.98f938","c8ed3b1d.606138","15e1b811.875668"],["fec51ca2.fb1a9"],["7f0fd0cf.2bcce"],["5aa49041.e3592"],["72094357.9010ec"],["619477a6.5f6158"],["d0fb14d0.48dde8"],["ca188f3a.87afb"],["3bb6c16.08a363e"],["1072885.736bf78"]]},{"id":"cc3460b7.e917d","type":"comment","z":"bca64c3b.0e4c","name":"Remote Auto-Manu-Switch","info":"","x":210,"y":3260,"wires":[]},{"id":"62e806a6.25d018","type":"ui_switch","z":"bca64c3b.0e4c","name":"Manu-mode","label":"Manu mode","group":"e451255c.558d48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":270,"y":3320,"wires":[["bbe453d0.cb4d7"]]},{"id":"bbe453d0.cb4d7","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.Manu === undefined){\n    context.global.set(\"Manu\");\n}\ncontext.global.Manu = msg.payload;\n\n","outputs":0,"noerr":0,"x":480,"y":3320,"wires":[]},{"id":"65806d8b.cb1944","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":530,"y":1240,"wires":[["d6243fa5.96dd3"]]},{"id":"b2e393bd.34667","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":3400,"wires":[[]]},{"id":"9ad9201a.15832","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":280,"y":1640,"wires":[["62b1684a.479258"]]},{"id":"b2f0dc7c.37ec","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":340,"y":500,"wires":[["e736fa87.8959e8"]]},{"id":"8d4616f1.e98778","type":"comment","z":"bca64c3b.0e4c","name":"----------------------------------------------------------------------------------------------------------------------------------REMOTE---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------","info":"","x":1090,"y":2720,"wires":[]},{"id":"fa6967b2.37a4e8","type":"comment","z":"bca64c3b.0e4c","name":"-------------------------------------------------------------------------------------------------------------------Global Value------------------------------------------------------------------------","info":"","x":710,"y":4700,"wires":[]},{"id":"a6e926e4.65cec8","type":"comment","z":"bca64c3b.0e4c","name":"Garage automatique Demo","info":"","x":210,"y":1760,"wires":[]},{"id":"f8a703a4.6f3a1","type":"comment","z":"bca64c3b.0e4c","name":"Remote Lock ","info":"","x":170,"y":3880,"wires":[]},{"id":"6799495e.0280f8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_1","qos":"2","broker":"a2c91eda.08e26","x":270,"y":4100,"wires":[["3e15bf20.b4adb"]]},{"id":"2c9dcf9.de37e3","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Leave Home Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":200,"y":3940,"wires":[["56b492b.37ce06c"]]},{"id":"56b492b.37ce06c","type":"function","z":"bca64c3b.0e4c","name":"SetLeaveHomeLockMode","func":"if(context.global.LEAVEHOMELOCK === undefined){\n    context.global.set(\"LEAVEHOMELOCK\");\n}\ncontext.global.LEAVEHOMELOCK = msg.payload;\nif(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n","outputs":0,"noerr":0,"x":500,"y":3940,"wires":[]},{"id":"950ee4ef.e1b4d8","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Night Sleep Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":190,"y":4020,"wires":[["35fba693.6b350a"]]},{"id":"35fba693.6b350a","type":"function","z":"bca64c3b.0e4c","name":"SetNightSleepLockMode","func":"if(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n","outputs":0,"noerr":0,"x":480,"y":4020,"wires":[]},{"id":"3e15bf20.b4adb","type":"function","z":"bca64c3b.0e4c","name":"if lock sleep mode?","func":"if(global.get(\"NIGHTSLEEPLOCK\")){\n    return [msg,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":620,"y":4140,"wires":[["210eb69e.744b9a"],["4a53db8d.531dd4"]]},{"id":"51f96f96.ef0d8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_2","qos":"2","broker":"a2c91eda.08e26","x":270,"y":4140,"wires":[["3e15bf20.b4adb"]]},{"id":"a8569b15.3e6768","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector","qos":"2","broker":"a2c91eda.08e26","x":280,"y":4180,"wires":[["3e15bf20.b4adb"]]},{"id":"210eb69e.744b9a","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA = {};\nmsgA.topic = 'A';\nmsgA.payload = 0;\n\nmsgB = {};\nmsgB.topic = 'B';\nmsgB.payload = 0;\n\nmsgD = {};\nmsgD.topic = 'D';\nmsgD.payload = 0;\n\nmsgE1 = {};\nmsgE1.topic = 'E';\nmsgE1.payload = 0;\n\n\nmsgE2 = {};\nmsgE2.topic = 'E';\nmsgE2.payload = 0;\n\n\nmsgF = {};\nmsgF.topic = 'F';\nmsgF.payload = 0;\n\n\nmsgG = {};\nmsgG.topic = 'G';\nmsgG.payload = 0;\n\nmsgH = {};\nmsgH.topic = 'H';\nmsgH.payload = 0;\n\nmsgI = {};\nmsgI.topic = 'I';\nmsgI.payload = 0;\n\nmsgJ = {};\nmsgJ.topic = 'J';\nmsgJ.payload = 0;\n\nmsgK = {};\nmsgK.topic = 'K';\nmsgK.payload = 0;\n\nmsgL = {};\nmsgL.topic = 'L';\nmsgL.payload = 0;\n\nmsgM = {};\nmsgM.topic = 'M';\nmsgM.payload = 0;\n\nmsgN = {};\nmsgN.topic = 'N';\nmsgN.payload = 0;\nvar arr = [msgA,msgB,msgD,msgE1,msgE2,msgF,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\narr.forEach(function(name){\n    if(name.topic == msg.room){\n        if(msg.payload){\n            name.payload = 1;\n        }\n    }else{\n        name.payload = 0;\n    }\n})\n\nreturn arr;\n","outputs":14,"noerr":0,"x":830,"y":4100,"wires":[["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"],["e6777851.ca35b8"]]},{"id":"e6777851.ca35b8","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Port O/F Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ff0000","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1090,"y":4000,"wires":[[],[]]},{"id":"7413ef1b.39969","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":790,"y":4260,"wires":[]},{"id":"f8b4bf70.10bfa","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":790,"y":4220,"wires":[]},{"id":"bad62d74.07d9b","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":385,"y":4260,"wires":[["82275632.83e3e8"]]},{"id":"4a53db8d.531dd4","type":"function","z":"bca64c3b.0e4c","name":"Launch","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":4220,"wires":[["f8b4bf70.10bfa","7413ef1b.39969"]]},{"id":"82275632.83e3e8","type":"function","z":"bca64c3b.0e4c","name":"StopAlarm","func":"msg.payload = false;\nif(!global.get(\"NIGHTSLEEPLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":4260,"wires":[["f8b4bf70.10bfa","7413ef1b.39969"]]},{"id":"d9555816.065048","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":280,"y":4380,"wires":[["6fa73490.c3a33c"]]},{"id":"6fa73490.c3a33c","type":"function","z":"bca64c3b.0e4c","name":"setmode","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":4500,"wires":[["bf611ff1.d4bbf"]]},{"id":"bf611ff1.d4bbf","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":4560,"wires":[["43019ee5.4be97"],[]]},{"id":"ac67df48.a3b99","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA = {};\nmsgA.topic = 'A';\nmsgA.payload = 0;\n\nmsgB = {};\nmsgB.topic = 'B';\nmsgB.payload = 0;\n\nmsgD = {};\nmsgD.topic = 'D';\nmsgD.payload = 0;\n\nmsgE1 = {};\nmsgE1.topic = 'E';\nmsgE1.payload = 0;\n\n\nmsgE2 = {};\nmsgE2.topic = 'E';\nmsgE2.payload = 0;\n\n\nmsgF = {};\nmsgF.topic = 'F';\nmsgF.payload = 0;\n\n\nmsgG = {};\nmsgG.topic = 'G';\nmsgG.payload = 0;\n\nmsgH = {};\nmsgH.topic = 'H';\nmsgH.payload = 0;\n\nmsgI = {};\nmsgI.topic = 'I';\nmsgI.payload = 0;\n\nmsgJ = {};\nmsgJ.topic = 'J';\nmsgJ.payload = 0;\n\nmsgK = {};\nmsgK.topic = 'K';\nmsgK.payload = 0;\n\nmsgL = {};\nmsgL.topic = 'L';\nmsgL.payload = 0;\n\nmsgM = {};\nmsgM.topic = 'M';\nmsgM.payload = 0;\n\nmsgN = {};\nmsgN.topic = 'N';\nmsgN.payload = 0;\nvar arr = [msgA,msgB,msgD,msgE1,msgE2,msgF,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\narr.forEach(function(name){\n    if(name.topic == msg.room){\n        if(msg.payload){\n            name.payload = 1;\n        }else{\n            name.payload = 0;\n        }\n    }\n})\n\nreturn arr;\n","outputs":14,"noerr":0,"x":590,"y":4460,"wires":[["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"],["29ae668c.a102aa"]]},{"id":"29ae668c.a102aa","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Mouvement Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":860,"y":4380,"wires":[[],[]]},{"id":"c742b509.963168","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":790,"y":4660,"wires":[]},{"id":"8b337ef3.35ca2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":790,"y":4620,"wires":[]},{"id":"5b385c8f.92c5b4","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":385,"y":4660,"wires":[["bcb7067d.c1fa68"]]},{"id":"5b7116de.646128","type":"function","z":"bca64c3b.0e4c","name":"Launch","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":4620,"wires":[["8b337ef3.35ca2","c742b509.963168"]]},{"id":"bcb7067d.c1fa68","type":"function","z":"bca64c3b.0e4c","name":"StopAlarm","func":"msg.payload = false;\nif(!global.get(\"LEAVEHOMELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":4660,"wires":[["8b337ef3.35ca2","c742b509.963168"]]},{"id":"43019ee5.4be97","type":"function","z":"bca64c3b.0e4c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":4620,"wires":[["5b7116de.646128","ac67df48.a3b99"]]},{"id":"2d6f4c06.78ae04","type":"mqtt in","z":"bca64c3b.0e4c","name":"OUDOORBRIGHTNESS","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":1040,"y":4840,"wires":[["4e1e71af.579af"]]},{"id":"a9a22f27.070dc","type":"comment","z":"bca64c3b.0e4c","name":"Out_Door_Brightness","info":"","x":1000,"y":4760,"wires":[]},{"id":"4e1e71af.579af","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1260,"y":4840,"wires":[["50a16087.6844e"]]},{"id":"50a16087.6844e","type":"function","z":"bca64c3b.0e4c","name":"getBrightness","func":"if(context.global.OUDOORBRIGHTNESS === undefined){\n    context.global.set(\"OUDOORBRIGHTNESS\");\n}\ncontext.global.OUDOORBRIGHTNESS = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1430,"y":4840,"wires":[]},{"id":"6bebbe99.60891","type":"function","z":"bca64c3b.0e4c","name":"if bright enough?","func":"if(global.get(\"OUDOORBRIGHTNESS\")<7){\n    return msg;\n}","outputs":1,"noerr":0,"x":341,"y":453,"wires":[["b2f0dc7c.37ec"]]},{"id":"643a4247.e240ac","type":"comment","z":"bca64c3b.0e4c","name":"Garage Lock","info":"","x":2250,"y":2800,"wires":[]},{"id":"b1040ea7.f495c","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Garage","label":"Lock Garage","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2330,"y":2840,"wires":[["b4f1c358.8a235"]]},{"id":"b4f1c358.8a235","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.GARAGELOCK === undefined){\n    context.global.set(\"GARAGELOCK\");\n}\ncontext.global.GARAGELOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":2530,"y":2840,"wires":[]},{"id":"2b01400c.6fe2c","type":"comment","z":"bca64c3b.0e4c","name":"Garage Remote","info":"","x":2250,"y":2960,"wires":[]},{"id":"952755.04cd48a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2970,"y":3140,"wires":[]},{"id":"739a15e8.3aa03c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2970,"y":3100,"wires":[]},{"id":"50f8e881.da5e28","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2320,"y":3100,"wires":[["8d010a07.475578"]]},{"id":"3aa6ca1a.341276","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2510,"y":3140,"wires":[["952755.04cd48a8"]]},{"id":"2f971b30.aed994","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":3200,"wires":[["750762f8.c0e15c"]]},{"id":"4d7e8b48.f12e64","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2380,"y":3040,"wires":[["ebf95e39.52bc3"]]},{"id":"ebf95e39.52bc3","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2650,"y":3040,"wires":[["739a15e8.3aa03c"]]},{"id":"750762f8.c0e15c","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2650,"y":3200,"wires":[["952755.04cd48a8"]]},{"id":"4caa036b.6e59ac","type":"comment","z":"bca64c3b.0e4c","name":"Portail Remote","info":"","x":2250,"y":3280,"wires":[]},{"id":"94a173f8.7c7a2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2970,"y":3440,"wires":[]},{"id":"c0b04c56.f911a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2970,"y":3400,"wires":[]},{"id":"f28e8b63.998a18","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2310,"y":3400,"wires":[["22c8b373.d3b02c"]]},{"id":"eb51fc83.02c96","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2500,"y":3440,"wires":[["94a173f8.7c7a2"]]},{"id":"4b175992.8056c8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2390,"y":3500,"wires":[["cdebea99.af7028"]]},{"id":"53ca9256.59841c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2390,"y":3340,"wires":[["cfcb73a6.f1ab9"]]},{"id":"cfcb73a6.f1ab9","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2650,"y":3340,"wires":[["c0b04c56.f911a"]]},{"id":"cdebea99.af7028","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2650,"y":3500,"wires":[["94a173f8.7c7a2"]]},{"id":"bca4e3a3.c3384","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Infrared)","qos":"2","broker":"e6cc5916.4480c8","x":330,"y":1860,"wires":[["66b55865.b85578"]]},{"id":"d65985ea.c2b718","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":450,"y":1960,"wires":[["9393361d.e0f758","41bd1ede.e4b92"]]},{"id":"8d2ddd0a.49846","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":840,"y":2060,"wires":[]},{"id":"6cb16f9b.0b3df","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":840,"y":2020,"wires":[]},{"id":"41bd1ede.e4b92","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":380,"y":2060,"wires":[["17b25b2f.f94bf5"]]},{"id":"17b25b2f.f94bf5","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":520,"y":2060,"wires":[["8d2ddd0a.49846"]]},{"id":"9393361d.e0f758","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":660,"y":1940,"wires":[["6cb16f9b.0b3df"]]},{"id":"2c2082ac.a7742e","type":"comment","z":"bca64c3b.0e4c","name":"Portail automatique Demo","info":"","x":200,"y":2140,"wires":[]},{"id":"c1d4b56d.97d7c8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_3)","qos":"2","broker":"e6cc5916.4480c8","x":330,"y":2400,"wires":[["aba77ecd.ea4bf"]]},{"id":"d17dca51.bbcf98","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":750,"y":2340,"wires":[["120c84ff.71ef4b","783c38f3.ad3e28"]]},{"id":"783c38f3.ad3e28","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":660,"y":2460,"wires":[["79e9e13.0e2892"]]},{"id":"79e9e13.0e2892","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":800,"y":2460,"wires":[["1d404f2d.cf5e81"]]},{"id":"120c84ff.71ef4b","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":940,"y":2340,"wires":[["6cc6f1cf.de6d3"]]},{"id":"dc04029f.b99b6","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_2)","qos":"2","broker":"e6cc5916.4480c8","x":330,"y":2360,"wires":[["aba77ecd.ea4bf"]]},{"id":"5e4d72e2.dc162c","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_1)","qos":"2","broker":"e6cc5916.4480c8","x":330,"y":2320,"wires":[["aba77ecd.ea4bf"]]},{"id":"6cc6f1cf.de6d3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1160,"y":2420,"wires":[]},{"id":"1d404f2d.cf5e81","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1160,"y":2460,"wires":[]},{"id":"8d010a07.475578","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2560,"y":3100,"wires":[["739a15e8.3aa03c"]]},{"id":"8216bace.7c53f8","type":"comment","z":"bca64c3b.0e4c","name":"Portail Lock","info":"","x":2250,"y":2880,"wires":[]},{"id":"30adcef2.baa3f2","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Portail","label":"Lock Portail","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2330,"y":2920,"wires":[["49ee2321.ce92dc"]]},{"id":"49ee2321.ce92dc","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.PORTAILLOCK === undefined){\n    context.global.set(\"PORTAILLOCK\");\n}\ncontext.global.PORTAILLOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":2540,"y":2920,"wires":[]},{"id":"22c8b373.d3b02c","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2560,"y":3400,"wires":[["c0b04c56.f911a"]]},{"id":"66b55865.b85578","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":660,"y":1880,"wires":[["d65985ea.c2b718"]]},{"id":"aba77ecd.ea4bf","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":740,"y":2280,"wires":[["d17dca51.bbcf98"]]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7153c242.194b6c","type":"mqtt-broker","z":"","broker":"sparks-vm24.i3s.unice.fr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"55c8875e.fd1cd8","type":"ui_group","z":"","name":"Lumiere","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"1a479358.3ef61d","type":"ui_group","z":"","name":"Volet","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"e451255c.558d48","type":"ui_group","z":"","name":"Mode Switch","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"cd1c51a0.0190b","type":"ui_group","z":"","name":"Securite","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3d4cb1fb.37d88e","type":"ui_group","z":"","name":"Room etat","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3b03d596.d6bb0a","type":"ui_group","z":"","name":"Garage","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"49e5d472.08d61c","type":"ui_group","z":"","name":"Portail","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]