README.md
[{"id":"e959a7cd.e9afc8","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":149,"y":67,"wires":[[]]},{"id":"8886b422.0bd738","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"66e6ce19.241c6","x":260,"y":140,"wires":[["ecd99634.e97ca8"]]},{"id":"953fe853.1767c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"mqtt thingspeak out","topic":"","qos":"","retain":"","broker":"7153c242.194b6c","x":890,"y":280,"wires":[]},{"id":"ecd99634.e97ca8","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\n\n// Flag continuous messages\nmsg.shouldBeThrottled = false;\nif(\n topicSplit[3] == \"Memory\" ||\n topicSplit[5].startsWith(\"Thermostat\") ||\n topicSplit[5].startsWith(\"Date_and_Time\") ||\n topicSplit[5].startsWith(\"Brightness\")){\n msg.shouldBeThrottled = true;\n}\n\n// Build ThingSpeak payload\nvar value = msg.payload;\nif(topicSplit[3] == \"bool\"){\n value = msg.payload==\"True\"?1:0;\n}\nmsg.payload = Date.now() + \",\" + topicSplit[topicSplit.length - 1] + \",\" + value + \",\" + API_KEY;\nmsg.topic = \"devices\" + msg.topic;\n\n// Don't proceed if the API key isn't set properly\nif(API_KEY != \"8HX6895TV90H9EIB\") return null;\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["6b164c9d.d68674"]]},{"id":"e6aa98c4.9860a8","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":640,"y":220,"wires":[["953fe853.1767c8"]]},{"id":"6b164c9d.d68674","type":"switch","z":"bca64c3b.0e4c","name":"filter continuous update data","property":"shouldBeThrottled","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":360,"y":260,"wires":[["e6aa98c4.9860a8"],["953fe853.1767c8"]]},{"id":"1b30d24f.802d3e","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":250,"y":560,"wires":[["d6ceaddf.3f42a","1f820519.2947bb","5ab141ce.1516f","a2aceaa0.b1c738"]]},{"id":"d6ceaddf.3f42a","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":500,"wires":[["11aab08e.5fc51f"]]},{"id":"11aab08e.5fc51f","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":500,"wires":[["fc96d961.c1d0c8"]]},{"id":"fc96d961.c1d0c8","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":500,"wires":[["b97b9e0d.e9a0c"]]},{"id":"b97b9e0d.e9a0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Pool","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":500,"wires":[]},{"id":"991d953c.6bfb98","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":560,"wires":[]},{"id":"50874117.1c25","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Porch_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":620,"wires":[]},{"id":"1f820519.2947bb","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":560,"wires":[["978cbb3e.164408"]]},{"id":"70726a3a.b1c0f4","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":560,"wires":[["991d953c.6bfb98"]]},{"id":"5ab141ce.1516f","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":620,"wires":[["6c4f8e90.359bb"]]},{"id":"73f1df23.0b5cc","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":620,"wires":[["50874117.1c25"]]},{"id":"a2aceaa0.b1c738","type":"function","z":"bca64c3b.0e4c","name":"translate home io payload to thingspeak","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar topicSplit = msg.topic.split(/[/]+/);\nmsg.topic = topicSplit[3];\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":680,"wires":[["8a31c3fe.61748"]]},{"id":"d6243fa5.96dd3","type":"function","z":"bca64c3b.0e4c","name":"LightSwimmingController","func":"if(msg.payload < 1.8){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":680,"wires":[["e23ed32.03b6f3"]]},{"id":"e23ed32.03b6f3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Lights_Garden","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":680,"wires":[]},{"id":"978cbb3e.164408","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":560,"wires":[["70726a3a.b1c0f4"]]},{"id":"6c4f8e90.359bb","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":620,"wires":[["73f1df23.0b5cc"]]},{"id":"8a31c3fe.61748","type":"delay","z":"bca64c3b.0e4c","name":"limit continunous update rate","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"21","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":990,"y":680,"wires":[["d6243fa5.96dd3"]]},{"id":"c2a7fc0e.b2c67","type":"comment","z":"bca64c3b.0e4c","name":"OUT Door Light Controller","info":"","x":170,"y":500,"wires":[]},{"id":"4b7a6565.e46ecc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":200,"y":860,"wires":[["e736fa87.8959e8"]]},{"id":"e736fa87.8959e8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":960,"wires":[["674e7044.a7374"]]},{"id":"38ee17fa.ce22a8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":1160,"wires":[["597ac6e7.798f58"]]},{"id":"674e7044.a7374","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":1060,"wires":[["597ac6e7.798f58"],["38ee17fa.ce22a8"]]},{"id":"597ac6e7.798f58","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":480,"y":1020,"wires":[["4b985b7e.501764"],["ca5edb16.813e48"],["230b9546.4cd0aa"],["bd9f1df9.a0b99"],["8e27175d.ffbcf8"],["33519017.0b2a1"],["577afc74.bb7474"],["d614740d.6f02c8"],["e02e58f0.b3aac8"],["48a4d655.d8b4c8"],["845a0dc9.06e79"],["7e8aad73.f29604"],["55d19351.92a6fc"],["f46c36c4.a6ab78"],["30414441.9939ac"]]},{"id":"4b985b7e.501764","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":800,"wires":[]},{"id":"230b9546.4cd0aa","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":880,"wires":[]},{"id":"8e27175d.ffbcf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":960,"wires":[]},{"id":"577afc74.bb7474","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1040,"wires":[]},{"id":"d614740d.6f02c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1080,"wires":[]},{"id":"48a4d655.d8b4c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1160,"wires":[]},{"id":"845a0dc9.06e79","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1200,"wires":[]},{"id":"7e8aad73.f29604","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1240,"wires":[]},{"id":"55d19351.92a6fc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Lights","qos":"","retain":"","broker":"a2c91eda.08e26","x":780,"y":1280,"wires":[]},{"id":"30414441.9939ac","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/bool/Lights_Entrance","qos":"","retain":"","broker":"a2c91eda.08e26","x":750,"y":1400,"wires":[]},{"id":"ca5edb16.813e48","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg,msg;","outputs":1,"noerr":0,"x":760,"y":840,"wires":[["e6b93d65.c1499","efadabad.7487e8"]]},{"id":"e6b93d65.c1499","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":820,"wires":[]},{"id":"efadabad.7487e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":860,"wires":[]},{"id":"bd9f1df9.a0b99","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":920,"wires":[["7c0f8e4f.f8ef4","79bb58.f0b064a8"]]},{"id":"33519017.0b2a1","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg,msg;","outputs":1,"noerr":0,"x":760,"y":1000,"wires":[["825825e0.9b2c58","238534f9.499cec"]]},{"id":"e02e58f0.b3aac8","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg,msg;","outputs":1,"noerr":0,"x":760,"y":1120,"wires":[["1ccad752.055b39","12150512.11a70b"]]},{"id":"f46c36c4.a6ab78","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg,msg,msg;","outputs":1,"noerr":0,"x":770,"y":1340,"wires":[["1c5f3b43.a490d5","feeb1aaf.171cf8","6ed0f8da.9bb918"]]},{"id":"79bb58.f0b064a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":940,"wires":[]},{"id":"7c0f8e4f.f8ef4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":900,"wires":[]},{"id":"238534f9.499cec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1020,"wires":[]},{"id":"825825e0.9b2c58","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":980,"wires":[]},{"id":"1ccad752.055b39","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1080,"wires":[]},{"id":"12150512.11a70b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1160,"wires":[]},{"id":"1c5f3b43.a490d5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_1","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1300,"wires":[]},{"id":"feeb1aaf.171cf8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_2","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1340,"wires":[]},{"id":"6ed0f8da.9bb918","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Lights_3","qos":"","retain":"","broker":"a2c91eda.08e26","x":1070,"y":1380,"wires":[]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7153c242.194b6c","type":"mqtt-broker","z":"","broker":"sparks-vm24.i3s.unice.fr","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]