json/AirConditioner.json
[{"id":"5a2df26c.c8ebdc","type":"ui_numeric","z":"64d2c48f.f7e72c","name":"TemperatureSet","label":"numeric","group":"7b25e5e1.b2319c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"30","step":1,"x":600,"y":240,"wires":[["a1d6f82e.8aaf48"]]},{"id":"1fbb1294.b113ad","type":"comment","z":"64d2c48f.f7e72c","name":"Air conditioner","info":"","x":350,"y":180,"wires":[]},{"id":"a459c5b7.a95458","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/A/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":320,"wires":[]},{"id":"a1d6f82e.8aaf48","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TTar === undefined){\n    context.global.set(\"TTar\");\n}\nmsg.c = msg.payload;\ncontext.global.TTar = msg.c;","outputs":0,"noerr":0,"x":820,"y":240,"wires":[]},{"id":"112785d2.61ab4a","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/D/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":360,"wires":[]},{"id":"d35aa934.a25ac8","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/E/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":400,"wires":[]},{"id":"f7da1ce6.89bd5","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/G/Output/bool/Heater_2","qos":"","retain":"","broker":"e6cc5916.4480c8","x":870,"y":440,"wires":[]},{"id":"e37e427f.99dbf","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/G/Output/bool/Heater_1","qos":"","retain":"","broker":"e6cc5916.4480c8","x":870,"y":480,"wires":[]},{"id":"456eab47.a531a4","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/H/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":520,"wires":[]},{"id":"847c3ab6.8af508","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/I/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":560,"wires":[]},{"id":"bfb7fd01.308b7","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/J/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":600,"wires":[]},{"id":"c035370b.a5cc08","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/K/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":640,"wires":[]},{"id":"8c42b1f1.a3374","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/L/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":680,"wires":[]},{"id":"6c1c3d3e.510cc4","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/M/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":720,"wires":[]},{"id":"4a1bf6cc.bc40e8","type":"mqtt out","z":"64d2c48f.f7e72c","name":"","topic":"/home/N/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":860,"y":760,"wires":[]},{"id":"fc11662e.d352a8","type":"link in","z":"64d2c48f.f7e72c","name":"","links":["7afd1fbc.0beb"],"x":245,"y":540,"wires":[["fede8d4f.0d158","cfd22657.08a9d8","72d38f42.be06f","67572a85.547be4","7347876.df63678","67fb628f.5f901c","b985f50.9338d08","feb9a34f.7c944","274deba5.126954","66cc316d.6ab9b","bd4f08fb.2f2448"]]},{"id":"fede8d4f.0d158","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\n\n\n\nmsg.a= global.get(\"TA\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.AV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\n\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":340,"wires":[["a459c5b7.a95458"]]},{"id":"cfd22657.08a9d8","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TD\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.DV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\n\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":380,"wires":[["112785d2.61ab4a"]]},{"id":"72d38f42.be06f","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TE\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.EV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["d35aa934.a25ac8"]]},{"id":"67572a85.547be4","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TG\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.GV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":460,"wires":[["f7da1ce6.89bd5","e37e427f.99dbf"]]},{"id":"7347876.df63678","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TH\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.HV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":500,"wires":[["456eab47.a531a4"]]},{"id":"67fb628f.5f901c","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TI\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.IV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["847c3ab6.8af508"]]},{"id":"b985f50.9338d08","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TJ\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.JV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":580,"wires":[["bfb7fd01.308b7"]]},{"id":"feb9a34f.7c944","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TK\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.KV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":620,"wires":[["c035370b.a5cc08"]]},{"id":"274deba5.126954","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TL\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.LV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":660,"wires":[["8c42b1f1.a3374"]]},{"id":"66cc316d.6ab9b","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TM\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.MV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":700,"wires":[["6c1c3d3e.510cc4"]]},{"id":"bd4f08fb.2f2448","type":"function","z":"64d2c48f.f7e72c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TN\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.NV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":740,"wires":[["4a1bf6cc.bc40e8"]]},{"id":"a6d6ec94.5c218","type":"ui_switch","z":"64d2c48f.f7e72c","name":"economic mode","label":"economic mode","group":"7b25e5e1.b2319c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":680,"y":200,"wires":[["d37fbfce.4ff59"]]},{"id":"d37fbfce.4ff59","type":"function","z":"64d2c48f.f7e72c","name":"SetMode","func":"if(context.global.tempEco === undefined){\n    context.global.set(\"tempEco\");\n}\ncontext.global.tempEco = msg.payload;","outputs":0,"noerr":0,"x":880,"y":200,"wires":[]},{"id":"5cc5ee86.d0171","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TA","topic":"/home/general/Memory/float/Temperature_Zone_A_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":240,"wires":[["22f8e97.d119816"]]},{"id":"65d1d3f3.6be9ec","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TB","topic":"/home/general/Memory/float/Temperature_Zone_B_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":280,"wires":[["fb1690d6.b6586"]]},{"id":"2d485e49.b194f2","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TC","topic":"/home/general/Memory/float/Temperature_Zone_C_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":240,"wires":[["9e907ebf.ae195"]]},{"id":"1fb591bd.350dae","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TD","topic":"/home/general/Memory/float/Temperature_Zone_D_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":280,"wires":[["379d6b9.1dcc094"]]},{"id":"c18c1063.66e38","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TE","topic":"/home/general/Memory/float/Temperature_Zone_E_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":320,"wires":[["b2ae2d70.13a6a"]]},{"id":"cf575d8b.810b","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TF","topic":"/home/general/Memory/float/Temperature_Zone_F_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":360,"wires":[["c3756020.84fe9"]]},{"id":"3edcf45c.5bcefc","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TG","topic":"/home/general/Memory/float/Temperature_Zone_G_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":320,"wires":[["6804874d.f7ec68"]]},{"id":"cff2a152.6e09b","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TH","topic":"/home/general/Memory/float/Temperature_Zone_H_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":360,"wires":[["466af73e.a7d4c8"]]},{"id":"4ae71290.dce1bc","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TI","topic":"/home/general/Memory/float/Temperature_Zone_I_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":400,"wires":[["f90f8fe6.6830a"]]},{"id":"4e7acd9f.eb0954","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TJ","topic":"/home/general/Memory/float/Temperature_Zone_J_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":440,"wires":[["2a3e18e7.018438"]]},{"id":"5a89b699.010298","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TK","topic":"/home/general/Memory/float/Temperature_Zone_K_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":400,"wires":[["43d6f1dd.e555d"]]},{"id":"2238c137.dc4e7e","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TL","topic":"/home/general/Memory/float/Temperature_Zone_L_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":440,"wires":[["e25fbd6d.019e"]]},{"id":"9af3e7f.3c0d818","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TM","topic":"/home/general/Memory/float/Temperature_Zone_M_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1250,"y":480,"wires":[["c2549a3e.9a8e58"]]},{"id":"272d2b7e.7e20a4","type":"mqtt in","z":"64d2c48f.f7e72c","name":"TN","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1710,"y":480,"wires":[["f9c1accc.b348b"]]},{"id":"22f8e97.d119816","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":240,"wires":[["f54e4a73.47afb8"]]},{"id":"fb1690d6.b6586","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":280,"wires":[["e34b6c05.2257f"]]},{"id":"9e907ebf.ae195","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":240,"wires":[["59dbf6da.a82f98"]]},{"id":"379d6b9.1dcc094","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":280,"wires":[["f25b80fa.226ae"]]},{"id":"b2ae2d70.13a6a","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":320,"wires":[["72ac043b.de001c"]]},{"id":"c3756020.84fe9","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":360,"wires":[["e0230b3a.c8acb8"]]},{"id":"6804874d.f7ec68","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":320,"wires":[["70b7cdf2.f35b74"]]},{"id":"466af73e.a7d4c8","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":360,"wires":[["78a061b1.74a5e"]]},{"id":"f90f8fe6.6830a","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":400,"wires":[["c1b3476a.803f08"]]},{"id":"2a3e18e7.018438","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":440,"wires":[["aa040e46.a1a5c"]]},{"id":"43d6f1dd.e555d","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":400,"wires":[["6106ec71.59d664"]]},{"id":"e25fbd6d.019e","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":440,"wires":[["57a4eb3d.a53304"]]},{"id":"c2549a3e.9a8e58","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1380,"y":480,"wires":[["51111c32.f08e94"]]},{"id":"f9c1accc.b348b","type":"delay","z":"64d2c48f.f7e72c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1840,"y":480,"wires":[["950fb6c4.791468"]]},{"id":"f54e4a73.47afb8","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TA === undefined){\n    context.global.set(\"TA\");\n}\ncontext.global.TA = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":240,"wires":[]},{"id":"e34b6c05.2257f","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TB === undefined){\n    context.global.set(\"TB\");\n}\ncontext.global.TB = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":280,"wires":[]},{"id":"59dbf6da.a82f98","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TC === undefined){\n    context.global.set(\"TC\");\n}\ncontext.global.TC = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":240,"wires":[]},{"id":"f25b80fa.226ae","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TD === undefined){\n    context.global.set(\"TD\");\n}\ncontext.global.TD = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":280,"wires":[]},{"id":"72ac043b.de001c","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TE === undefined){\n    context.global.set(\"TE\");\n}\ncontext.global.TE = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":320,"wires":[]},{"id":"e0230b3a.c8acb8","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TF === undefined){\n    context.global.set(\"TF\");\n}\ncontext.global.TF = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":360,"wires":[]},{"id":"70b7cdf2.f35b74","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TG === undefined){\n    context.global.set(\"TG\");\n}\ncontext.global.TG = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":320,"wires":[]},{"id":"78a061b1.74a5e","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TH === undefined){\n    context.global.set(\"TH\");\n}\ncontext.global.TH = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":360,"wires":[]},{"id":"c1b3476a.803f08","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TI === undefined){\n    context.global.set(\"TI\");\n}\ncontext.global.TI = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":400,"wires":[]},{"id":"aa040e46.a1a5c","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TJ === undefined){\n    context.global.set(\"TJ\");\n}\ncontext.global.TJ = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":440,"wires":[]},{"id":"6106ec71.59d664","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TK === undefined){\n    context.global.set(\"TK\");\n}\ncontext.global.TK = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":400,"wires":[]},{"id":"57a4eb3d.a53304","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TL === undefined){\n    context.global.set(\"TL\");\n}\ncontext.global.TL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":440,"wires":[]},{"id":"51111c32.f08e94","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TM === undefined){\n    context.global.set(\"TM\");\n}\ncontext.global.TM = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1550,"y":480,"wires":[]},{"id":"950fb6c4.791468","type":"function","z":"64d2c48f.f7e72c","name":"setTemperature","func":"if(context.global.TN === undefined){\n    context.global.set(\"TN\");\n}\ncontext.global.TN = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2010,"y":480,"wires":[]},{"id":"e0cc14f2.5cf988","type":"comment","z":"64d2c48f.f7e72c","name":"Temperature Setter","info":"","x":1200,"y":180,"wires":[]},{"id":"7b25e5e1.b2319c","type":"ui_group","z":"","name":"Temperature","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]