json/Garage_Portail.json
[{"id":"6ac8825f.6df32c","type":"comment","z":"6b90e73a.1a36b8","name":"Garage automatique Demo","info":"","x":370,"y":200,"wires":[]},{"id":"929c254.f08b4d8","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Input/bool/Garage_Door_(Infrared)","qos":"2","broker":"e6cc5916.4480c8","x":500,"y":280,"wires":[["a68ac48e.c149c8"]]},{"id":"b5054a09.7f5948","type":"function","z":"6b90e73a.1a36b8","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["6b650a75.756c84","5bc6eba1.61f194"]]},{"id":"febc2caa.9a80e","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1010,"y":480,"wires":[]},{"id":"8877a580.ac5188","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1010,"y":440,"wires":[]},{"id":"5bc6eba1.61f194","type":"delay","z":"6b90e73a.1a36b8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":550,"y":480,"wires":[["b459373.a8792c8"]]},{"id":"b459373.a8792c8","type":"trigger","z":"6b90e73a.1a36b8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":690,"y":480,"wires":[["febc2caa.9a80e"]]},{"id":"6b650a75.756c84","type":"trigger","z":"6b90e73a.1a36b8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":830,"y":360,"wires":[["8877a580.ac5188"]]},{"id":"a68ac48e.c149c8","type":"function","z":"6b90e73a.1a36b8","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":830,"y":300,"wires":[["b5054a09.7f5948"]]},{"id":"b2abd1af.1e9e8","type":"comment","z":"6b90e73a.1a36b8","name":"Portail automatique Demo","info":"","x":290,"y":640,"wires":[]},{"id":"d9c94b18.e9ff68","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_3)","qos":"2","broker":"e6cc5916.4480c8","x":430,"y":820,"wires":[["2d83bc45.0b6a94"]]},{"id":"bab768f2.7eb0a8","type":"function","z":"6b90e73a.1a36b8","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":850,"y":760,"wires":[["fd5a9598.890828","754df8de.b88578"]]},{"id":"754df8de.b88578","type":"delay","z":"6b90e73a.1a36b8","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":760,"y":880,"wires":[["c6fd4018.92cb1"]]},{"id":"c6fd4018.92cb1","type":"trigger","z":"6b90e73a.1a36b8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":900,"y":880,"wires":[["88d03f0a.db6be"]]},{"id":"fd5a9598.890828","type":"trigger","z":"6b90e73a.1a36b8","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1040,"y":760,"wires":[["1a7f994.8fe4967"]]},{"id":"28c0e022.d2f1c","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_2)","qos":"2","broker":"e6cc5916.4480c8","x":430,"y":780,"wires":[["2d83bc45.0b6a94"]]},{"id":"ef568d9a.2d601","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_1)","qos":"2","broker":"e6cc5916.4480c8","x":430,"y":740,"wires":[["2d83bc45.0b6a94"]]},{"id":"1a7f994.8fe4967","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1260,"y":840,"wires":[]},{"id":"88d03f0a.db6be","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1260,"y":880,"wires":[]},{"id":"2d83bc45.0b6a94","type":"function","z":"6b90e73a.1a36b8","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":840,"y":700,"wires":[["bab768f2.7eb0a8"]]},{"id":"cb82e040.957f4","type":"comment","z":"6b90e73a.1a36b8","name":"Garage Remote","info":"","x":290,"y":1080,"wires":[]},{"id":"64467807.4b2168","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1010,"y":1260,"wires":[]},{"id":"5c5d8e4b.80426","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1010,"y":1220,"wires":[]},{"id":"8662ecd4.91e85","type":"ui_button","z":"6b90e73a.1a36b8","name":"Open Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":360,"y":1220,"wires":[["dfc10db0.f83bc"]]},{"id":"2f506407.79cffc","type":"ui_button","z":"6b90e73a.1a36b8","name":"Close Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":550,"y":1260,"wires":[["64467807.4b2168"]]},{"id":"b4557031.5d1ff","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Input/bool/Garage_Door_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":420,"y":1320,"wires":[["ae34389c.9dba68"]]},{"id":"1d14575d.120059","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/F/Input/bool/Garage_Door_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":420,"y":1160,"wires":[["ed0a95e.d06f668"]]},{"id":"ed0a95e.d06f668","type":"change","z":"6b90e73a.1a36b8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1160,"wires":[["5c5d8e4b.80426"]]},{"id":"ae34389c.9dba68","type":"change","z":"6b90e73a.1a36b8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":1320,"wires":[["64467807.4b2168"]]},{"id":"b18c61a2.b7e06","type":"comment","z":"6b90e73a.1a36b8","name":"Portail Remote","info":"","x":290,"y":1400,"wires":[]},{"id":"be9a3e9.1f7adc","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1000,"y":1620,"wires":[]},{"id":"822d178e.f0f5a8","type":"mqtt out","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1000,"y":1580,"wires":[]},{"id":"e3e30b29.706c88","type":"ui_button","z":"6b90e73a.1a36b8","name":"Open Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":340,"y":1580,"wires":[["6c46ca6e.d172a4"]]},{"id":"5fcc2077.ac65b","type":"ui_button","z":"6b90e73a.1a36b8","name":"Close Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":530,"y":1620,"wires":[["be9a3e9.1f7adc"]]},{"id":"82493471.daed78","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":420,"y":1680,"wires":[["bbe6602d.239a7"]]},{"id":"1b1eec06.7cd384","type":"mqtt in","z":"6b90e73a.1a36b8","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":420,"y":1520,"wires":[["e890e9f.7a85b18"]]},{"id":"e890e9f.7a85b18","type":"change","z":"6b90e73a.1a36b8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1520,"wires":[["822d178e.f0f5a8"]]},{"id":"bbe6602d.239a7","type":"change","z":"6b90e73a.1a36b8","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1680,"wires":[["be9a3e9.1f7adc"]]},{"id":"dfc10db0.f83bc","type":"function","z":"6b90e73a.1a36b8","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":600,"y":1220,"wires":[["5c5d8e4b.80426"]]},{"id":"6c46ca6e.d172a4","type":"function","z":"6b90e73a.1a36b8","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":590,"y":1580,"wires":[["822d178e.f0f5a8"]]},{"id":"b876266d.518ef8","type":"change","z":"6b90e73a.1a36b8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":1100,"wires":[["5c5d8e4b.80426"]]},{"id":"e96c6ab8.8bf3e8","type":"change","z":"6b90e73a.1a36b8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1380,"wires":[["64467807.4b2168"]]},{"id":"626f83dd.fb3a4c","type":"change","z":"6b90e73a.1a36b8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1760,"wires":[["be9a3e9.1f7adc"]]},{"id":"71eb88f2.c8a638","type":"change","z":"6b90e73a.1a36b8","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1480,"wires":[["822d178e.f0f5a8"]]},{"id":"91ec010c.664c2","type":"comment","z":"6b90e73a.1a36b8","name":"Garage Lock","info":"","x":1460,"y":220,"wires":[]},{"id":"54755d94.df12e4","type":"ui_switch","z":"6b90e73a.1a36b8","name":"Lock Garage","label":"Lock Garage","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1540,"y":260,"wires":[["8f78bc8b.61c57"]]},{"id":"8f78bc8b.61c57","type":"function","z":"6b90e73a.1a36b8","name":"SetMode","func":"if(context.global.GARAGELOCK === undefined){\n    context.global.set(\"GARAGELOCK\");\n}\ncontext.global.GARAGELOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":1740,"y":260,"wires":[]},{"id":"78cebf83.cb247","type":"comment","z":"6b90e73a.1a36b8","name":"Portail Lock","info":"","x":1460,"y":300,"wires":[]},{"id":"6bb4fd11.819a74","type":"ui_switch","z":"6b90e73a.1a36b8","name":"Lock Portail","label":"Lock Portail","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1540,"y":340,"wires":[["999b492b.30d7f8"]]},{"id":"999b492b.30d7f8","type":"function","z":"6b90e73a.1a36b8","name":"SetMode","func":"if(context.global.PORTAILLOCK === undefined){\n    context.global.set(\"PORTAILLOCK\");\n}\ncontext.global.PORTAILLOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":1750,"y":340,"wires":[]},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3b03d596.d6bb0a","type":"ui_group","z":"","name":"Garage","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"49e5d472.08d61c","type":"ui_group","z":"","name":"Portail","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"cd1c51a0.0190b","type":"ui_group","z":"","name":"Securite","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]