json/IndoorLight.json
[{"id":"6189c36f.82002c","type":"mqtt in","z":"59b29fde.63d8e","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":340,"y":160,"wires":[["a12cf18e.517fc"]]},{"id":"a71fb337.e3e83","type":"function","z":"59b29fde.63d8e","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":391,"y":313,"wires":[["82abe4ce.4783f8"]]},{"id":"d167790d.031e08","type":"delay","z":"59b29fde.63d8e","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":321,"y":473,"wires":[["6cef7c.49d4e084"]]},{"id":"82abe4ce.4783f8","type":"switch","z":"59b29fde.63d8e","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":201,"y":373,"wires":[["6cef7c.49d4e084"],["d167790d.031e08"]]},{"id":"980ede38.e0df","type":"switch","z":"59b29fde.63d8e","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":651,"y":333,"wires":[["f2cacec8.5f0b5"],["24c4a9a.e0d3f56"],["1da0d399.cbac8c"],["661c6142.151a1"],["43a30a4e.2819b4"],["4b0c360.0cf96cc"],["abc12915.b70b18"],["f2240fad.0e75d"],["b5f465f8.645048"],["d493427.cdd72c"],["bce2c93c.c46288"],["ea18533.9e010b"],["9e2e0b15.5c0e88"],["29b57876.2a99f8"],["d5d5978b.ef8fe8"]]},{"id":"d5d5978b.ef8fe8","type":"mqtt out","z":"59b29fde.63d8e","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":921,"y":673,"wires":[]},{"id":"4a8bd5e2.99103c","type":"comment","z":"59b29fde.63d8e","name":"IN Door Light Controller Demo","info":"","x":231,"y":113,"wires":[]},{"id":"4245ae1e.30d6f","type":"function","z":"59b29fde.63d8e","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":381,"y":273,"wires":[["a71fb337.e3e83"]]},{"id":"a12cf18e.517fc","type":"function","z":"59b29fde.63d8e","name":"if bright enough?","func":"if(global.get(\"OUDOORBRIGHTNESS\")<7){\n    return msg;\n}","outputs":1,"noerr":0,"x":382,"y":226,"wires":[["4245ae1e.30d6f"]]},{"id":"f2cacec8.5f0b5","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":93,"wires":[]},{"id":"1da0d399.cbac8c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":173,"wires":[]},{"id":"43a30a4e.2819b4","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":253,"wires":[]},{"id":"abc12915.b70b18","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":333,"wires":[]},{"id":"f2240fad.0e75d","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":373,"wires":[]},{"id":"d493427.cdd72c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":453,"wires":[]},{"id":"bce2c93c.c46288","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":493,"wires":[]},{"id":"ea18533.9e010b","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":533,"wires":[]},{"id":"9e2e0b15.5c0e88","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1001,"y":573,"wires":[]},{"id":"24c4a9a.e0d3f56","type":"function","z":"59b29fde.63d8e","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":133,"wires":[["fcc626cf.bc3ed8","ec6b9c1f.ff1b9"]]},{"id":"fcc626cf.bc3ed8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":120,"wires":[]},{"id":"ec6b9c1f.ff1b9","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":160,"wires":[]},{"id":"661c6142.151a1","type":"function","z":"59b29fde.63d8e","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":213,"wires":[["e6feefb7.3524c","af26d77d.c64c28"]]},{"id":"4b0c360.0cf96cc","type":"function","z":"59b29fde.63d8e","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":293,"wires":[["a1f298b2.8a3ea8","8d9eeeb4.be995"]]},{"id":"b5f465f8.645048","type":"function","z":"59b29fde.63d8e","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":951,"y":413,"wires":[["8c1d1be3.b98498","d45c72b3.0bae6"]]},{"id":"29b57876.2a99f8","type":"function","z":"59b29fde.63d8e","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":961,"y":633,"wires":[["4b56320b.7ed04c","f53cc2fd.64519","37ec40dc.585cb"]]},{"id":"af26d77d.c64c28","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":240,"wires":[]},{"id":"e6feefb7.3524c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":200,"wires":[]},{"id":"8d9eeeb4.be995","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":320,"wires":[]},{"id":"a1f298b2.8a3ea8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1520,"y":280,"wires":[]},{"id":"8c1d1be3.b98498","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":387,"wires":[]},{"id":"d45c72b3.0bae6","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1530,"y":447,"wires":[]},{"id":"4b56320b.7ed04c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1500,"y":600,"wires":[]},{"id":"f53cc2fd.64519","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1500,"y":640,"wires":[]},{"id":"37ec40dc.585cb","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1500,"y":680,"wires":[]},{"id":"6cef7c.49d4e084","type":"function","z":"59b29fde.63d8e","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    if(msg.open){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(msg.open){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":431,"y":393,"wires":[["980ede38.e0df"]]},{"id":"7a820866.842958","type":"comment","z":"59b29fde.63d8e","name":"Remote light","info":"","x":940,"y":1200,"wires":[]},{"id":"c0e6e73f.2bdfb8","type":"ui_dropdown","z":"59b29fde.63d8e","name":"Room","label":"","place":"","group":"8afd9e0b.b8999","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"Entrance","value":"Entrance","type":"str"},{"label":"OutSide","value":"OutSide","type":"str"}],"payload":"","topic":"","x":900,"y":1260,"wires":[["e83f7f16.2d5d1"]]},{"id":"20b37d49.e90692","type":"switch","z":"59b29fde.63d8e","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"},{"t":"eq","v":"OutSide","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":1590,"y":1260,"wires":[["fcab2632.f9b488"],["febde003.3f20b"],["e6240bee.2d8578"],["cb4e7b1b.170df8"],["495c674a.7917d8"],["19b50021.33138"],["5616b1ef.99f3f"],["7941fd0d.2ac0b4"],["bb7fd4c6.d90948"],["f8f7fe3a.e173"],["e0d20346.baa35"],["a4115f8f.1a58"],["210203c8.a4918c"],["32d7c099.71158"],["218e8b4c.861ee4"],["3dbce41a.e09d1c","4eea24a9.5c834c","f5aaf5a5.fe3368","87c7d16b.8be1"]]},{"id":"fcab2632.f9b488","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":960,"wires":[]},{"id":"e6240bee.2d8578","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1040,"wires":[]},{"id":"495c674a.7917d8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1120,"wires":[]},{"id":"5616b1ef.99f3f","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1200,"wires":[]},{"id":"7941fd0d.2ac0b4","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1240,"wires":[]},{"id":"f8f7fe3a.e173","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1320,"wires":[]},{"id":"e0d20346.baa35","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1360,"wires":[]},{"id":"a4115f8f.1a58","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1400,"wires":[]},{"id":"210203c8.a4918c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2140,"y":1440,"wires":[]},{"id":"218e8b4c.861ee4","type":"mqtt out","z":"59b29fde.63d8e","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2070,"y":1520,"wires":[]},{"id":"febde003.3f20b","type":"function","z":"59b29fde.63d8e","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1000,"wires":[["4a7a3925.92af78","9f651fac.bbc35"]]},{"id":"4a7a3925.92af78","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":980,"wires":[]},{"id":"9f651fac.bbc35","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1020,"wires":[]},{"id":"cb4e7b1b.170df8","type":"function","z":"59b29fde.63d8e","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1080,"wires":[["935f740b.fb0c48","b894d080.cddda"]]},{"id":"19b50021.33138","type":"function","z":"59b29fde.63d8e","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1160,"wires":[["9c7cb31a.cb213","c0d9e5e2.3e7588"]]},{"id":"bb7fd4c6.d90948","type":"function","z":"59b29fde.63d8e","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1280,"wires":[["e2d4028.65d6","c44ef15c.0e4e9"]]},{"id":"32d7c099.71158","type":"function","z":"59b29fde.63d8e","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":1480,"wires":[["410c4120.87973","d086b19.c90a45","18d72277.afcd3e"]]},{"id":"b894d080.cddda","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1100,"wires":[]},{"id":"935f740b.fb0c48","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1060,"wires":[]},{"id":"c0d9e5e2.3e7588","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1180,"wires":[]},{"id":"9c7cb31a.cb213","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1140,"wires":[]},{"id":"e2d4028.65d6","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2690,"y":1247,"wires":[]},{"id":"c44ef15c.0e4e9","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2690,"y":1307,"wires":[]},{"id":"410c4120.87973","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1433,"wires":[]},{"id":"d086b19.c90a45","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1473,"wires":[]},{"id":"18d72277.afcd3e","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2680,"y":1513,"wires":[]},{"id":"e83f7f16.2d5d1","type":"function","z":"59b29fde.63d8e","name":"set room","func":"if(context.global.Lroom === undefined){\n    context.global.set(\"Lroom\");\n}\ncontext.global.Lroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":1260,"wires":[["d9a29271.21197","a97f67ef.abad18"]]},{"id":"a97f67ef.abad18","type":"ui_button","z":"59b29fde.63d8e","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":1220,"y":1320,"wires":[["3e746204.37353e"]]},{"id":"d9a29271.21197","type":"ui_button","z":"59b29fde.63d8e","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":1220,"y":1200,"wires":[["3e746204.37353e"]]},{"id":"3dbce41a.e09d1c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2200,"y":1620,"wires":[]},{"id":"f5aaf5a5.fe3368","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2210,"y":1700,"wires":[]},{"id":"4eea24a9.5c834c","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2210,"y":1660,"wires":[]},{"id":"87c7d16b.8be1","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2210,"y":1740,"wires":[]},{"id":"3e746204.37353e","type":"function","z":"59b29fde.63d8e","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    msg.stat = msg.payload;\n    if(msg.payload === true){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nmsg.stat = msg.payload;\nif(msg.payload){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1271,"y":1253,"wires":[["20b37d49.e90692","38e9c2f8.7ec56e"]]},{"id":"38e9c2f8.7ec56e","type":"switch","z":"59b29fde.63d8e","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":2010,"y":740,"wires":[["daf69bc2.2822d8"],["b36cedd9.64c1c"],["831aded4.25eb1"],["9b654c68.d3531"],["7df1d0d9.b941b"],["b82d9660.73e8f8"],["6bbc30a4.541f3"],["4302db2a.2c52c4"],["cdbc2a8.998bcd8"],["5d2b42e4.368b5c"],["b3d189bd.717418"],["16fb7380.5494fd"],["c06862f4.dc0fe"],["78be653.0424f9c"],["7e1e2589.7e88ac"]]},{"id":"daf69bc2.2822d8","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.ALAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":600,"wires":[[]]},{"id":"b36cedd9.64c1c","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.BLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":620,"wires":[[]]},{"id":"831aded4.25eb1","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.CLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":640,"wires":[[]]},{"id":"9b654c68.d3531","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.DLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":660,"wires":[[]]},{"id":"7df1d0d9.b941b","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.ELAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":680,"wires":[[]]},{"id":"b82d9660.73e8f8","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.FLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":700,"wires":[[]]},{"id":"6bbc30a4.541f3","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.GLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":720,"wires":[[]]},{"id":"4302db2a.2c52c4","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.HLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":740,"wires":[[]]},{"id":"cdbc2a8.998bcd8","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.ILAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":760,"wires":[[]]},{"id":"5d2b42e4.368b5c","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.JLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":780,"wires":[[]]},{"id":"b3d189bd.717418","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.KLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":800,"wires":[[]]},{"id":"16fb7380.5494fd","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.LLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":820,"wires":[[]]},{"id":"c06862f4.dc0fe","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.MLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":840,"wires":[[]]},{"id":"78be653.0424f9c","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.NLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":860,"wires":[[]]},{"id":"7e1e2589.7e88ac","type":"function","z":"59b29fde.63d8e","name":"","func":"context.global.EnLAMP = msg.stat;","outputs":1,"noerr":0,"x":2160,"y":880,"wires":[[]]},{"id":"7772623a.93229c","type":"comment","z":"59b29fde.63d8e","name":"set light state","info":"","x":2040,"y":540,"wires":[]},{"id":"83b3e560.9eb828","type":"link in","z":"59b29fde.63d8e","name":"","links":["7afd1fbc.0beb"],"x":135,"y":1800,"wires":[["8ff939d6.6fc698"]]},{"id":"878265aa.ed6208","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1520,"wires":[]},{"id":"c7bc00.01d154","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1600,"wires":[]},{"id":"99e8d3bd.f9058","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1680,"wires":[]},{"id":"4111c24a.5a7ebc","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1760,"wires":[]},{"id":"d3a632b6.3a14e","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1800,"wires":[]},{"id":"9354200d.8570e","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1880,"wires":[]},{"id":"4468b933.ae12c8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1920,"wires":[]},{"id":"6600be56.7d2fa","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":1960,"wires":[]},{"id":"8173f53b.2b70f8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":910,"y":2000,"wires":[]},{"id":"3e2fc36.3d97c3c","type":"mqtt out","z":"59b29fde.63d8e","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":850,"y":2080,"wires":[]},{"id":"169224ed.bff3db","type":"function","z":"59b29fde.63d8e","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1560,"wires":[["d0eb4a85.2c3e48","6b2bb95a.c79e78"]]},{"id":"d0eb4a85.2c3e48","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1540,"wires":[]},{"id":"6b2bb95a.c79e78","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1580,"wires":[]},{"id":"22e248e6.2d3de8","type":"function","z":"59b29fde.63d8e","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":1640,"wires":[["b8b0bbc7.aacbf8","10729730.1ae329"]]},{"id":"e78b929f.61eb6","type":"function","z":"59b29fde.63d8e","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1720,"wires":[["ffbe4d12.ef187","2fc4ece5.ed3334"]]},{"id":"93ba99e0.1ea8c8","type":"function","z":"59b29fde.63d8e","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":1840,"wires":[["1a0e5d53.7864a3","37bad950.d92f56"]]},{"id":"3e06750b.a5297a","type":"function","z":"59b29fde.63d8e","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":2040,"wires":[["82f5f451.d835f8","ef0658a6.c9a4f8","1426fb2b.e2c085"]]},{"id":"10729730.1ae329","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1660,"wires":[]},{"id":"b8b0bbc7.aacbf8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1620,"wires":[]},{"id":"2fc4ece5.ed3334","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1740,"wires":[]},{"id":"ffbe4d12.ef187","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1700,"wires":[]},{"id":"1a0e5d53.7864a3","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1460,"y":1807,"wires":[]},{"id":"37bad950.d92f56","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1460,"y":1867,"wires":[]},{"id":"82f5f451.d835f8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":1993,"wires":[]},{"id":"ef0658a6.c9a4f8","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2033,"wires":[]},{"id":"1426fb2b.e2c085","type":"mqtt out","z":"59b29fde.63d8e","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1440,"y":2080,"wires":[]},{"id":"b2057112.3298e","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ALAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1520,"wires":[["878265aa.ed6208"]]},{"id":"8ff939d6.6fc698","type":"function","z":"59b29fde.63d8e","name":"economic mode?","func":"if(global.get(\"LIGHTECO\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":290,"y":1800,"wires":[["b2057112.3298e","27ebed79.209ae2","2297092.46fd6f6","3e0ca730.c1d178","80f76683.22a058","946a4960.c81f38","c6ed845d.1fc0e8","a542b91b.0886d8","e9743df2.f6302","439e43f1.a749fc","3ff5fa25.a826d6","7affacb0.56f634","564bba33.9b5e64","87443c61.aa96b","8f27acaf.72faa"]]},{"id":"27ebed79.209ae2","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.BLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1560,"wires":[["169224ed.bff3db"]]},{"id":"2297092.46fd6f6","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.CLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1600,"wires":[["c7bc00.01d154"]]},{"id":"3e0ca730.c1d178","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.DLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1640,"wires":[["22e248e6.2d3de8"]]},{"id":"80f76683.22a058","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ELAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1680,"wires":[["99e8d3bd.f9058"]]},{"id":"946a4960.c81f38","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.FLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1720,"wires":[["e78b929f.61eb6"]]},{"id":"c6ed845d.1fc0e8","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.GLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1760,"wires":[["4111c24a.5a7ebc"]]},{"id":"a542b91b.0886d8","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.HLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1800,"wires":[["d3a632b6.3a14e"]]},{"id":"e9743df2.f6302","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ILAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1840,"wires":[["93ba99e0.1ea8c8"]]},{"id":"439e43f1.a749fc","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.JLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1880,"wires":[["9354200d.8570e"]]},{"id":"3ff5fa25.a826d6","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.KLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1920,"wires":[["4468b933.ae12c8"]]},{"id":"7affacb0.56f634","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.LLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":1960,"wires":[["6600be56.7d2fa"]]},{"id":"564bba33.9b5e64","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.MLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":2000,"wires":[["8173f53b.2b70f8"]]},{"id":"87443c61.aa96b","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.NLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":2040,"wires":[["3e06750b.a5297a"]]},{"id":"8f27acaf.72faa","type":"function","z":"59b29fde.63d8e","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.EnLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":600,"y":2080,"wires":[["3e2fc36.3d97c3c"]]},{"id":"7a7d3fd.bb11fc","type":"comment","z":"59b29fde.63d8e","name":"changle Light dynamique","info":"","x":250,"y":1740,"wires":[]},{"id":"cbc3a3e8.9214f","type":"mqtt in","z":"59b29fde.63d8e","name":"OUDOORBRIGHTNESS","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":230,"y":960,"wires":[["efcb6f5b.01f28"]]},{"id":"d6bdb1d5.138a8","type":"comment","z":"59b29fde.63d8e","name":"Out_Door_Brightness","info":"","x":200,"y":900,"wires":[]},{"id":"efcb6f5b.01f28","type":"delay","z":"59b29fde.63d8e","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":280,"y":1020,"wires":[["69767eab.9de9e"]]},{"id":"69767eab.9de9e","type":"function","z":"59b29fde.63d8e","name":"getBrightness","func":"if(context.global.OUDOORBRIGHTNESS === undefined){\n    context.global.set(\"OUDOORBRIGHTNESS\");\n}\ncontext.global.OUDOORBRIGHTNESS = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":290,"y":1080,"wires":[]},{"id":"f6adb8b7.5fad18","type":"comment","z":"59b29fde.63d8e","name":"Light economic mode","info":"","x":500,"y":900,"wires":[]},{"id":"a6197628.298cc8","type":"ui_switch","z":"59b29fde.63d8e","name":"Economic Light","label":"Economic Light","group":"8afd9e0b.b8999","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":570,"y":940,"wires":[["5f8f7d5e.4e7bb4"]]},{"id":"5f8f7d5e.4e7bb4","type":"function","z":"59b29fde.63d8e","name":"SetMode","func":"if(context.global.LIGHTECO === undefined){\n    context.global.set(\"LIGHTECO\");\n}\ncontext.global.LIGHTECO = msg.payload;\n\n","outputs":0,"noerr":0,"x":760,"y":940,"wires":[]},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8afd9e0b.b8999","type":"ui_group","z":"","name":"Lumiere","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]