json/Local_TIME.json
[{"id":"de154b48.e4f118","type":"mqtt in","z":"bca64c3b.0e4c","name":"TimeLocal","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"e6cc5916.4480c8","x":290,"y":260,"wires":[["5b599703.728638"]]},{"id":"5b599703.728638","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":300,"wires":[["4a97e153.ba593"]]},{"id":"4a97e153.ba593","type":"function","z":"bca64c3b.0e4c","name":"ToTime","func":"var time = msg.payload.split(\" \");\nvar timeSplit = time[1];\nvar s = timeSplit.split(\":\");\nmsg.hour = s[0];\nmsg.minute = s[1];\nmsg.second = s[2];\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":240,"wires":[["641feadd.92cb54"]]},{"id":"641feadd.92cb54","type":"function","z":"bca64c3b.0e4c","name":"timeTransfer","func":"\n\ncontext.global.time = 3600*msg.hour + 60*msg.minute + msg.second;\ncontext.global.hour = msg.hour;\ncontext.global.minute = msg.minute;\ncontext.global.second = msg.second;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":300,"wires":[["7afd1fbc.0beb"]]},{"id":"59ce6b82.093514","type":"comment","z":"bca64c3b.0e4c","name":"Local_TIME","info":"","x":260,"y":220,"wires":[]},{"id":"7afd1fbc.0beb","type":"link out","z":"bca64c3b.0e4c","name":"TIME","links":["690e863e.7c4788","bad62d74.07d9b","b9ba313c.37601","5b385c8f.92c5b4","fbcabed1.c0695","fc500d63.dbc72","8e7838cf.99e638","e186ed5a.f5b93","961afad4.7cd928","44f04a9f.c10324","a3ce04f1.8c63a8","24605b75.021a14","5f87efad.71c5","ec576f5c.7f082","fbd30069.0d95a","f78edfd.873b82","9df59c93.15695","83b3e560.9eb828","fc11662e.d352a8"],"x":655,"y":240,"wires":[]},{"id":"58e844a2.262cbc","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":210,"y":140,"wires":[[]]},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]