json/OutDoorLight.json
[{"id":"f786a219.cef1d","type":"mqtt out","z":"fe290b74.dd10b8","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":790,"y":300,"wires":[]},{"id":"4afb33f7.5ee13c","type":"mqtt out","z":"fe290b74.dd10b8","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":800,"y":380,"wires":[]},{"id":"6e0efab7.b5e0f4","type":"mqtt out","z":"fe290b74.dd10b8","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":800,"y":340,"wires":[]},{"id":"5bff2b93.c6a714","type":"function","z":"fe290b74.dd10b8","name":"LightControl","func":"msg.brightness = context.global.OUDOORBRIGHTNESS;\nif(msg.brightness < 1.8){\n    msg.payload = 8;\n}else{\n    msg.payload = 0;\n}\nif(msg.hour >22 || msg.hour<5){\n    msg.payload = 3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":420,"wires":[["f786a219.cef1d","6e0efab7.b5e0f4","4afb33f7.5ee13c","fd601bee.4f0098"]]},{"id":"fd601bee.4f0098","type":"mqtt out","z":"fe290b74.dd10b8","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":800,"y":420,"wires":[]},{"id":"c84f19b9.04cf78","type":"comment","z":"fe290b74.dd10b8","name":"OUT Door Light Controller Demo","info":"","x":331,"y":213,"wires":[]},{"id":"5f87efad.71c5","type":"link in","z":"fe290b74.dd10b8","name":"","links":["7afd1fbc.0beb"],"x":235,"y":280,"wires":[["93c4d1f8.733c8"]]},{"id":"93c4d1f8.733c8","type":"function","z":"fe290b74.dd10b8","name":"TimeSetter","func":"msg.hour = context.global.hour;\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":280,"wires":[["f052e7aa.e7c908"]]},{"id":"f052e7aa.e7c908","type":"function","z":"fe290b74.dd10b8","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":290,"y":360,"wires":[["5bff2b93.c6a714"]]},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]