json/Remote_Auto_Switch.json
[{"id":"c71b9496.b91408","type":"comment","z":"d7c49c5f.bb22d","name":"Remote Auto-Manu-Switch","info":"","x":490,"y":240,"wires":[]},{"id":"c7dcff57.d61f","type":"ui_switch","z":"d7c49c5f.bb22d","name":"Manu-mode","label":"Manu mode","group":"e451255c.558d48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":550,"y":300,"wires":[["202568c7.009238"]]},{"id":"202568c7.009238","type":"function","z":"d7c49c5f.bb22d","name":"SetMode","func":"if(context.global.Manu === undefined){\n    context.global.set(\"Manu\");\n}\ncontext.global.Manu = msg.payload;\n\n","outputs":0,"noerr":0,"x":760,"y":300,"wires":[]},{"id":"6fbe97dc.2b17e8","type":"function","z":"d7c49c5f.bb22d","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":560,"y":380,"wires":[[]]},{"id":"fbd30069.0d95a","type":"link in","z":"d7c49c5f.bb22d","name":"","links":["7afd1fbc.0beb"],"x":420,"y":480,"wires":[["7918d81f.c38388"]]},{"id":"7918d81f.c38388","type":"trigger","z":"d7c49c5f.bb22d","op1":"1","op2":"0","op1type":"flow","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":510,"y":480,"wires":[["ab3933a0.212b7"]]},{"id":"ab3933a0.212b7","type":"function","z":"d7c49c5f.bb22d","name":"setLightState","func":"if(context.global.ALAMP === undefined){\n    context.global.set(\"ALAMP\");\n}\ncontext.global.ALAMP = false;\n\nif(context.global.BLAMP === undefined){\n    context.global.set(\"BLAMP\");\n}\ncontext.global.BLAMP = false;\n\nif(context.global.CLAMP === undefined){\n    context.global.set(\"CLAMP\");\n}\ncontext.global.CLAMP = false;\n\nif(context.global.DLAMP === undefined){\n    context.global.set(\"DLAMP\");\n}\ncontext.global.DLAMP = false;\n\nif(context.global.ELAMP === undefined){\n    context.global.set(\"ELAMP\");\n}\ncontext.global.ELAMP = false;\n\nif(context.global.FLAMP === undefined){\n    context.global.set(\"FLAMP\");\n}\ncontext.global.FLAMP = false;\n\nif(context.global.GLAMP === undefined){\n    context.global.set(\"GLAMP\");\n}\ncontext.global.GLAMP = false;\n\nif(context.global.HLAMP === undefined){\n    context.global.set(\"HLAMP\");\n}\ncontext.global.HLAMP = false;\n\nif(context.global.ILAMP === undefined){\n    context.global.set(\"ILAMP\");\n}\ncontext.global.ILAMP = false;\n\nif(context.global.JLAMP === undefined){\n    context.global.set(\"JLAMP\");\n}\ncontext.global.JLAMP = false;\n\nif(context.global.KLAMP === undefined){\n    context.global.set(\"KLAMP\");\n}\ncontext.global.KLAMP = false;\n\nif(context.global.LLAMP === undefined){\n    context.global.set(\"LLAMP\");\n}\ncontext.global.LLAMP = false;\n\nif(context.global.MLAMP === undefined){\n    context.global.set(\"MLAMP\");\n}\ncontext.global.MLAMP = false;\n\nif(context.global.NLAMP === undefined){\n    context.global.set(\"NLAMP\");\n}\ncontext.global.NLAMP = false;\n\nif(context.global.EnLAMP === undefined){\n    context.global.set(\"EnLAMP\");\n}\ncontext.global.EnLAMP = false;\n\nreturn msg;","outputs":0,"noerr":0,"x":670,"y":480,"wires":[]},{"id":"e451255c.558d48","type":"ui_group","z":"","name":"Mode Switch","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]