json/VisitTimeCounter.json
[{"id":"edc95220.dc99f","type":"mqtt in","z":"546e0d15.3086b4","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":400,"y":260,"wires":[["66f3463e.dc3448"]]},{"id":"66f3463e.dc3448","type":"function","z":"546e0d15.3086b4","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":360,"wires":[["2014165.0cacfea"]]},{"id":"2014165.0cacfea","type":"switch","z":"546e0d15.3086b4","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":740,"y":300,"wires":[["15b5e6e5.afe609"],["4bb6d940.3dbb78"],["6549aeeb.06f"],["15718c0c.6fd2f4"],["25cb39e4.7d5e06"],["a40b8b68.39a8b8"],["c4fcdb7a.4967e8"],["34bf4dd9.b028f2"],["b6f4c6b6.c1cf18"],["2d73f060.b67e9"],["6ac3b9d3.cfd3f8"],[]]},{"id":"ec576f5c.7f082","type":"link in","z":"546e0d15.3086b4","name":"","links":["7afd1fbc.0beb"],"x":255,"y":480,"wires":[["b32f7272.4d989"]]},{"id":"b32f7272.4d989","type":"trigger","z":"546e0d15.3086b4","op1":"1","op2":"0","op1type":"flow","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":345,"y":480,"wires":[["5e27f1b4.861a7"]]},{"id":"5e27f1b4.861a7","type":"function","z":"546e0d15.3086b4","name":"setRoomVisitTime","func":"if(context.global.AV === undefined){\n    context.global.set(\"AV\");\n}\ncontext.global.AV = 0;\n\nif(context.global.DV === undefined){\n    context.global.set(\"DV\");\n}\ncontext.global.DV = 0;\n\nif(context.global.EV === undefined){\n    context.global.set(\"EV\");\n}\ncontext.global.EV = 0;\n\nif(context.global.GV === undefined){\n    context.global.set(\"GV\");\n}\ncontext.global.GV = 0;\n\nif(context.global.HV === undefined){\n    context.global.set(\"HV\");\n}\ncontext.global.HV = 0;\n\nif(context.global.IV === undefined){\n    context.global.set(\"IV\");\n}\ncontext.global.IV = 0;\n\nif(context.global.JV === undefined){\n    context.global.set(\"JV\");\n}\ncontext.global.JV = 0;\n\nif(context.global.KV === undefined){\n    context.global.set(\"KV\");\n}\ncontext.global.KV = 0;\n\nif(context.global.LV === undefined){\n    context.global.set(\"LV\");\n}\ncontext.global.LV = 0;\n\nif(context.global.MV === undefined){\n    context.global.set(\"MV\");\n}\ncontext.global.MV = 0;\n\nif(context.global.NV === undefined){\n    context.global.set(\"NV\");\n}\ncontext.global.NV = 0;\n\nreturn msg;","outputs":0,"noerr":0,"x":525,"y":480,"wires":[]},{"id":"4bb6d940.3dbb78","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.DV = context.global.DV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":160,"wires":[["693f4e5f.709d"]]},{"id":"6549aeeb.06f","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.EV = context.global.EV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":200,"wires":[["693f4e5f.709d"]]},{"id":"15718c0c.6fd2f4","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.GV = context.global.GV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":240,"wires":[["693f4e5f.709d"]]},{"id":"25cb39e4.7d5e06","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.HV = context.global.HV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":280,"wires":[["693f4e5f.709d"]]},{"id":"a40b8b68.39a8b8","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.IV = context.global.IV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":320,"wires":[["693f4e5f.709d"]]},{"id":"c4fcdb7a.4967e8","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.JV = context.global.JV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":360,"wires":[["693f4e5f.709d"]]},{"id":"34bf4dd9.b028f2","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.KV = context.global.KV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":400,"wires":[["693f4e5f.709d"]]},{"id":"b6f4c6b6.c1cf18","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.LV = context.global.LV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":440,"wires":[["693f4e5f.709d"]]},{"id":"15b5e6e5.afe609","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.AV = context.global.AV + 0.1;\nmsg.payload = context.global.AV;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":120,"wires":[["693f4e5f.709d"]]},{"id":"2d73f060.b67e9","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.MV = context.global.MV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":480,"wires":[["693f4e5f.709d"]]},{"id":"6ac3b9d3.cfd3f8","type":"function","z":"546e0d15.3086b4","name":"","func":"context.global.NV = context.global.NV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":520,"wires":[["693f4e5f.709d"]]},{"id":"693f4e5f.709d","type":"function","z":"546e0d15.3086b4","name":"graph","func":"var msgA = {};\nmsgA.name = 'A';\nmsgA.topic = 'A';\n\nvar msgD = {};\nmsgD.name = 'D';\nmsgD.topic = 'D';\n\nvar msgE = {};\nmsgE.name = 'E';\nmsgE.topic = 'E';\n\nvar msgG = {};\nmsgG.name = 'G';\nmsgG.topic = 'G';\n\nvar msgH = {};\nmsgH.name = 'H';\nmsgH.topic = 'H';\n\nvar msgI = {};\nmsgI.name = 'I';\nmsgI.topic = 'I';\n\nvar msgJ = {};\nmsgJ.name = 'J';\nmsgJ.topic = 'J';\n\nvar msgK = {};\nmsgK.name = 'K';\nmsgK.topic = 'K';\n\nvar msgL = {};\nmsgL.name = 'L';\nmsgL.topic = 'L';\n\nvar msgM = {};\nmsgM.name = 'M';\nmsgM.topic = 'M';\n\nvar msgN = {};\nmsgN.name = 'N';\nmsgN.topic = 'N';\n\nmsgA.payload = context.global.AV;\nmsgD.payload = context.global.DV;\nmsgE.payload = context.global.EV;\nmsgG.payload = context.global.GV;\nmsgH.payload = context.global.HV;\nmsgI.payload = context.global.IV;\nmsgJ.payload = context.global.JV;\nmsgK.payload = context.global.KV;\nmsgL.payload = context.global.LV;\nmsgM.payload = context.global.MV;\nmsgN.payload = context.global.NV;\n\nvar arr = [msgA,msgD,msgE,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\nreturn arr;\n","outputs":11,"noerr":0,"x":1210,"y":280,"wires":[["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"],["bd72e985.d33548"]]},{"id":"bd72e985.d33548","type":"ui_chart","z":"546e0d15.3086b4","name":"","group":"cef6fb31.cfabe8","order":0,"width":"6","height":"11","label":"Visite Times","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1440,"y":280,"wires":[[],[]]},{"id":"3d2ec52d.cd5f9a","type":"debug","z":"546e0d15.3086b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":320,"y":540,"wires":[]},{"id":"9df0d5c2.9d0a28","type":"comment","z":"546e0d15.3086b4","name":"Room VisitTime counter","info":"","x":330,"y":140,"wires":[]},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"cef6fb31.cfabe8","type":"ui_group","z":"","name":"Room Statistic","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]