json/Volet.json
[{"id":"ccc08dc3.2e2da","type":"mqtt in","z":"6fcf76aa.b35168","name":"Brightness_Capteur","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":330,"y":520,"wires":[["5b175e80.c8475"]]},{"id":"67f86274.03af6c","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":80,"wires":[]},{"id":"5b175e80.c8475","type":"delay","z":"6fcf76aa.b35168","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":350,"y":580,"wires":[["e325ecf.ae6d41"]]},{"id":"9574fb3d.c75718","type":"function","z":"6fcf76aa.b35168","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":680,"wires":[["a3b07a1d.05ce58","1f786fea.8c478"]]},{"id":"ad1546f0.97fc68","type":"function","z":"6fcf76aa.b35168","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["5fe842a1.8cf2bc","af80b822.505518"]]},{"id":"1f786fea.8c478","type":"change","z":"6fcf76aa.b35168","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":680,"wires":[["a5f3b053.5f58c"]]},{"id":"a3b07a1d.05ce58","type":"trigger","z":"6fcf76aa.b35168","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":900,"y":640,"wires":[["bf52da40.4ea748"]]},{"id":"af80b822.505518","type":"change","z":"6fcf76aa.b35168","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":520,"wires":[["bf52da40.4ea748"]]},{"id":"5fe842a1.8cf2bc","type":"trigger","z":"6fcf76aa.b35168","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":900,"y":560,"wires":[["a5f3b053.5f58c"]]},{"id":"e325ecf.ae6d41","type":"function","z":"6fcf76aa.b35168","name":"modeChoose","func":"if(msg.payload < 4){\n    msg.payload = true;//close\n}else{\n    msg.payload = false;//open\n}\n// msg.s = global.get(\"OpennessGLOBAL\");\n// if(msg.payload){\n//     if(global.get(\"OpennessGLOBAL\") > 0){\n//         return msg;\n//     }\n// }else{\n//     if(global.get(\"OpennessGLOBAL\") < 10){\n//         return msg;\n//     }\n// }\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":640,"wires":[["900ebecd.b3d0c"]]},{"id":"e9563686.395988","type":"switch","z":"6fcf76aa.b35168","name":"choseUPDOWN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":600,"wires":[["ad1546f0.97fc68"],["9574fb3d.c75718"]]},{"id":"bf52da40.4ea748","type":"function","z":"6fcf76aa.b35168","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":520,"wires":[["67f86274.03af6c","84bfe93f.a63f48","10c573aa.ce34cc","70ab6b7d.f814d4","61c71c7.ebc65e4","d49f8f82.471e8","5eef237f.0c9bdc","7e684d0f.1c1f64","6e6398c8.7c4be8","3dec4a4b.f365d6","9fcf1c43.9d4bc","62f887de.a85ae8","cf78a3c1.4007b"]]},{"id":"a5f3b053.5f58c","type":"function","z":"6fcf76aa.b35168","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":680,"wires":[["68d78048.61266","cd7addf1.a9046","fbed79cc.308288","948ce1bb.2925c","9adfd030.72125","6eb74c66.5d4334","24ca0061.4675","cb4b8d21.1e05a","d2d62e62.7861f","5f272e7.aebc4d","f3a87cc3.f7b75","d60eef6c.89019","b8e3b98e.569a08"]]},{"id":"84bfe93f.a63f48","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":120,"wires":[]},{"id":"10c573aa.ce34cc","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":160,"wires":[]},{"id":"68d78048.61266","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":640,"wires":[]},{"id":"cd7addf1.a9046","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":680,"wires":[]},{"id":"fbed79cc.308288","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":720,"wires":[]},{"id":"70ab6b7d.f814d4","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":200,"wires":[]},{"id":"948ce1bb.2925c","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":760,"wires":[]},{"id":"4591a578.038fdc","type":"comment","z":"6fcf76aa.b35168","name":"Volet automatique Demo","info":"","x":250,"y":460,"wires":[]},{"id":"61c71c7.ebc65e4","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":260,"wires":[]},{"id":"9adfd030.72125","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":820,"wires":[]},{"id":"d49f8f82.471e8","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":300,"wires":[]},{"id":"6eb74c66.5d4334","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":860,"wires":[]},{"id":"5eef237f.0c9bdc","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":340,"wires":[]},{"id":"24ca0061.4675","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":900,"wires":[]},{"id":"7e684d0f.1c1f64","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":380,"wires":[]},{"id":"cb4b8d21.1e05a","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":940,"wires":[]},{"id":"6e6398c8.7c4be8","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":420,"wires":[]},{"id":"d2d62e62.7861f","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":980,"wires":[]},{"id":"3dec4a4b.f365d6","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":460,"wires":[]},{"id":"5f272e7.aebc4d","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":1020,"wires":[]},{"id":"9fcf1c43.9d4bc","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":500,"wires":[]},{"id":"f3a87cc3.f7b75","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":1060,"wires":[]},{"id":"62f887de.a85ae8","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":540,"wires":[]},{"id":"cf78a3c1.4007b","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1490,"y":580,"wires":[]},{"id":"d60eef6c.89019","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":1100,"wires":[]},{"id":"b8e3b98e.569a08","type":"mqtt out","z":"6fcf76aa.b35168","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1500,"y":1140,"wires":[]},{"id":"900ebecd.b3d0c","type":"function","z":"6fcf76aa.b35168","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":350,"y":740,"wires":[["e9563686.395988"]]},{"id":"b36ac83a.3eef48","type":"mqtt in","z":"6fcf76aa.b35168","name":"Openness_Capteur","topic":"/home/J/Input/float/Roller_Shades_(Openness)","qos":"2","broker":"e6cc5916.4480c8","x":250,"y":980,"wires":[["4e4c6ded.34cc04"]]},{"id":"4e4c6ded.34cc04","type":"delay","z":"6fcf76aa.b35168","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":360,"y":1040,"wires":[["7d2e024c.b703bc"]]},{"id":"7d2e024c.b703bc","type":"function","z":"6fcf76aa.b35168","name":"getOpenness","func":"if(context.global.OpennessGLOBAL === undefined){\n    context.global.set(\"OpennessGLOBAL\");\n}\ncontext.global.OpennessGLOBAL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":470,"y":980,"wires":[]},{"id":"33d55e15.d1f942","type":"comment","z":"6fcf76aa.b35168","name":"Openness detect Global(pas utiliser)","info":"","x":280,"y":940,"wires":[]},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""}]