json/Code_TOTAL/Code_Total.json
[{"id":"de154b48.e4f118","type":"mqtt in","z":"bca64c3b.0e4c","name":"TimeLocal","topic":"/home/general/Memory/DateTime/Date_and_Time","qos":"2","broker":"e6cc5916.4480c8","x":620,"y":280,"wires":[["5b599703.728638"]]},{"id":"5b599703.728638","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":760,"y":320,"wires":[["4a97e153.ba593"]]},{"id":"4a97e153.ba593","type":"function","z":"bca64c3b.0e4c","name":"ToTime","func":"var time = msg.payload.split(\" \");\nvar timeSplit = time[1];\nvar s = timeSplit.split(\":\");\nmsg.hour = s[0];\nmsg.minute = s[1];\nmsg.second = s[2];\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":260,"wires":[["641feadd.92cb54"]]},{"id":"641feadd.92cb54","type":"function","z":"bca64c3b.0e4c","name":"timeTransfer","func":"\n\ncontext.global.time = 3600*msg.hour + 60*msg.minute + msg.second;\ncontext.global.hour = msg.hour;\ncontext.global.minute = msg.minute;\ncontext.global.second = msg.second;\nreturn msg;","outputs":1,"noerr":0,"x":930,"y":320,"wires":[["7afd1fbc.0beb"]]},{"id":"59ce6b82.093514","type":"comment","z":"bca64c3b.0e4c","name":"Local_TIME","info":"","x":590,"y":240,"wires":[]},{"id":"7afd1fbc.0beb","type":"link out","z":"bca64c3b.0e4c","name":"TIME","links":["690e863e.7c4788","bad62d74.07d9b","b9ba313c.37601","5b385c8f.92c5b4","fbcabed1.c0695","fc500d63.dbc72","8e7838cf.99e638","e186ed5a.f5b93","961afad4.7cd928","44f04a9f.c10324","a3ce04f1.8c63a8","24605b75.021a14","5f87efad.71c5","ec576f5c.7f082","fbd30069.0d95a","f78edfd.873b82","9df59c93.15695","83b3e560.9eb828","fc11662e.d352a8","4f673494.e695bc","954ed1a1.0b39a","c1c59776.664a58","71164810.4a2e68","7ce74f91.c91e8","8686a683.c7a1b8","1e2ce71f.c94ac9"],"x":985,"y":260,"wires":[]},{"id":"58e844a2.262cbc","type":"mosca in","z":"bca64c3b.0e4c","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":540,"y":160,"wires":[[]]},{"id":"f1ffc407.16fe18","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":730,"y":520,"wires":[["6a8787e1.2cf958"]]},{"id":"e3b146f9.c078e8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\na = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":781,"y":673,"wires":[["d7f31396.7117d"]]},{"id":"142e09d2.98fb26","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"20","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":711,"y":833,"wires":[["30921284.abf1de"]]},{"id":"d7f31396.7117d","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":591,"y":733,"wires":[["30921284.abf1de"],["142e09d2.98fb26"]]},{"id":"7b3da071.c00cb","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":1041,"y":693,"wires":[["5d921c27.9ba504"],["9c279a80.98b108"],["1f34383a.472878"],["ec6c1643.a81ba8"],["85ac8286.23cf7"],["8b6b0b9b.ad46a8"],["95c88b2.6a42078"],["a4514f9.e445db"],["4ccbe2a2.abc2ac"],["701816e0.d252c8"],["91e23d62.10eee"],["af4ffc0e.347ef"],["cd02be4.c20fa4"],["d67ef8f9.550a58"],["2522a0d2.178cd"]]},{"id":"2522a0d2.178cd","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1311,"y":1033,"wires":[]},{"id":"bae3d129.680d4","type":"comment","z":"bca64c3b.0e4c","name":"IN Door Light Controller Demo","info":"","x":621,"y":473,"wires":[]},{"id":"f7362445.3de158","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":771,"y":633,"wires":[["e3b146f9.c078e8"]]},{"id":"6a8787e1.2cf958","type":"function","z":"bca64c3b.0e4c","name":"if bright enough?","func":"if(global.get(\"OUDOORBRIGHTNESS\")<7){\n    return msg;\n}","outputs":1,"noerr":0,"x":772,"y":586,"wires":[["f7362445.3de158"]]},{"id":"5d921c27.9ba504","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":453,"wires":[]},{"id":"1f34383a.472878","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":533,"wires":[]},{"id":"85ac8286.23cf7","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":613,"wires":[]},{"id":"95c88b2.6a42078","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":693,"wires":[]},{"id":"a4514f9.e445db","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":733,"wires":[]},{"id":"701816e0.d252c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":813,"wires":[]},{"id":"91e23d62.10eee","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":853,"wires":[]},{"id":"af4ffc0e.347ef","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":893,"wires":[]},{"id":"cd02be4.c20fa4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1391,"y":933,"wires":[]},{"id":"9c279a80.98b108","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":493,"wires":[["a9e68028.5da5f","b56c7350.44b01"]]},{"id":"a9e68028.5da5f","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":480,"wires":[]},{"id":"b56c7350.44b01","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":520,"wires":[]},{"id":"ec6c1643.a81ba8","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":573,"wires":[["43228bc0.2d78e4","fc2349e4.2fd3f8"]]},{"id":"8b6b0b9b.ad46a8","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":653,"wires":[["2bda5a41.1a9946","8efe3495.2adf78"]]},{"id":"4ccbe2a2.abc2ac","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1341,"y":773,"wires":[["7d36cdbe.bc0d34","aefe93b8.790c3"]]},{"id":"d67ef8f9.550a58","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1351,"y":993,"wires":[["392b681c.185678","ba2eae65.0b5df","aa3faaab.f201c8"]]},{"id":"fc2349e4.2fd3f8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":600,"wires":[]},{"id":"43228bc0.2d78e4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":560,"wires":[]},{"id":"8efe3495.2adf78","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":680,"wires":[]},{"id":"2bda5a41.1a9946","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1910,"y":640,"wires":[]},{"id":"7d36cdbe.bc0d34","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1920,"y":747,"wires":[]},{"id":"aefe93b8.790c3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1920,"y":807,"wires":[]},{"id":"392b681c.185678","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1890,"y":960,"wires":[]},{"id":"ba2eae65.0b5df","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1890,"y":1000,"wires":[]},{"id":"aa3faaab.f201c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1890,"y":1040,"wires":[]},{"id":"30921284.abf1de","type":"function","z":"bca64c3b.0e4c","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    if(msg.open){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(msg.open){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":821,"y":753,"wires":[["7b3da071.c00cb"]]},{"id":"7d2219d.266fde8","type":"mqtt in","z":"bca64c3b.0e4c","name":"OUDOORBRIGHTNESS","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":1270,"y":220,"wires":[["7ada1ba2.71b104"]]},{"id":"ade49de5.daefa","type":"comment","z":"bca64c3b.0e4c","name":"Out_Door_Brightness","info":"","x":1240,"y":160,"wires":[]},{"id":"7ada1ba2.71b104","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1320,"y":280,"wires":[["91e35672.3c7248"]]},{"id":"91e35672.3c7248","type":"function","z":"bca64c3b.0e4c","name":"getBrightness","func":"if(context.global.OUDOORBRIGHTNESS === undefined){\n    context.global.set(\"OUDOORBRIGHTNESS\");\n}\ncontext.global.OUDOORBRIGHTNESS = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1330,"y":340,"wires":[]},{"id":"a8bfbe2.182c34","type":"comment","z":"bca64c3b.0e4c","name":"Light economic mode","info":"","x":1540,"y":160,"wires":[]},{"id":"56c01e49.53223","type":"ui_switch","z":"bca64c3b.0e4c","name":"Economic Light","label":"Economic Light","group":"8afd9e0b.b8999","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1610,"y":200,"wires":[["28ec0034.f43c8"]]},{"id":"28ec0034.f43c8","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.LIGHTECO === undefined){\n    context.global.set(\"LIGHTECO\");\n}\ncontext.global.LIGHTECO = msg.payload;\n\n","outputs":0,"noerr":0,"x":1800,"y":200,"wires":[]},{"id":"4f673494.e695bc","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":485,"y":1400,"wires":[["9690fe4e.0f389"]]},{"id":"c61fd4ac.a70518","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1120,"wires":[]},{"id":"d6971cc8.266bb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1200,"wires":[]},{"id":"d4a85bcc.ebbc38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1280,"wires":[]},{"id":"a34e848b.7608f8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1360,"wires":[]},{"id":"29d77130.cb6dde","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1400,"wires":[]},{"id":"97a7d8b5.1e76e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1480,"wires":[]},{"id":"a8433c8c.02959","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1520,"wires":[]},{"id":"12583007.46f9e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1560,"wires":[]},{"id":"1bdc2071.2587","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1340,"y":1600,"wires":[]},{"id":"386cb521.e6a52a","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1280,"y":1680,"wires":[]},{"id":"9c27c4fe.267d48","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1160,"wires":[["4b1a940b.5fb87c","150a9ec0.af5c81"]]},{"id":"4b1a940b.5fb87c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1140,"wires":[]},{"id":"150a9ec0.af5c81","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1180,"wires":[]},{"id":"c9131a00.7b34a8","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":1240,"wires":[["4f6a9dc9.9a1024","a095fc36.96507"]]},{"id":"3d14c7d5.018eb8","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":1320,"wires":[["50cf410e.8cb02","1abf3ae1.1cf515"]]},{"id":"5db3b43a.7f570c","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1380,"y":1440,"wires":[["825248a4.af3e38","bcff90d8.5f34e"]]},{"id":"6393617c.c40ad","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":1640,"wires":[["7c9fd875.81dfe8","91ad305c.7f11e","c38de267.9c8ae"]]},{"id":"a095fc36.96507","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1260,"wires":[]},{"id":"4f6a9dc9.9a1024","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1220,"wires":[]},{"id":"1abf3ae1.1cf515","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1340,"wires":[]},{"id":"50cf410e.8cb02","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1300,"wires":[]},{"id":"825248a4.af3e38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1890,"y":1407,"wires":[]},{"id":"bcff90d8.5f34e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1890,"y":1467,"wires":[]},{"id":"7c9fd875.81dfe8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1593,"wires":[]},{"id":"91ad305c.7f11e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1633,"wires":[]},{"id":"c38de267.9c8ae","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1870,"y":1680,"wires":[]},{"id":"82660a63.18e738","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ALAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1120,"wires":[["c61fd4ac.a70518"]]},{"id":"9690fe4e.0f389","type":"function","z":"bca64c3b.0e4c","name":"economic mode?","func":"if(global.get(\"LIGHTECO\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":640,"y":1400,"wires":[["82660a63.18e738","99fd3691.8e2728","c655a183.8d26","c413e52e.89d758","7fc68fe9.25a9","8ba6dc5b.c0194","38d89a31.186866","db4f4466.fdce38","b0985822.1ec618","470ca0e2.e2553","7fcc80d1.f2b67","d4d530d0.70754","f3064bcb.737f18","ba2f551f.d910c8","feb45a62.a451d8"]]},{"id":"99fd3691.8e2728","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.BLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1160,"wires":[["9c27c4fe.267d48"]]},{"id":"c655a183.8d26","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.CLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1200,"wires":[["d6971cc8.266bb"]]},{"id":"c413e52e.89d758","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.DLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1240,"wires":[["c9131a00.7b34a8"]]},{"id":"7fc68fe9.25a9","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ELAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1280,"wires":[["d4a85bcc.ebbc38"]]},{"id":"8ba6dc5b.c0194","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.FLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1320,"wires":[["3d14c7d5.018eb8"]]},{"id":"38d89a31.186866","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.GLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1360,"wires":[["a34e848b.7608f8"]]},{"id":"db4f4466.fdce38","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.HLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1400,"wires":[["29d77130.cb6dde"]]},{"id":"b0985822.1ec618","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.ILAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1440,"wires":[["5db3b43a.7f570c"]]},{"id":"470ca0e2.e2553","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.JLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1480,"wires":[["97a7d8b5.1e76e8"]]},{"id":"7fcc80d1.f2b67","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.KLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1520,"wires":[["a8433c8c.02959"]]},{"id":"d4d530d0.70754","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.LLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1560,"wires":[["12583007.46f9e"]]},{"id":"f3064bcb.737f18","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.MLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1600,"wires":[["1bdc2071.2587"]]},{"id":"ba2f551f.d910c8","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.NLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1640,"wires":[["6393617c.c40ad"]]},{"id":"feb45a62.a451d8","type":"function","z":"bca64c3b.0e4c","name":"changelight","func":"msg.light = global.get(\"OUDOORBRIGHTNESS\");\nif(context.global.EnLAMP){\n    msg.payload = 9 - msg.light;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":950,"y":1680,"wires":[["386cb521.e6a52a"]]},{"id":"2d79d9c4.313076","type":"comment","z":"bca64c3b.0e4c","name":"changle Light dynamique","info":"","x":600,"y":1340,"wires":[]},{"id":"d2f3e28.7ee492","type":"comment","z":"bca64c3b.0e4c","name":"Remote light","info":"","x":490,"y":2240,"wires":[]},{"id":"77679d4b.4ba974","type":"ui_dropdown","z":"bca64c3b.0e4c","name":"Room","label":"","place":"","group":"8afd9e0b.b8999","order":0,"width":"3","height":"1","passthru":true,"options":[{"label":"A","value":"A","type":"str"},{"label":"B","value":"B","type":"str"},{"label":"C","value":"C","type":"str"},{"label":"D","value":"D","type":"str"},{"label":"E","value":"E","type":"str"},{"label":"F","value":"F","type":"str"},{"label":"G","value":"G","type":"str"},{"label":"H","value":"H","type":"str"},{"label":"I","value":"I","type":"str"},{"label":"J","value":"J","type":"str"},{"label":"K","value":"K","type":"str"},{"label":"L","value":"L","type":"str"},{"label":"M","value":"M","type":"str"},{"label":"N","value":"N","type":"str"},{"label":"Entrance","value":"Entrance","type":"str"},{"label":"OutSide","value":"OutSide","type":"str"}],"payload":"","topic":"","x":450,"y":2300,"wires":[["f32601fd.23015"]]},{"id":"ea0b2f00.d1374","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"},{"t":"eq","v":"OutSide","vt":"str"}],"checkall":"true","repair":false,"outputs":16,"x":1140,"y":2300,"wires":[["655329d5.61b258"],["e5b3fd5d.75863"],["6c590fa0.f404b"],["a1687dd8.7f41a"],["507b3e50.35157"],["975146c3.9901d8"],["8313a6bc.17d3d8"],["dfb13c11.a33ef"],["6462791e.872ac8"],["67b578c9.e91898"],["fc21b516.1d4ba8"],["cb2a9be7.5856e8"],["1ee7da5f.0a06a6"],["ffa02dd2.c28b5"],["4baa5016.83471"],["f730d6d1.b38588","7b4ee58a.57be2c","a78a08b9.842808","35a9d6bd.f7d41a"]]},{"id":"655329d5.61b258","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2000,"wires":[]},{"id":"6c590fa0.f404b","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/C/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2080,"wires":[]},{"id":"507b3e50.35157","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2160,"wires":[]},{"id":"8313a6bc.17d3d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2240,"wires":[]},{"id":"dfb13c11.a33ef","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2280,"wires":[]},{"id":"67b578c9.e91898","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2360,"wires":[]},{"id":"fc21b516.1d4ba8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2400,"wires":[]},{"id":"cb2a9be7.5856e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2440,"wires":[]},{"id":"1ee7da5f.0a06a6","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/float/Lights_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1690,"y":2480,"wires":[]},{"id":"4baa5016.83471","type":"mqtt out","z":"bca64c3b.0e4c","name":"Lights_Entrance","topic":"/home/O/Output/float/Lights_Entrance_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1620,"y":2560,"wires":[]},{"id":"e5b3fd5d.75863","type":"function","z":"bca64c3b.0e4c","name":"Room B-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2040,"wires":[["d247c08e.6ec24","636c3cf1.8fb874"]]},{"id":"d247c08e.6ec24","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2020,"wires":[]},{"id":"636c3cf1.8fb874","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/B/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2060,"wires":[]},{"id":"a1687dd8.7f41a","type":"function","z":"bca64c3b.0e4c","name":"Room D-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2120,"wires":[["7b25f992.effc58","bff16bad.a51d18"]]},{"id":"975146c3.9901d8","type":"function","z":"bca64c3b.0e4c","name":"Room F-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2200,"wires":[["41522b96.955c54","1913cd45.2bc7c3"]]},{"id":"6462791e.872ac8","type":"function","z":"bca64c3b.0e4c","name":"Room I-2 Lights 1&2","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2320,"wires":[["73cef788.d7b2a8","3dca57d1.120278"]]},{"id":"ffa02dd2.c28b5","type":"function","z":"bca64c3b.0e4c","name":"Room N-2 Lights 1&2&3","func":"\nreturn msg;","outputs":1,"noerr":0,"x":1640,"y":2520,"wires":[["b06cce23.f7ae6","1e370aeb.a1d6b5","ee7b23a.8a08be"]]},{"id":"bff16bad.a51d18","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2140,"wires":[]},{"id":"7b25f992.effc58","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2100,"wires":[]},{"id":"1913cd45.2bc7c3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2220,"wires":[]},{"id":"41522b96.955c54","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2180,"wires":[]},{"id":"73cef788.d7b2a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2240,"y":2287,"wires":[]},{"id":"3dca57d1.120278","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2240,"y":2347,"wires":[]},{"id":"b06cce23.f7ae6","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2473,"wires":[]},{"id":"1e370aeb.a1d6b5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2513,"wires":[]},{"id":"ee7b23a.8a08be","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/float/Lights_3_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":2230,"y":2553,"wires":[]},{"id":"f32601fd.23015","type":"function","z":"bca64c3b.0e4c","name":"set room","func":"if(context.global.Lroom === undefined){\n    context.global.set(\"Lroom\");\n}\ncontext.global.Lroom = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":2300,"wires":[["29742d00.087504","99d2b768.a7a9c8"]]},{"id":"99d2b768.a7a9c8","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":770,"y":2360,"wires":[["e18df638.96fff8"]]},{"id":"29742d00.087504","type":"ui_button","z":"bca64c3b.0e4c","name":"","group":"8afd9e0b.b8999","order":0,"width":"1","height":"1","passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":770,"y":2240,"wires":[["e18df638.96fff8"]]},{"id":"f730d6d1.b38588","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1750,"y":2660,"wires":[]},{"id":"a78a08b9.842808","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1760,"y":2740,"wires":[]},{"id":"7b4ee58a.57be2c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1760,"y":2700,"wires":[]},{"id":"35a9d6bd.f7d41a","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1760,"y":2780,"wires":[]},{"id":"e18df638.96fff8","type":"function","z":"bca64c3b.0e4c","name":"economic mode?","func":"if(!global.get(\"LIGHTECO\")){\n    msg.stat = msg.payload;\n    if(msg.payload === true){\n        msg.payload = 8;\n    }else{\n        msg.payload = 0;\n    }\n    return msg;\n}\n\nmsg.light = global.get(\"OUDOORBRIGHTNESS\");\nmsg.stat = msg.payload;\nif(msg.payload){\n    msg.payload = 9 - msg.light;\n}else{\n    msg.payload = 0;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":821,"y":2293,"wires":[["ea0b2f00.d1374","ff03175e.694728"]]},{"id":"ff03175e.694728","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"Lroom","propertyType":"global","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"B","vt":"str"},{"t":"eq","v":"C","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"F","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"Entrance","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":1020,"y":2000,"wires":[["21fa7a01.0f1566"],["49bd5f3d.ccc2b"],["7c536c37.7c8834"],["61de2da7.722884"],["ca2f7a57.743f18"],["dee99709.bf0e98"],["e220cfda.e4ae5"],["6ef63f25.167bc"],["50d74a7c.889954"],["f0d49214.3fa22"],["b32bf7c9.a76e98"],["fc513ead.94b76"],["c30d0110.53c2a"],["649bf8c5.e92198"],["17cdbf11.1497a1"]]},{"id":"21fa7a01.0f1566","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.ALAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1860,"wires":[[]]},{"id":"49bd5f3d.ccc2b","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.BLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1880,"wires":[[]]},{"id":"7c536c37.7c8834","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.CLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1900,"wires":[[]]},{"id":"61de2da7.722884","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.DLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1920,"wires":[[]]},{"id":"ca2f7a57.743f18","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.ELAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1940,"wires":[[]]},{"id":"dee99709.bf0e98","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.FLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1960,"wires":[[]]},{"id":"e220cfda.e4ae5","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.GLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":1980,"wires":[[]]},{"id":"6ef63f25.167bc","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.HLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2000,"wires":[[]]},{"id":"50d74a7c.889954","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.ILAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2020,"wires":[[]]},{"id":"f0d49214.3fa22","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.JLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2040,"wires":[[]]},{"id":"b32bf7c9.a76e98","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.KLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2060,"wires":[[]]},{"id":"fc513ead.94b76","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.LLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2080,"wires":[[]]},{"id":"c30d0110.53c2a","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.MLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2100,"wires":[[]]},{"id":"649bf8c5.e92198","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.NLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2120,"wires":[[]]},{"id":"17cdbf11.1497a1","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.EnLAMP = msg.stat;","outputs":1,"noerr":0,"x":1170,"y":2140,"wires":[[]]},{"id":"125461af.6bd88e","type":"comment","z":"bca64c3b.0e4c","name":"set light state","info":"","x":1050,"y":1800,"wires":[]},{"id":"e04eb60e.8fb268","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Pool_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1110,"y":2760,"wires":[]},{"id":"a4e428e.6f639d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_1_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1120,"y":2840,"wires":[]},{"id":"be068eae.00779","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Porch_2_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1120,"y":2800,"wires":[]},{"id":"75952983.3842e8","type":"function","z":"bca64c3b.0e4c","name":"LightControl","func":"msg.brightness = context.global.OUDOORBRIGHTNESS;\nif(msg.brightness < 1.8){\n    msg.payload = 8;\n}else{\n    msg.payload = 0;\n}\nif(msg.hour >22 || msg.hour<5){\n    msg.payload = 3;\n}\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":2740,"wires":[["e04eb60e.8fb268","be068eae.00779","a4e428e.6f639d8","12e71d3c.b52b63"]]},{"id":"12e71d3c.b52b63","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/float/Lights_Garden_(Analog)","qos":"","retain":"","broker":"a2c91eda.08e26","x":1120,"y":2880,"wires":[]},{"id":"d71b415a.93bf6","type":"comment","z":"bca64c3b.0e4c","name":"OUT Door Light Controller Demo","info":"","x":551,"y":2533,"wires":[]},{"id":"954ed1a1.0b39a","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":455,"y":2600,"wires":[["b17b19e0.83bb38"]]},{"id":"b17b19e0.83bb38","type":"function","z":"bca64c3b.0e4c","name":"TimeSetter","func":"msg.hour = context.global.hour;\nreturn msg;\n","outputs":1,"noerr":0,"x":580,"y":2600,"wires":[["c7e93e3.44c2ac"]]},{"id":"c7e93e3.44c2ac","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":510,"y":2680,"wires":[["75952983.3842e8"]]},{"id":"be061a7.c0909e8","type":"comment","z":"bca64c3b.0e4c","name":"Garage automatique Demo","info":"","x":2510,"y":160,"wires":[]},{"id":"3ec447b5.d26e78","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Infrared)","qos":"2","broker":"e6cc5916.4480c8","x":2570,"y":220,"wires":[["67854a74.7d4a04"]]},{"id":"e849151.86a10e8","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2690,"y":320,"wires":[["e6b43499.f60f18","3d3c4b8b.f4e8c4"]]},{"id":"d00341fc.5c5bf","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3080,"y":420,"wires":[]},{"id":"48dd38f8.c7edc8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3080,"y":380,"wires":[]},{"id":"3d3c4b8b.f4e8c4","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2620,"y":420,"wires":[["dbd107d7.636fc8"]]},{"id":"dbd107d7.636fc8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":2760,"y":420,"wires":[["d00341fc.5c5bf"]]},{"id":"e6b43499.f60f18","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":2900,"y":300,"wires":[["48dd38f8.c7edc8"]]},{"id":"67854a74.7d4a04","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2900,"y":240,"wires":[["e849151.86a10e8"]]},{"id":"3203cf1f.7a74f","type":"comment","z":"bca64c3b.0e4c","name":"Portail automatique Demo","info":"","x":2430,"y":600,"wires":[]},{"id":"a6b3cabf.96b4d8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_3)","qos":"2","broker":"e6cc5916.4480c8","x":2570,"y":780,"wires":[["7d6acd06.6916b4"]]},{"id":"97ba3442.f4eb58","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2990,"y":720,"wires":[["d00e8499.93a1d8","e1a06aa6.eb7ff8"]]},{"id":"e1a06aa6.eb7ff8","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"delay","timeout":"20","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2900,"y":840,"wires":[["29fd38f.a78adc8"]]},{"id":"29fd38f.a78adc8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":3040,"y":840,"wires":[["85973af4.f62e38"]]},{"id":"d00e8499.93a1d8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"13","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":3180,"y":720,"wires":[["8fb93f9a.05ec"]]},{"id":"26cb9f91.6fe48","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_2)","qos":"2","broker":"e6cc5916.4480c8","x":2570,"y":740,"wires":[["7d6acd06.6916b4"]]},{"id":"89988ca5.0f7ce","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Infrared_1)","qos":"2","broker":"e6cc5916.4480c8","x":2570,"y":700,"wires":[["7d6acd06.6916b4"]]},{"id":"8fb93f9a.05ec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3400,"y":800,"wires":[]},{"id":"85973af4.f62e38","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3400,"y":840,"wires":[]},{"id":"7d6acd06.6916b4","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2980,"y":660,"wires":[["97ba3442.f4eb58"]]},{"id":"d750743e.dc3fd8","type":"comment","z":"bca64c3b.0e4c","name":"Garage Remote","info":"","x":2430,"y":1040,"wires":[]},{"id":"de871496.32f158","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3150,"y":1220,"wires":[]},{"id":"d178636f.1c799","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Garage_Door_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3150,"y":1180,"wires":[]},{"id":"2286fc5e.66e3d4","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2500,"y":1180,"wires":[["5cefcffc.c443e"]]},{"id":"7ae991ab.a7867","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Garage","group":"3b03d596.d6bb0a","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2690,"y":1220,"wires":[["de871496.32f158"]]},{"id":"2413468a.c6995a","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2560,"y":1280,"wires":[["1af07e03.6fad12"]]},{"id":"85daa5c5.6c8598","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Input/bool/Garage_Door_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2560,"y":1120,"wires":[["a1dd1181.1b92a"]]},{"id":"a1dd1181.1b92a","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2830,"y":1120,"wires":[["d178636f.1c799"]]},{"id":"1af07e03.6fad12","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2830,"y":1280,"wires":[["de871496.32f158"]]},{"id":"7bf69bf0.9dd394","type":"comment","z":"bca64c3b.0e4c","name":"Portail Remote","info":"","x":2430,"y":1360,"wires":[]},{"id":"2a83f45c.a2d71c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Close)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3140,"y":1580,"wires":[]},{"id":"d847a723.7dc4d8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Entrance_Gate_(Open)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":3140,"y":1540,"wires":[]},{"id":"76fabd48.a4ffd4","type":"ui_button","z":"bca64c3b.0e4c","name":"Open Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Open","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2480,"y":1540,"wires":[["6f8b8371.946acc"]]},{"id":"2802b510.98a34a","type":"ui_button","z":"bca64c3b.0e4c","name":"Close Door","group":"49e5d472.08d61c","order":0,"width":"0","height":"0","passthru":false,"label":"Close","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":2670,"y":1580,"wires":[["2a83f45c.a2d71c"]]},{"id":"de51aa4c.a63ce8","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Closed)","qos":"2","broker":"e6cc5916.4480c8","x":2560,"y":1640,"wires":[["4521c063.90dec"]]},{"id":"bd73000e.0fb95","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Input/bool/Entrance_Gate_(Opened)","qos":"2","broker":"e6cc5916.4480c8","x":2560,"y":1480,"wires":[["ed7b400f.b2d0d"]]},{"id":"ed7b400f.b2d0d","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820,"y":1480,"wires":[["d847a723.7dc4d8"]]},{"id":"4521c063.90dec","type":"change","z":"bca64c3b.0e4c","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2820,"y":1640,"wires":[["2a83f45c.a2d71c"]]},{"id":"5cefcffc.c443e","type":"function","z":"bca64c3b.0e4c","name":"if lock garage?","func":"if(!global.get(\"GARAGELOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2740,"y":1180,"wires":[["d178636f.1c799"]]},{"id":"6f8b8371.946acc","type":"function","z":"bca64c3b.0e4c","name":"if lock portail?","func":"if(!global.get(\"PORTAILLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2730,"y":1540,"wires":[["d847a723.7dc4d8"]]},{"id":"3367dd4c.345592","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2850,"y":1060,"wires":[["d178636f.1c799"]]},{"id":"c552c001.41619","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2870,"y":1340,"wires":[["de871496.32f158"]]},{"id":"6bfe3435.7345bc","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2800,"y":1720,"wires":[["2a83f45c.a2d71c"]]},{"id":"b3e2141f.5db228","type":"change","z":"bca64c3b.0e4c","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"ON","fromt":"str","to":"true","tot":"bool"},{"t":"change","p":"payload","pt":"msg","from":"OFF","fromt":"str","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":2800,"y":1440,"wires":[["d847a723.7dc4d8"]]},{"id":"ae2bf91.4315d08","type":"comment","z":"bca64c3b.0e4c","name":"Garage Lock","info":"","x":3170,"y":160,"wires":[]},{"id":"b6331b3f.ed2068","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Garage","label":"Lock Garage","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3250,"y":200,"wires":[["9cd3f1e0.472a6"]]},{"id":"9cd3f1e0.472a6","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.GARAGELOCK === undefined){\n    context.global.set(\"GARAGELOCK\");\n}\ncontext.global.GARAGELOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":3450,"y":200,"wires":[]},{"id":"5a51cb6b.786f14","type":"comment","z":"bca64c3b.0e4c","name":"Portail Lock","info":"","x":3170,"y":240,"wires":[]},{"id":"e01c04bc.c96208","type":"ui_switch","z":"bca64c3b.0e4c","name":"Lock Portail","label":"Lock Portail","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":3250,"y":280,"wires":[["57970659.a1e058"]]},{"id":"57970659.a1e058","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.PORTAILLOCK === undefined){\n    context.global.set(\"PORTAILLOCK\");\n}\ncontext.global.PORTAILLOCK = msg.payload;\n\n","outputs":0,"noerr":0,"x":3460,"y":280,"wires":[]},{"id":"3feefc53.33bcb4","type":"mqtt in","z":"bca64c3b.0e4c","name":"Brightness_Capteur","topic":"/home/O/Input/float/Brightness_Sensor_(Analog)","qos":"2","broker":"66e6ce19.241c6","x":3060,"y":2080,"wires":[["9ef72c08.589f4"]]},{"id":"de0a6c5d.9e769","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1640,"wires":[]},{"id":"9ef72c08.589f4","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"20","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":3080,"y":2140,"wires":[["16f991c1.1e5b3e"]]},{"id":"ab63f0ba.fb54f","type":"function","z":"bca64c3b.0e4c","name":"Open","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":3360,"y":2240,"wires":[["8aa17673.aeab18","b4def8a9.206568"]]},{"id":"f48e0a8d.7e46a8","type":"function","z":"bca64c3b.0e4c","name":"Close","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3360,"y":2080,"wires":[["455f198d.7202e8","dae777a.fe9eb88"]]},{"id":"b4def8a9.206568","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":3640,"y":2240,"wires":[["8c2ef48a.3f2cb8"]]},{"id":"8aa17673.aeab18","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":3630,"y":2200,"wires":[["525a2543.ecd38c"]]},{"id":"dae777a.fe9eb88","type":"change","z":"bca64c3b.0e4c","name":"reverse","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":3640,"y":2080,"wires":[["525a2543.ecd38c"]]},{"id":"455f198d.7202e8","type":"trigger","z":"bca64c3b.0e4c","op1":"true","op2":"false","op1type":"bool","op2type":"bool","duration":"1","extend":false,"units":"s","reset":"","bytopic":"topic","name":"ActionTime","x":3630,"y":2120,"wires":[["8c2ef48a.3f2cb8"]]},{"id":"16f991c1.1e5b3e","type":"function","z":"bca64c3b.0e4c","name":"modeChoose","func":"if(msg.payload < 4){\n    msg.payload = true;//close\n}else{\n    msg.payload = false;//open\n}\n// msg.s = global.get(\"OpennessGLOBAL\");\n// if(msg.payload){\n//     if(global.get(\"OpennessGLOBAL\") > 0){\n//         return msg;\n//     }\n// }else{\n//     if(global.get(\"OpennessGLOBAL\") < 10){\n//         return msg;\n//     }\n// }\nreturn msg;","outputs":1,"noerr":0,"x":3050,"y":2200,"wires":[["61fdd155.f9fbe"]]},{"id":"5540e67.67dfa18","type":"switch","z":"bca64c3b.0e4c","name":"choseUPDOWN","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":3320,"y":2160,"wires":[["f48e0a8d.7e46a8"],["ab63f0ba.fb54f"]]},{"id":"525a2543.ecd38c","type":"function","z":"bca64c3b.0e4c","name":"UP","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3840,"y":2080,"wires":[["de0a6c5d.9e769","b2730cee.845e5","1280742e.1c691c","73662ff7.8fa67","556a818c.9dfcf","991f36f3.5d1258","9cfcb4e.95d4748","1314a329.4abfcd","ee52399a.ba8828","8de2ec0b.6fb26","3f19fba3.bb7eb4","ac19e6ee.ccf768","5fe6e42d.c939ec"]]},{"id":"8c2ef48a.3f2cb8","type":"function","z":"bca64c3b.0e4c","name":"DOWN","func":"\nreturn msg;","outputs":1,"noerr":0,"x":3850,"y":2240,"wires":[["e50936ea.cb71e8","1a8378d1.6512b7","75a5b88d.7c79b8","75de110d.6f9bc","6d269d1d.7fac54","ec0ccc7d.66869","3a63bbb1.44dbd4","51190b03.0c0bd4","7e34086c.7a9b78","7a685731.7f17c8","52bd48de.3df978","19575cb5.4066a3","8d37a075.c931d"]]},{"id":"b2730cee.845e5","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1680,"wires":[]},{"id":"1280742e.1c691c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1720,"wires":[]},{"id":"e50936ea.cb71e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_1_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2200,"wires":[]},{"id":"1a8378d1.6512b7","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_2_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2240,"wires":[]},{"id":"75a5b88d.7c79b8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_3_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2280,"wires":[]},{"id":"73662ff7.8fa67","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1760,"wires":[]},{"id":"75de110d.6f9bc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Roller_Shades_4_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2320,"wires":[]},{"id":"7d13eb06.013084","type":"comment","z":"bca64c3b.0e4c","name":"Volet automatique Demo","info":"","x":2980,"y":2020,"wires":[]},{"id":"556a818c.9dfcf","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1820,"wires":[]},{"id":"6d269d1d.7fac54","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2380,"wires":[]},{"id":"991f36f3.5d1258","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1860,"wires":[]},{"id":"ec0ccc7d.66869","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2420,"wires":[]},{"id":"9cfcb4e.95d4748","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1900,"wires":[]},{"id":"3a63bbb1.44dbd4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/F/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2460,"wires":[]},{"id":"1314a329.4abfcd","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1940,"wires":[]},{"id":"51190b03.0c0bd4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2500,"wires":[]},{"id":"ee52399a.ba8828","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":1980,"wires":[]},{"id":"7e34086c.7a9b78","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2540,"wires":[]},{"id":"8de2ec0b.6fb26","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2020,"wires":[]},{"id":"7a685731.7f17c8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2580,"wires":[]},{"id":"3f19fba3.bb7eb4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2060,"wires":[]},{"id":"52bd48de.3df978","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2620,"wires":[]},{"id":"ac19e6ee.ccf768","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2100,"wires":[]},{"id":"5fe6e42d.c939ec","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Up)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4220,"y":2140,"wires":[]},{"id":"19575cb5.4066a3","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2660,"wires":[]},{"id":"8d37a075.c931d","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Roller_Shades_(Down)","qos":"","retain":"","broker":"e6cc5916.4480c8","x":4230,"y":2700,"wires":[]},{"id":"61fdd155.f9fbe","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":3080,"y":2300,"wires":[["5540e67.67dfa18"]]},{"id":"957bb262.216fb","type":"mqtt in","z":"bca64c3b.0e4c","name":"Openness_Capteur","topic":"/home/J/Input/float/Roller_Shades_(Openness)","qos":"2","broker":"e6cc5916.4480c8","x":2980,"y":2540,"wires":[["b72b18ec.8eaef8"]]},{"id":"b72b18ec.8eaef8","type":"delay","z":"bca64c3b.0e4c","name":"limit","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":3090,"y":2600,"wires":[["ad57270a.ba1bd8"]]},{"id":"ad57270a.ba1bd8","type":"function","z":"bca64c3b.0e4c","name":"getOpenness","func":"if(context.global.OpennessGLOBAL === undefined){\n    context.global.set(\"OpennessGLOBAL\");\n}\ncontext.global.OpennessGLOBAL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":3200,"y":2540,"wires":[]},{"id":"ef2fd4ca.d4dcf8","type":"comment","z":"bca64c3b.0e4c","name":"Openness detect Global(pas utiliser)","info":"","x":3010,"y":2500,"wires":[]},{"id":"7df4efbf.90d8f","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":620,"y":3200,"wires":[["498537eb.2854d8"]]},{"id":"498537eb.2854d8","type":"function","z":"bca64c3b.0e4c","name":"chooseRoom","func":"var API_KEY = \"8HX6895TV90H9EIB\";\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\n\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3300,"wires":[["3d63011d.7fff2e"]]},{"id":"3d63011d.7fff2e","type":"switch","z":"bca64c3b.0e4c","name":"Rooms","property":"room","propertyType":"msg","rules":[{"t":"eq","v":"A","vt":"str"},{"t":"eq","v":"D","vt":"str"},{"t":"eq","v":"E","vt":"str"},{"t":"eq","v":"G","vt":"str"},{"t":"eq","v":"H","vt":"str"},{"t":"eq","v":"I","vt":"str"},{"t":"eq","v":"J","vt":"str"},{"t":"eq","v":"K","vt":"str"},{"t":"eq","v":"L","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"O","vt":"str"}],"checkall":"true","repair":false,"outputs":12,"x":960,"y":3240,"wires":[["44d44c6e.f3fd94"],["a3d3cc9b.425f"],["ef82572a.faca48"],["f85ef232.45e43"],["1e603025.0622d"],["c5b78eba.aa6b4"],["cbd5d0b5.3c563"],["e66174c1.ab67a8"],["9ef0bb07.cafa28"],["ae364df2.2f0a9"],["53ae0b50.624fe4"],[]]},{"id":"c1c59776.664a58","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":475,"y":3420,"wires":[["8e8dadf3.cd57a"]]},{"id":"8e8dadf3.cd57a","type":"trigger","z":"bca64c3b.0e4c","op1":"1","op2":"0","op1type":"flow","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":565,"y":3420,"wires":[["5b9944dc.aaa4dc"]]},{"id":"5b9944dc.aaa4dc","type":"function","z":"bca64c3b.0e4c","name":"setRoomVisitTime","func":"if(context.global.AV === undefined){\n    context.global.set(\"AV\");\n}\ncontext.global.AV = 0;\n\nif(context.global.DV === undefined){\n    context.global.set(\"DV\");\n}\ncontext.global.DV = 0;\n\nif(context.global.EV === undefined){\n    context.global.set(\"EV\");\n}\ncontext.global.EV = 0;\n\nif(context.global.GV === undefined){\n    context.global.set(\"GV\");\n}\ncontext.global.GV = 0;\n\nif(context.global.HV === undefined){\n    context.global.set(\"HV\");\n}\ncontext.global.HV = 0;\n\nif(context.global.IV === undefined){\n    context.global.set(\"IV\");\n}\ncontext.global.IV = 0;\n\nif(context.global.JV === undefined){\n    context.global.set(\"JV\");\n}\ncontext.global.JV = 0;\n\nif(context.global.KV === undefined){\n    context.global.set(\"KV\");\n}\ncontext.global.KV = 0;\n\nif(context.global.LV === undefined){\n    context.global.set(\"LV\");\n}\ncontext.global.LV = 0;\n\nif(context.global.MV === undefined){\n    context.global.set(\"MV\");\n}\ncontext.global.MV = 0;\n\nif(context.global.NV === undefined){\n    context.global.set(\"NV\");\n}\ncontext.global.NV = 0;\n\nreturn msg;","outputs":0,"noerr":0,"x":745,"y":3420,"wires":[]},{"id":"a3d3cc9b.425f","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.DV = context.global.DV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3100,"wires":[["fe4e6acd.f55198"]]},{"id":"ef82572a.faca48","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.EV = context.global.EV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3140,"wires":[["fe4e6acd.f55198"]]},{"id":"f85ef232.45e43","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.GV = context.global.GV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3180,"wires":[["fe4e6acd.f55198"]]},{"id":"1e603025.0622d","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.HV = context.global.HV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3220,"wires":[["fe4e6acd.f55198"]]},{"id":"c5b78eba.aa6b4","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.IV = context.global.IV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3260,"wires":[["fe4e6acd.f55198"]]},{"id":"cbd5d0b5.3c563","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.JV = context.global.JV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3300,"wires":[["fe4e6acd.f55198"]]},{"id":"e66174c1.ab67a8","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.KV = context.global.KV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3340,"wires":[["fe4e6acd.f55198"]]},{"id":"9ef0bb07.cafa28","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.LV = context.global.LV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3380,"wires":[["fe4e6acd.f55198"]]},{"id":"44d44c6e.f3fd94","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.AV = context.global.AV + 0.1;\nmsg.payload = context.global.AV;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3060,"wires":[["fe4e6acd.f55198"]]},{"id":"ae364df2.2f0a9","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.MV = context.global.MV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3420,"wires":[["fe4e6acd.f55198"]]},{"id":"53ae0b50.624fe4","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.NV = context.global.NV + 0.1;\nreturn msg;","outputs":1,"noerr":0,"x":1170,"y":3460,"wires":[["fe4e6acd.f55198"]]},{"id":"fe4e6acd.f55198","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA = {};\nmsgA.name = 'A';\nmsgA.topic = 'A';\n\nvar msgD = {};\nmsgD.name = 'D';\nmsgD.topic = 'D';\n\nvar msgE = {};\nmsgE.name = 'E';\nmsgE.topic = 'E';\n\nvar msgG = {};\nmsgG.name = 'G';\nmsgG.topic = 'G';\n\nvar msgH = {};\nmsgH.name = 'H';\nmsgH.topic = 'H';\n\nvar msgI = {};\nmsgI.name = 'I';\nmsgI.topic = 'I';\n\nvar msgJ = {};\nmsgJ.name = 'J';\nmsgJ.topic = 'J';\n\nvar msgK = {};\nmsgK.name = 'K';\nmsgK.topic = 'K';\n\nvar msgL = {};\nmsgL.name = 'L';\nmsgL.topic = 'L';\n\nvar msgM = {};\nmsgM.name = 'M';\nmsgM.topic = 'M';\n\nvar msgN = {};\nmsgN.name = 'N';\nmsgN.topic = 'N';\n\nmsgA.payload = context.global.AV;\nmsgD.payload = context.global.DV;\nmsgE.payload = context.global.EV;\nmsgG.payload = context.global.GV;\nmsgH.payload = context.global.HV;\nmsgI.payload = context.global.IV;\nmsgJ.payload = context.global.JV;\nmsgK.payload = context.global.KV;\nmsgL.payload = context.global.LV;\nmsgM.payload = context.global.MV;\nmsgN.payload = context.global.NV;\n\nvar arr = [msgA,msgD,msgE,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\nreturn arr;\n","outputs":11,"noerr":0,"x":1430,"y":3220,"wires":[["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"],["eaaeff89.c7cc"]]},{"id":"eaaeff89.c7cc","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"cef6fb31.cfabe8","order":0,"width":"6","height":"11","label":"Visite Times","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":1660,"y":3220,"wires":[[],[]]},{"id":"b30e4077.cda74","type":"debug","z":"bca64c3b.0e4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":540,"y":3480,"wires":[]},{"id":"db2008c.885bbf8","type":"comment","z":"bca64c3b.0e4c","name":"Room VisitTime counter","info":"","x":550,"y":3080,"wires":[]},{"id":"8b58b489.d2b8e8","type":"comment","z":"bca64c3b.0e4c","name":"Remote Auto-Manu-Switch","info":"","x":550,"y":3620,"wires":[]},{"id":"31363aff.a471b6","type":"ui_switch","z":"bca64c3b.0e4c","name":"Manu-mode","label":"Manu mode","group":"e451255c.558d48","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":610,"y":3680,"wires":[["d18cdc69.d9e31"]]},{"id":"d18cdc69.d9e31","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.Manu === undefined){\n    context.global.set(\"Manu\");\n}\ncontext.global.Manu = msg.payload;\n\n","outputs":0,"noerr":0,"x":820,"y":3680,"wires":[]},{"id":"6ada62a0.e198ec","type":"function","z":"bca64c3b.0e4c","name":"ifAutoMode?","func":"if(!global.get(\"Manu\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":620,"y":3760,"wires":[[]]},{"id":"71164810.4a2e68","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":480,"y":3860,"wires":[["77e5e4d2.2a025c"]]},{"id":"77e5e4d2.2a025c","type":"trigger","z":"bca64c3b.0e4c","op1":"1","op2":"0","op1type":"flow","op2type":"str","duration":"0","extend":false,"units":"ms","reset":"","bytopic":"all","name":"","x":570,"y":3860,"wires":[["a2988ab9.a2b288"]]},{"id":"a2988ab9.a2b288","type":"function","z":"bca64c3b.0e4c","name":"setLightState","func":"if(context.global.ALAMP === undefined){\n    context.global.set(\"ALAMP\");\n}\ncontext.global.ALAMP = false;\n\nif(context.global.BLAMP === undefined){\n    context.global.set(\"BLAMP\");\n}\ncontext.global.BLAMP = false;\n\nif(context.global.CLAMP === undefined){\n    context.global.set(\"CLAMP\");\n}\ncontext.global.CLAMP = false;\n\nif(context.global.DLAMP === undefined){\n    context.global.set(\"DLAMP\");\n}\ncontext.global.DLAMP = false;\n\nif(context.global.ELAMP === undefined){\n    context.global.set(\"ELAMP\");\n}\ncontext.global.ELAMP = false;\n\nif(context.global.FLAMP === undefined){\n    context.global.set(\"FLAMP\");\n}\ncontext.global.FLAMP = false;\n\nif(context.global.GLAMP === undefined){\n    context.global.set(\"GLAMP\");\n}\ncontext.global.GLAMP = false;\n\nif(context.global.HLAMP === undefined){\n    context.global.set(\"HLAMP\");\n}\ncontext.global.HLAMP = false;\n\nif(context.global.ILAMP === undefined){\n    context.global.set(\"ILAMP\");\n}\ncontext.global.ILAMP = false;\n\nif(context.global.JLAMP === undefined){\n    context.global.set(\"JLAMP\");\n}\ncontext.global.JLAMP = false;\n\nif(context.global.KLAMP === undefined){\n    context.global.set(\"KLAMP\");\n}\ncontext.global.KLAMP = false;\n\nif(context.global.LLAMP === undefined){\n    context.global.set(\"LLAMP\");\n}\ncontext.global.LLAMP = false;\n\nif(context.global.MLAMP === undefined){\n    context.global.set(\"MLAMP\");\n}\ncontext.global.MLAMP = false;\n\nif(context.global.NLAMP === undefined){\n    context.global.set(\"NLAMP\");\n}\ncontext.global.NLAMP = false;\n\nif(context.global.EnLAMP === undefined){\n    context.global.set(\"EnLAMP\");\n}\ncontext.global.EnLAMP = false;\n\nreturn msg;","outputs":0,"noerr":0,"x":730,"y":3860,"wires":[]},{"id":"9fff558c.e050c8","type":"comment","z":"bca64c3b.0e4c","name":"Remote Lock ","info":"","x":1950,"y":3100,"wires":[]},{"id":"e3480148.2e872","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_1","qos":"2","broker":"a2c91eda.08e26","x":2070,"y":3340,"wires":[["bd607464.3939d8"]]},{"id":"b8915d09.1792","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Leave Home Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1990,"y":3180,"wires":[["5cd7f3dd.185f3c"]]},{"id":"aa69cba2.201f58","type":"function","z":"bca64c3b.0e4c","name":"SetLeaveHomeLockMode","func":"if(context.global.LEAVEHOMELOCK === undefined){\n    context.global.set(\"LEAVEHOMELOCK\");\n}\ncontext.global.LEAVEHOMELOCK = msg.payload;\nif(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n\n","outputs":1,"noerr":0,"x":2420,"y":3140,"wires":[[]]},{"id":"a45d9ba1.1aade8","type":"ui_switch","z":"bca64c3b.0e4c","name":"","label":"Night Sleep Mode","group":"cd1c51a0.0190b","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1990,"y":3260,"wires":[["852c6ea2.7da6b"]]},{"id":"6e3eb90b.3a0058","type":"function","z":"bca64c3b.0e4c","name":"SetNightSleepLockMode","func":"\nif(context.global.NIGHTSLEEPLOCK === undefined){\n    context.global.set(\"NIGHTSLEEPLOCK\");\n}\ncontext.global.NIGHTSLEEPLOCK = msg.payload;\n","outputs":0,"noerr":0,"x":2410,"y":3300,"wires":[]},{"id":"bd607464.3939d8","type":"function","z":"bca64c3b.0e4c","name":"if lock sleep mode?","func":"if(global.get(\"NIGHTSLEEPLOCK\")){\n    return [msg,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":2430,"y":3380,"wires":[["d16a5a47.c9e3c8"],["925994d3.349758"]]},{"id":"9ee66d6a.e4807","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector_2","qos":"2","broker":"a2c91eda.08e26","x":2070,"y":3380,"wires":[["bd607464.3939d8"]]},{"id":"794f2b5d.eeca74","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Door_Detector","qos":"2","broker":"a2c91eda.08e26","x":2080,"y":3420,"wires":[["bd607464.3939d8"]]},{"id":"5ba1250a.6efdbc","type":"mqtt in","z":"bca64c3b.0e4c","name":"","topic":"/home/+/Input/bool/Motion_Detector","qos":"2","broker":"a2c91eda.08e26","x":2080,"y":3620,"wires":[["a5222b9a.59ff98"]]},{"id":"a5222b9a.59ff98","type":"function","z":"bca64c3b.0e4c","name":"setmode","func":"a = \"True\";\nif(msg.payload == a){\n    msg.open = true;\n}else{\n    msg.open = false;\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2170,"y":3660,"wires":[["cfe45108.7164d"]]},{"id":"cfe45108.7164d","type":"switch","z":"bca64c3b.0e4c","name":"seperate signal","property":"open","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":2150,"y":3720,"wires":[["20fb0217.6b92ae"],[]]},{"id":"3136c9ee.4f7e56","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA = {};\nmsgA.topic = 'A';\nmsgA.payload = 0;\n\nmsgB = {};\nmsgB.topic = 'B';\nmsgB.payload = 0;\n\nmsgD = {};\nmsgD.topic = 'D';\nmsgD.payload = 0;\n\nmsgE1 = {};\nmsgE1.topic = 'E';\nmsgE1.payload = 0;\n\n\nmsgE2 = {};\nmsgE2.topic = 'E';\nmsgE2.payload = 0;\n\n\nmsgF = {};\nmsgF.topic = 'F';\nmsgF.payload = 0;\n\n\nmsgG = {};\nmsgG.topic = 'G';\nmsgG.payload = 0;\n\nmsgH = {};\nmsgH.topic = 'H';\nmsgH.payload = 0;\n\nmsgI = {};\nmsgI.topic = 'I';\nmsgI.payload = 0;\n\nmsgJ = {};\nmsgJ.topic = 'J';\nmsgJ.payload = 0;\n\nmsgK = {};\nmsgK.topic = 'K';\nmsgK.payload = 0;\n\nmsgL = {};\nmsgL.topic = 'L';\nmsgL.payload = 0;\n\nmsgM = {};\nmsgM.topic = 'M';\nmsgM.payload = 0;\n\nmsgN = {};\nmsgN.topic = 'N';\nmsgN.payload = 0;\nvar arr = [msgA,msgB,msgD,msgE1,msgE2,msgF,msgG,msgH,msgI,msgJ,msgK,msgL,msgM,msgN];\n\n\nvar split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\narr.forEach(function(name){\n    if(name.topic == msg.room){\n        if(msg.payload){\n            name.payload = 1;\n        }else{\n            name.payload = 0;\n        }\n    }\n})\n\nreturn arr;\n","outputs":14,"noerr":0,"x":2450,"y":3700,"wires":[["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"],["28dc7f74.976de"]]},{"id":"28dc7f74.976de","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Mouvement Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":2720,"y":3620,"wires":[[],[]]},{"id":"20fb0217.6b92ae","type":"function","z":"bca64c3b.0e4c","name":"if lock leave mode?","func":"if(global.get(\"LEAVEHOMELOCK\")){\n    return [msg,msg];\n}\nreturn msg;","outputs":2,"noerr":0,"x":2140,"y":3780,"wires":[["3136c9ee.4f7e56"],["925994d3.349758"]]},{"id":"2cf9c214.90ed1e","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2710,"y":3540,"wires":[]},{"id":"833c0ad5.2787e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2710,"y":3500,"wires":[]},{"id":"7ce74f91.c91e8","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":2105,"y":3540,"wires":[["ced36036.26fe1"]]},{"id":"925994d3.349758","type":"function","z":"bca64c3b.0e4c","name":"Launch","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"x":2450,"y":3500,"wires":[["833c0ad5.2787e8","2cf9c214.90ed1e"]]},{"id":"2fa097bc.ad4158","type":"function","z":"bca64c3b.0e4c","name":"StopAlarm","func":"msg.payload = false;\nif(!global.get(\"NIGHTSLEEPLOCK\")){\n    return msg;\n}","outputs":1,"noerr":0,"x":2430,"y":3540,"wires":[["833c0ad5.2787e8","2cf9c214.90ed1e"]]},{"id":"3c4ee63c.09e7ca","type":"function","z":"bca64c3b.0e4c","name":"graph","func":"var msgA1 = {};\nmsgA1.name = 'A';\nmsgA1.detecteur = \"Door_Detector_1\";\nmsgA1.topic = 'A1';\n\nvar msgA2 = {};\nmsgA2.namec = 'A';\nmsgA2.detecteur = \"Door_Detector_2\";\nmsgA2.topic = 'A2';\n\nvar msgD = {};\nmsgD.name = 'D';\nmsgD.detecteur = \"Door_Detector\";\nmsgD.topic = 'D';\n\nvar msgE1 = {};\nmsgE1.name = 'E';\nmsgE1.detecteur = \"Door_Detector_1\";\nmsgE1.topic = 'E1';\n\nvar msgE2 = {}\nmsgE2.name = 'E';\nmsgE2.detecteur = \"Door_Detector_2\";\nmsgE2.topic = 'E2';\n\nvar msgH1 = {};\nmsgH1.name = 'H';\nmsgH1.detecteur = \"Door_Detector_1\";\nmsgH1.topic = 'H1';\n\nvar msgH2 = {};\nmsgH2.name = 'H';\nmsgH2.detecteur = \"Door_Detector_2\";\nmsgH2.topic = 'H2';\n\nvar msgJ1 = {};\nmsgJ1.name = 'J';\nmsgJ1.detecteur = \"Door_Detector_1\";\nmsgJ1.topic = 'J1';\n\nvar msgJ2 = {};\nmsgJ2.name = 'J';\nmsgJ2.detecteur = \"Door_Detector_2\";\nmsgJ2.topic = 'J2';\n\nvar msgL1 = {};\nmsgL1.name = 'L';\nmsgL1.detecteur = \"Door_Detector_1\";\nmsgL1.topic = 'L1';\n\nvar msgL2 = {};\nmsgL2.name = 'L';\nmsgL2.detecteur = \"Door_Detector_2\";\nmsgL2.topic = 'L2';\n\nvar msgM1 = {};\nmsgM1.name = 'M';\nmsgM1.detecteur = \"Door_Detector_1\";\nmsgM1.topic = 'M1';\n\nvar msgM2 = {};\nmsgM2.name = 'M';\nmsgM2.detecteur = \"Door_Detector_2\";\nmsgM2.topic = 'M2';\n\nvar msgN1 = {};\nmsgN1.name = 'N';\nmsgN1.detecteur = \"Door_Detector_1\";\nmsgN1.topic = 'N1';\n\nvar msgN2 = {};\nmsgN2.name = 'N';\nmsgN2.detecteur = \"Door_Detector_2\";\nmsgN2.topic = 'N2';\nmsgA1.payload = context.global.A1;\nmsgA2.payload = context.global.A2;\nmsgD.payload = context.global.D;\nmsgE1.payload = context.global.E1;\nmsgE2.payload = context.global.E2;\nmsgH1.payload = context.global.H1;\nmsgH2.payload = context.global.H2;\nmsgJ1.payload = context.global.J1;\nmsgJ2.payload = context.global.J2;\nmsgL1.payload = context.global.L1;\nmsgL2.payload = context.global.L2;\nmsgM1.payload = context.global.M1;\nmsgM2.payload = context.global.M2;\nmsgN1.payload = context.global.N1;\nmsgN2.payload = context.global.N2;\n\nvar arr = [msgA1,msgA2,msgD,msgE1,msgE2,msgH1,msgH2,msgJ1,msgJ2,msgL1,msgL2,msgM1,msgM2,msgN1,msgN2];\n\nreturn arr;\n","outputs":15,"noerr":0,"x":3180,"y":3340,"wires":[["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"],["acea60c1.a9ef3"]]},{"id":"acea60c1.a9ef3","type":"ui_chart","z":"bca64c3b.0e4c","name":"","group":"3d4cb1fb.37d88e","order":0,"width":"3","height":"15","label":"Port  Important Etat  Surveillance","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":true,"colors":["#ffff00","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":3550,"y":3340,"wires":[[],[]]},{"id":"d16a5a47.c9e3c8","type":"function","z":"bca64c3b.0e4c","name":"detectdoor","func":"var split = msg.topic.split(/[/]+/);\n\nmsg.room = split[2];\nmsg.number = split[5];\nmsg.info = msg.room + msg.number;\nif(msg.payload == \"True\"){\n    msg.payload = 0;\n}else{\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2660,"y":3340,"wires":[["5e910e54.e3fda"]]},{"id":"5e910e54.e3fda","type":"switch","z":"bca64c3b.0e4c","name":"","property":"info","propertyType":"msg","rules":[{"t":"eq","v":"ADoor_Detector_1","vt":"str"},{"t":"eq","v":"ADoor_Detector_2","vt":"str"},{"t":"eq","v":"DDoor_Detector","vt":"str"},{"t":"eq","v":"EDoor_Detector_1","vt":"str"},{"t":"eq","v":"EDoor_Detector_2","vt":"str"},{"t":"eq","v":"HDoor_Detector_1","vt":"str"},{"t":"eq","v":"HDoor_Detector_2","vt":"str"},{"t":"eq","v":"JDoor_Detector_1","vt":"str"},{"t":"eq","v":"JDoor_Detector_2","vt":"str"},{"t":"eq","v":"LDoor_Detector_1","vt":"str"},{"t":"eq","v":"LDoor_Detector_2","vt":"str"},{"t":"eq","v":"MDoor_Detector_1","vt":"str"},{"t":"eq","v":"MDoor_Detector_2","vt":"str"},{"t":"eq","v":"NDoor_Detector_1","vt":"str"},{"t":"eq","v":"NDoor_Detector_2","vt":"str"}],"checkall":"true","repair":false,"outputs":15,"x":2810,"y":3340,"wires":[["c850902.8f4c17"],["5c0fe6cf.0d01d8"],["d8cc4b0e.f2d008"],["a1f0d27.c8f823"],["cb94550e.cf48b8"],["e28d22c4.3bbab"],["106f220b.7bdd8e"],["a81b04ce.e3bdb8"],["27154353.5e1ddc"],["c6a6bc78.1d904"],["ad23b5ef.23be48"],["a250006e.aefc"],["b812867a.101198"],["6e4ef065.0bc77"],["b46ca3fb.3f941"]]},{"id":"c850902.8f4c17","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.A1=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3200,"wires":[["3c4ee63c.09e7ca"]]},{"id":"5c0fe6cf.0d01d8","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.A2 = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3220,"wires":[["3c4ee63c.09e7ca"]]},{"id":"d8cc4b0e.f2d008","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.D= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3240,"wires":[["3c4ee63c.09e7ca"]]},{"id":"a1f0d27.c8f823","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.E1= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3260,"wires":[["3c4ee63c.09e7ca"]]},{"id":"cb94550e.cf48b8","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.E2= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3280,"wires":[["3c4ee63c.09e7ca"]]},{"id":"e28d22c4.3bbab","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.H1= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3300,"wires":[["3c4ee63c.09e7ca"]]},{"id":"106f220b.7bdd8e","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.H2= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3320,"wires":[["3c4ee63c.09e7ca"]]},{"id":"a81b04ce.e3bdb8","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.J1= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3340,"wires":[["3c4ee63c.09e7ca"]]},{"id":"27154353.5e1ddc","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.J2=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3360,"wires":[["3c4ee63c.09e7ca"]]},{"id":"c6a6bc78.1d904","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.L1= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3380,"wires":[["3c4ee63c.09e7ca"]]},{"id":"ad23b5ef.23be48","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.L2= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3400,"wires":[["3c4ee63c.09e7ca"]]},{"id":"a250006e.aefc","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.M1= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3420,"wires":[["3c4ee63c.09e7ca"]]},{"id":"b812867a.101198","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.M2= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3440,"wires":[["3c4ee63c.09e7ca"]]},{"id":"6e4ef065.0bc77","type":"function","z":"bca64c3b.0e4c","name":"","func":" context.global.N1=msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3460,"wires":[["3c4ee63c.09e7ca"]]},{"id":"b46ca3fb.3f941","type":"function","z":"bca64c3b.0e4c","name":"","func":"context.global.N2= msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2980,"y":3480,"wires":[["3c4ee63c.09e7ca"]]},{"id":"8686a683.c7a1b8","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":1925,"y":3900,"wires":[["b3d2a048.c7ad1"]]},{"id":"b3d2a048.c7ad1","type":"function","z":"bca64c3b.0e4c","name":"InitialDoorState","func":"if(context.global.A1 === undefined){\n    context.global.set(\"A1\");\n    context.global.A1 = 0;\n}\n\nif(context.global.A2 === undefined){\n    context.global.set(\"A2\");\n    context.global.A2 = 0;\n}\n\nif(context.global.D === undefined){\n    context.global.set(\"D\");\n    context.global.D = 0;\n}\n\nif(context.global.E1 === undefined){\n    context.global.set(\"E1\");\n    context.global.E1 = 0;\n}\n\nif(context.global.E2 === undefined){\n    context.global.set(\"E2\");\n    context.global.E2 = 0;\n}\n\nif(context.global.H1 === undefined){\n    context.global.set(\"H1\");\n    context.global.H1 = 0;\n}\n\nif(context.global.H2 === undefined){\n    context.global.set(\"H2\");\n    context.global.H2 = 0;\n}\n\nif(context.global.J1 === undefined){\n    context.global.set(\"J1\");\n    context.global.J1 = 0;\n}\n\nif(context.global.J2 === undefined){\n    context.global.set(\"J2\");\n    context.global.J2 = 0;\n}\n\nif(context.global.L1 === undefined){\n    context.global.set(\"L1\");\n    context.global.L1 = 0;\n}\n\nif(context.global.L2 === undefined){\n    context.global.set(\"L2\");\n    context.global.L2 = 0;\n}\n\nif(context.global.M1 === undefined){\n    context.global.set(\"M1\");\n    context.global.M1 = 0;\n}\n\nif(context.global.M2 === undefined){\n    context.global.set(\"M2\");\n    context.global.M2 = 0;\n}\n\nif(context.global.N1 === undefined){\n    context.global.set(\"N1\");\n    context.global.N1 = 0;\n}\n\nif(context.global.N2 === undefined){\n    context.global.set(\"N2\");\n    context.global.N2 = 0;\n}\n\nif(context.global.ALLCLOSE === undefined){\n    context.global.set(\"ALLCLOSE\");\n    context.global.ALLCLOSE = true;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":2060,"y":3900,"wires":[["966dc8ae.6d6438"]]},{"id":"966dc8ae.6d6438","type":"function","z":"bca64c3b.0e4c","name":"checkAllClose","func":"var arr = [context.global.A1,context.global.A2,\ncontext.global.D,context.global.E1,context.global.E2,\ncontext.global.H1,context.global.H2,context.global.J1,\ncontext.global.J2,context.global.L1,context.global.L2,\ncontext.global.M1,context.global.M2,context.global.N1,\ncontext.global.N2];\ncontext.global.ALLCLOSE = true;\narr.forEach(function(name){\n    if(name == 1){\n        context.global.ALLCLOSE = false;\n        msg.payload = name;\n    }\n})\nreturn msg;","outputs":1,"noerr":0,"x":2300,"y":3900,"wires":[[]]},{"id":"fafc2406.5998e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/O/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2570,"y":3200,"wires":[]},{"id":"472eb2c0.62b39c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Siren","qos":"","retain":"","broker":"e6cc5916.4480c8","x":2570,"y":3240,"wires":[]},{"id":"5cd7f3dd.185f3c","type":"switch","z":"bca64c3b.0e4c","name":"canLock","property":"ALLCLOSE","propertyType":"global","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":2170,"y":3180,"wires":[["aa69cba2.201f58"],["4f0b27de.962848"]]},{"id":"852c6ea2.7da6b","type":"switch","z":"bca64c3b.0e4c","name":"canLock","property":"ALLCLOSE","propertyType":"global","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":2170,"y":3260,"wires":[["4f0b27de.962848"],["6e3eb90b.3a0058"]]},{"id":"4f0b27de.962848","type":"function","z":"bca64c3b.0e4c","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":2320,"y":3220,"wires":[["fafc2406.5998e8","472eb2c0.62b39c"]]},{"id":"ced36036.26fe1","type":"delay","z":"bca64c3b.0e4c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"3","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2230,"y":3540,"wires":[["2fa097bc.ad4158"]]},{"id":"22394fc.cc208b","type":"debug","z":"bca64c3b.0e4c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2490,"y":3900,"wires":[]},{"id":"18098bc9.144a24","type":"ui_numeric","z":"bca64c3b.0e4c","name":"TemperatureSet","label":"numeric","group":"7b25e5e1.b2319c","order":0,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}}","min":"5","max":"30","step":1,"x":890,"y":4260,"wires":[["3a01a402.b574ac"]]},{"id":"b154035.fd","type":"comment","z":"bca64c3b.0e4c","name":"Air conditioner","info":"","x":640,"y":4200,"wires":[]},{"id":"440543a2.448ddc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/A/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4340,"wires":[]},{"id":"3a01a402.b574ac","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TTar === undefined){\n    context.global.set(\"TTar\");\n}\nmsg.c = msg.payload;\ncontext.global.TTar = msg.c;","outputs":0,"noerr":0,"x":1110,"y":4260,"wires":[]},{"id":"bb7ba593.cbc0a8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/D/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4380,"wires":[]},{"id":"39170392.36405c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/E/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4420,"wires":[]},{"id":"604e324c.b7dc0c","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Heater_2","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1160,"y":4460,"wires":[]},{"id":"6777318c.c4cfb","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/G/Output/bool/Heater_1","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1160,"y":4500,"wires":[]},{"id":"19d313d2.3e7abc","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/H/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4540,"wires":[]},{"id":"a65e83e1.532a1","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/I/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4580,"wires":[]},{"id":"49c2a02f.bbab4","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/J/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4620,"wires":[]},{"id":"9420a684.e72758","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/K/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4660,"wires":[]},{"id":"b29ee56b.dbe518","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/L/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4700,"wires":[]},{"id":"914bb6f5.d6a5e8","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/M/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4740,"wires":[]},{"id":"2529dd56.5972c2","type":"mqtt out","z":"bca64c3b.0e4c","name":"","topic":"/home/N/Output/bool/Heater","qos":"","retain":"","broker":"e6cc5916.4480c8","x":1150,"y":4780,"wires":[]},{"id":"1e2ce71f.c94ac9","type":"link in","z":"bca64c3b.0e4c","name":"","links":["7afd1fbc.0beb"],"x":535,"y":4560,"wires":[["e3992e98.4ddf8","8acfd351.820ee","2d1abaf7.9a7d26","df022686.0c6bd8","4d507c39.d8b074","78e7d7e2.c17ae8","f2486c07.2de8f","d02ec915.675218","ee786025.9ec47","7a64d350.e6b85c","b0de21d5.6c9d6"]]},{"id":"e3992e98.4ddf8","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\n\n\n\nmsg.a= global.get(\"TA\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.AV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\n\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4360,"wires":[["440543a2.448ddc"]]},{"id":"8acfd351.820ee","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TD\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.DV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\n\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4400,"wires":[["bb7ba593.cbc0a8"]]},{"id":"2d1abaf7.9a7d26","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TE\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.EV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4440,"wires":[["39170392.36405c"]]},{"id":"df022686.0c6bd8","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TG\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.GV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4480,"wires":[["604e324c.b7dc0c","6777318c.c4cfb"]]},{"id":"4d507c39.d8b074","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TH\");\nmsg.b=global.get(\"TTar\")+273;\n\nif(context.global.tempEco){\n    msg.rate = context.global.HV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4520,"wires":[["19d313d2.3e7abc"]]},{"id":"78e7d7e2.c17ae8","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TI\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.IV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4560,"wires":[["a65e83e1.532a1"]]},{"id":"f2486c07.2de8f","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TJ\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.JV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4600,"wires":[["49c2a02f.bbab4"]]},{"id":"d02ec915.675218","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TK\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.KV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4640,"wires":[["9420a684.e72758"]]},{"id":"ee786025.9ec47","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TL\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.LV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4680,"wires":[["b29ee56b.dbe518"]]},{"id":"7a64d350.e6b85c","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TM\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.MV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4720,"wires":[["914bb6f5.d6a5e8"]]},{"id":"b0de21d5.6c9d6","type":"function","z":"bca64c3b.0e4c","name":"work independent","func":"msg.total =\ncontext.global.AV+\ncontext.global.DV+\ncontext.global.EV+\ncontext.global.GV+\ncontext.global.HV+\ncontext.global.IV+\ncontext.global.JV+\ncontext.global.KV+\ncontext.global.LV+\ncontext.global.MV+\ncontext.global.NV;\n\nmsg.a= global.get(\"TN\");\nmsg.b=global.get(\"TTar\")+273;\nif(context.global.tempEco){\n    msg.rate = context.global.NV/msg.total;\n    if(msg.rate < 0.1){\n        msg.b = msg.b - 5;\n    }\n}\nif(msg.a<msg.b){\n    msg.payload = true;\n}else{\n    msg.payload = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4760,"wires":[["2529dd56.5972c2"]]},{"id":"574b8445.8ff54c","type":"ui_switch","z":"bca64c3b.0e4c","name":"economic mode","label":"economic mode","group":"7b25e5e1.b2319c","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":970,"y":4220,"wires":[["91daf44b.5f3a58"]]},{"id":"91daf44b.5f3a58","type":"function","z":"bca64c3b.0e4c","name":"SetMode","func":"if(context.global.tempEco === undefined){\n    context.global.set(\"tempEco\");\n}\ncontext.global.tempEco = msg.payload;","outputs":0,"noerr":0,"x":1170,"y":4220,"wires":[]},{"id":"97279938.601378","type":"mqtt in","z":"bca64c3b.0e4c","name":"TA","topic":"/home/general/Memory/float/Temperature_Zone_A_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4260,"wires":[["cb1fc476.c36b18"]]},{"id":"c47a1f7b.1b95e","type":"mqtt in","z":"bca64c3b.0e4c","name":"TB","topic":"/home/general/Memory/float/Temperature_Zone_B_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4300,"wires":[["b54e8893.1f2928"]]},{"id":"38e54a10.2b1bb6","type":"mqtt in","z":"bca64c3b.0e4c","name":"TC","topic":"/home/general/Memory/float/Temperature_Zone_C_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4260,"wires":[["b9382265.2e855"]]},{"id":"5789004c.4bd05","type":"mqtt in","z":"bca64c3b.0e4c","name":"TD","topic":"/home/general/Memory/float/Temperature_Zone_D_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4300,"wires":[["58e8a331.77e7dc"]]},{"id":"2d5bbead.aa4342","type":"mqtt in","z":"bca64c3b.0e4c","name":"TE","topic":"/home/general/Memory/float/Temperature_Zone_E_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4340,"wires":[["d321ef68.48a76"]]},{"id":"3701babe.aa05f6","type":"mqtt in","z":"bca64c3b.0e4c","name":"TF","topic":"/home/general/Memory/float/Temperature_Zone_F_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4380,"wires":[["aa140da1.fa7ed"]]},{"id":"15c08602.f6b4ea","type":"mqtt in","z":"bca64c3b.0e4c","name":"TG","topic":"/home/general/Memory/float/Temperature_Zone_G_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4340,"wires":[["915ef982.9ee9e8"]]},{"id":"92a1fe60.e5eb","type":"mqtt in","z":"bca64c3b.0e4c","name":"TH","topic":"/home/general/Memory/float/Temperature_Zone_H_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4380,"wires":[["c7b951c3.3a1cb"]]},{"id":"16691343.7ba7fd","type":"mqtt in","z":"bca64c3b.0e4c","name":"TI","topic":"/home/general/Memory/float/Temperature_Zone_I_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4420,"wires":[["9491dc42.c60e8"]]},{"id":"3f6abeb2.d1ea22","type":"mqtt in","z":"bca64c3b.0e4c","name":"TJ","topic":"/home/general/Memory/float/Temperature_Zone_J_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4460,"wires":[["b0985628.ae6128"]]},{"id":"acd7dd0e.48afd","type":"mqtt in","z":"bca64c3b.0e4c","name":"TK","topic":"/home/general/Memory/float/Temperature_Zone_K_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4420,"wires":[["73bdf788.a73ea8"]]},{"id":"2edc732.c4d158c","type":"mqtt in","z":"bca64c3b.0e4c","name":"TL","topic":"/home/general/Memory/float/Temperature_Zone_L_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4460,"wires":[["229cdabc.e2b606"]]},{"id":"a9ccef5e.56135","type":"mqtt in","z":"bca64c3b.0e4c","name":"TM","topic":"/home/general/Memory/float/Temperature_Zone_M_[K]","qos":"2","broker":"e6cc5916.4480c8","x":1540,"y":4500,"wires":[["5cecd918.988f68"]]},{"id":"ccb5a4d5.0f4698","type":"mqtt in","z":"bca64c3b.0e4c","name":"TN","topic":"/home/general/Memory/float/Temperature_Zone_N_[K]","qos":"2","broker":"e6cc5916.4480c8","x":2000,"y":4500,"wires":[["3c4e89e3.8547c6"]]},{"id":"cb1fc476.c36b18","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4260,"wires":[["8f95c39b.497"]]},{"id":"b54e8893.1f2928","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4300,"wires":[["93dd807e.3af29"]]},{"id":"b9382265.2e855","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4260,"wires":[["a7d7b529.bb3b48"]]},{"id":"58e8a331.77e7dc","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4300,"wires":[["62010ae3.a0bb94"]]},{"id":"d321ef68.48a76","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4340,"wires":[["a9fdc42b.40a4d8"]]},{"id":"aa140da1.fa7ed","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4380,"wires":[["cbb52eee.249a"]]},{"id":"915ef982.9ee9e8","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4340,"wires":[["227099e9.d6bf66"]]},{"id":"c7b951c3.3a1cb","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4380,"wires":[["ffbe448b.e7b738"]]},{"id":"9491dc42.c60e8","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4420,"wires":[["2d23a55e.0f7e5a"]]},{"id":"b0985628.ae6128","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4460,"wires":[["ab54f0fe.3a2a3"]]},{"id":"73bdf788.a73ea8","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4420,"wires":[["c1c2d07d.221d2"]]},{"id":"229cdabc.e2b606","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4460,"wires":[["711bca54.d32bc4"]]},{"id":"5cecd918.988f68","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1670,"y":4500,"wires":[["112b98c2.7553f7"]]},{"id":"3c4e89e3.8547c6","type":"delay","z":"bca64c3b.0e4c","name":"1/2","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2130,"y":4500,"wires":[["49a662ac.63af5c"]]},{"id":"8f95c39b.497","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TA === undefined){\n    context.global.set(\"TA\");\n}\ncontext.global.TA = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4260,"wires":[]},{"id":"93dd807e.3af29","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TB === undefined){\n    context.global.set(\"TB\");\n}\ncontext.global.TB = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4300,"wires":[]},{"id":"a7d7b529.bb3b48","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TC === undefined){\n    context.global.set(\"TC\");\n}\ncontext.global.TC = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4260,"wires":[]},{"id":"62010ae3.a0bb94","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TD === undefined){\n    context.global.set(\"TD\");\n}\ncontext.global.TD = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4300,"wires":[]},{"id":"a9fdc42b.40a4d8","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TE === undefined){\n    context.global.set(\"TE\");\n}\ncontext.global.TE = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4340,"wires":[]},{"id":"cbb52eee.249a","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TF === undefined){\n    context.global.set(\"TF\");\n}\ncontext.global.TF = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4380,"wires":[]},{"id":"227099e9.d6bf66","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TG === undefined){\n    context.global.set(\"TG\");\n}\ncontext.global.TG = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4340,"wires":[]},{"id":"ffbe448b.e7b738","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TH === undefined){\n    context.global.set(\"TH\");\n}\ncontext.global.TH = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4380,"wires":[]},{"id":"2d23a55e.0f7e5a","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TI === undefined){\n    context.global.set(\"TI\");\n}\ncontext.global.TI = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4420,"wires":[]},{"id":"ab54f0fe.3a2a3","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TJ === undefined){\n    context.global.set(\"TJ\");\n}\ncontext.global.TJ = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4460,"wires":[]},{"id":"c1c2d07d.221d2","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TK === undefined){\n    context.global.set(\"TK\");\n}\ncontext.global.TK = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4420,"wires":[]},{"id":"711bca54.d32bc4","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TL === undefined){\n    context.global.set(\"TL\");\n}\ncontext.global.TL = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4460,"wires":[]},{"id":"112b98c2.7553f7","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TM === undefined){\n    context.global.set(\"TM\");\n}\ncontext.global.TM = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":1840,"y":4500,"wires":[]},{"id":"49a662ac.63af5c","type":"function","z":"bca64c3b.0e4c","name":"setTemperature","func":"if(context.global.TN === undefined){\n    context.global.set(\"TN\");\n}\ncontext.global.TN = msg.payload;\nmsg.a = msg.payload;","outputs":0,"noerr":0,"x":2300,"y":4500,"wires":[]},{"id":"5c9007c4.260838","type":"comment","z":"bca64c3b.0e4c","name":"Temperature Setter","info":"","x":1490,"y":4200,"wires":[]},{"id":"e6cc5916.4480c8","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a2c91eda.08e26","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"66e6ce19.241c6","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8afd9e0b.b8999","type":"ui_group","z":"","name":"Lumiere","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3b03d596.d6bb0a","type":"ui_group","z":"","name":"Garage","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"49e5d472.08d61c","type":"ui_group","z":"","name":"Portail","tab":"dd5cfe14.33fc6","disp":true,"width":"3","collapse":false},{"id":"cd1c51a0.0190b","type":"ui_group","z":"","name":"Securite","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"cef6fb31.cfabe8","type":"ui_group","z":"","name":"Room Statistic","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"e451255c.558d48","type":"ui_group","z":"","name":"Mode Switch","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"3d4cb1fb.37d88e","type":"ui_group","z":"","name":"Room Etat","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"7b25e5e1.b2319c","type":"ui_group","z":"","name":"Temperature","tab":"dd5cfe14.33fc6","disp":true,"width":"6","collapse":false},{"id":"dd5cfe14.33fc6","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]